@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #CE6B00;
  background-image: url('../img/2/background.png');
}
#{$slide} {
  background-color: #CE6B00;
  background-image: url('../img/2/background.png');
  text-align: center;

  .requisitos .caja{
    float: left;
    width: 50%;
  }

  .requisitos .caja h3{
    color: #353F4C;
    font-size: 2em;
    -webkit-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
    -moz-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
    box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
  }

  .requisitos .caja ul {
    list-style: none;
    padding: 0px 17%;
    text-align: left;
  }
  .requisitos .caja li {
    padding-left: 1.3em;
    font-size: 1.5em;
    color: #353F4C;
  }
  .requisitos .caja li:before {
    content: "\f111"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    font-size: 0.8em;
    color: #91CAE4;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
  }

  .requisitos .caja h4{
    color: #91CAE4;
    font-size: 2.2em;
    font-weight: bold;
  }

  .requisitos .caja h4 span{
    font-size: 2em;
  }

  .requisitos .caja .cajita{
    padding: 0 15%;
  }

  .requisitos .caja .cajita i{
    float: left;
    width: 20%;
    font-size: 2.5em;
    margin-top: 3%;
  }

  .requisitos .caja .cajita p{
    float: left;
    font-size: 1.8em;
  }

  .requisitos .caja .miSarita{
    background-image: url(../img/4/personajes.png);
    width: 66%;
    height: 350px;
    float: left;
    margin: 0 19%;
  }
}