<div class="requisitos">
	
	<div class="caja">
		<h3><strong>REQUISITOS CLASE:</strong></h3>

		<ul>
		 	<li>Patines(semi-profesionales)</li>
		 	<li>Protecciones (codos, rodillas, manos)</li>
		</ul>

		<br><br>

		<h3><strong>LUGARES DE ENTRENAMIENTO</strong></h3>
		<ul>
		 	<li>Villa Olímipica</li>
		 	<li>Rochela</li>
		 	<li>Héroes</li>
		 	<li>7ma Esperanza</li>
		 	<li>Rosa Blanca Oriental</li>
		 	<li>Jardín</li>
		 	<li>Serranía</li>
		 	<li>Remansos de Rosa Blanca</li>
		 	<li>Rosita</li>
		 	<li>Gaviotas</li>
		 	<li>Sabana</li>
		 	<li>Maracos</li>
		 	<li>Ciudad Cofrem (Porfía)</li>
		</ul>

		<br><br>

		<h3><strong>CONTÁCTENOS</strong></h3>
		<ul>
		 	<li>Oficina 5 patinódromo
				<br> Villa Olímpica de Villavicencio
		 	</li>
		 	<li>Facebook:
		 	<a href="https://www.facebook.com/huracanes.skatingfaster">Club Huracanes Villavicencio</a> </li>
		</ul>

		<br><br>
		<h4>¡BIENVENID@S AL MEJOR CLUB!</h4>
	</div>

	<div class="caja">
		<h3><strong>REQUISITOS DE MATRÍCULA</strong></h3>

		<ul>
		 	<li>Copia del documento de identidad</li>
		 	<li>Copia certificación EPS</li>
		 	<li>Foto 3 x 4</li>
		</ul>

		<br><br>

		<h4><span>GRATIS </span>MATRÍCULA</h4>
		<br>
		<div class="cajita">
			<i class="fa fa-whatsapp"></i>
			<p>321 200 13 63
			<br>
			318 871 03 78
			</p>
		</div>
		<div class="miSarita fs-bg"></div>
	</div>
</div>