
<div class="pagina" data-pagina="1">
	<div class="title-slide" data-ani-class="bounceInRight">
		<div class="fs-bg icono" data-n="3" data-ani-class="bounce" data-ani-delay="600"></div> 
		<h2>Actividad de aprendizaje 3</h2>
		<h3>Autoevaluación final</h3>
	</div>
	<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>	

	{{!-- <div class="button abs-p preguntas" data-ani-class="pulse" data-ani-delay="1200">
		<span>Preguntas</span>
	</div> --}}

	<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="1" data-n="1"></div>
	<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="2" data-n="2"></div>
	<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="3" data-n="3"></div>
	<div class="fs-bg hoverable click-me boton-pregunta" data-boton-pregunta="4" data-n="4"></div>
</div>

<div class="pagina paginita oculto" data-pagina="2">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta"></div> 
		<h3>¿En qué consisten las estrategias de fortalecimiento organizacional?</h3>
	</div>
	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="1" placeholder="Argumente aquí su respuesta"></textarea>
	</div>

</div>

<div class="pagina paginita oculto" data-pagina="3">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta" data-n="2"></div>
		<h3>¿Qué estrategias de fortalecimiento organizacional se pueden establecer para la promoción y vigilancia del Sistema de Gestión de la Seguridad y Salud en el Trabajo?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="2" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="4">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta" data-n="3"></div>
		<h3>¿Qué estrategias de fortalecimiento organizacional se pueden desarrollar para la promoción y vigilancia del sistema de gestión desde el Comité Paritario de Seguridad y Salud en el Trabajo (Copasst), a través de planes de intervención?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="3" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="pagina paginita oculto" data-pagina="5">
	<div class="titulo-pregunta" data-ani-class="bounceInRight">
		<div class="fs-bg icono-pregunta" data-n="4"></div>
		<h3>¿consiste la gestión organizacional de los grupos de apoyo en segEn qué uridad y salud en el trabajo?</h3>
	</div>

	<div class="contenedor" data-n="2">
		<textarea class="" data-respuesta="4" placeholder="Argumente aquí su respuesta"></textarea>
	</div>
</div>

<div class="button abs-p volver hoverable oculto acciones">
	<span>Volver</span>
</div>

<div class="button abs-p guardar hoverable oculto acciones">
	<span>Guardar y continuar</span>
</div>