<div class="fs-bg abs-p bloques gr" data-ani-class="grow" data-ani-delay="200"></div>

<div class="fs-bg abs-p edificio hoverable gr" data-n="1" data-ani-class="grow" data-ani-delay="600">
	<div class="fs-bg icono" data-experiencia="1" data-ani-class="bounce" data-ani-delay="2200"></div>
	<div class="caja">
		<div class="titulo"><span>Experiencia de aprendizaje 1</span></div>
		<div class="cajita actividad hoverable click-me" data-actividad="1" data-switch-to-slide="2" data-n="2">
			<div class="fs-bg simbolo"></div>
			<div class="nombre"><span>Actividad 1</span></div>
		</div>
		<div class="cajita recurso hoverable disabled" data-n="2" data-recurso="1">
			<div class="fs-bg simbolo" data-n="2"></div>
			<div class="nombre"><span data-n="2">Promoción y vigilancia del Sistema de gestión.</span></div>
		</div>
	</div>
</div>
<div class="fs-bg abs-p edificio hoverable disabled gr" data-n="2" data-ani-class="grow" data-ani-delay="1000">
	<div class="fs-bg icono izquierda" data-experiencia="2" data-n="2" data-ani-class="bounce" data-ani-delay="2400"></div>
	<div class="caja" data-n="2">
		<div class="titulo"><span>Experiencia de aprendizaje 2</span></div>
		<div class="cajita recurso hoverable" data-recurso="2" data-switch-to-slide="2">
			<div class="fs-bg simbolo" data-n="3"></div>
			<div class="nombre"><span data-n="2">Comité paritario de seguridad en el trabajo (Copasst).</span></div>
		</div>
		<div class="cajita actividad hoverable" data-actividad="2" data-switch-to-slide="3">
			<div class="fs-bg simbolo" data-n="4"></div>
			<div class="nombre"><span>Actividad 2</span></div>
		</div>
	</div>
</div>

<div class="fs-bg abs-p edificio hoverable gr disabled" data-n="3" data-ani-class="grow" data-ani-delay="1400">
	<div class="fs-bg icono" data-experiencia="3" data-n="3" data-ani-class="bounce" data-ani-delay="2600"></div>
	<div class="caja">
		<div class="titulo"><span>Experiencia de aprendizaje 3</span></div>
		<div class="cajita recurso hoverable" data-n="2" data-recurso="3" data-switch-to-slide="4">
			<div class="fs-bg simbolo" data-n="5"></div>
			<div class="nombre"><span data-n="2">Estrategias de fortalecimiento organizacional y planes de intervención desde el Copasst.</span></div>
		</div>
		<div class="cajita actividad hoverable" data-actividad="3" data-switch-to-slide="5" data-n="2">
			<div class="fs-bg simbolo" data-n="6"></div>
			<div class="nombre"><span>Actividad 3</span></div>
		</div>
	</div>
</div>