<h2>Usted ha explorado y evaluado su conocimiento sobre la Gestión local y práctica de los derechos humanos. </h2>
<br>
<h2>Ahora puede obtener el documento completo de la unidad por medio del botón PDF en el menú superior. Si usted considera que necesita complementar la actividad 2 puede usar esta información para hacerlo durante el tiempo que esté el aula abierta.</h2>