<h2>Si considera que requiere más información para realizar esta actividad puede seguir explorando la unidad.</h2>
<div class="button go-back hoverable" data-switch-to-slide="1">
    <span>Quiero seguir explorando otros recursos.</span>
</div>
<div class="button continue hoverable">
    <span>Quiero desarrollar la actividad de aprendizaje 2.</span>
</div>