<h2>Los elementos básicos para la construcción de una estrategia de incidencia son:</h2>
<ol>
    <li>Tener plena claridad de lo que entiende por incidencia.</li>
    <li>Definir un diagnóstico del problema.</li>
    <li>Definir el objetivo: lugares a donde se quiere llegar con el proceso de incidencia.</li>
    <li>Construcción de un mapa de actores y de aliados.</li>
    <li>Construcción de una propuesta: es la solución al problema, debe ser material, administrativa y económicamente viable, pueden ser varias.</li>
    <li>Definición de las acciones: jurídicas, políticas, comunicativas, velando porque estas siempre sean pacíficas e incluyentes.</li>
    <li>Definición de las acciones de comunicación.</li>
    <li>Evaluación de los recursos humanos y económicos de los que se dispone o se podría disponer.</li>
    <li>Acciones de monitoreo y evaluación.</li>
</ol>