<h2>Usando el caso anterior, enséñele a la comunidad y al alcalde los
elementos que debe desarrollar una política pública con enfoque de
derechos, a fin de que su comunidad pueda incidir en el control y
formulación de políticas públicas, para esto haga un Power Point de
máximo cinco diapositivas. </h2>
<ul>
    <li>Comparta su planteamiento en el aula virtual.</li>
    <li>Explore la propuesta de 1 o 2 compañeros y hágales aportes con los que puedan complementar su propuesta.</li>
    <li>Si lo considera pertinente complemente su propuesta con los aportes que reciba y vuelva a compartirlo en el aula argumentando los ajustes realizados. </li>
</ul>