{{!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/{{AV.mediaid}}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> --}}

<div id="videoInteractivo"></div>

<div class="interaccion oculto" data-interaccion="1">
	<div class="contenedor">
		<div class="boton hoverable click-me" data-boton="1">
			<span>¿Qué es?</span>
		</div>
		<div class="boton hoverable click-me" data-boton="2">
			<span>¿Qué objetivo tiene?</span>
		</div>
		<div class="boton hoverable click-me" data-boton="3">
			<span>¿Cómo está conformado?</span>
		</div>
		<div class="boton hoverable click-me" data-boton="4">
			<span>¿Cómo se fundamenta?</span>
		</div>
		<div class="boton hoverable click-me" data-boton="5">
			<span>¿Cuáles son las funciones?</span>
		</div>
	</div>
</div>
<div class="interaccion oculto" data-interaccion="2"></div>