<p>Por medio de un video con una duración máxima de 1 minuto explique los resultados esperados con la implementación de los métodos de control propuestos en el análisis de caso realizado. Puede recurrir a hacer esta explicación utilizando el mapa conceptual que elaboró.</p>

<p>Este video debe ser compartido en la plataforma virtual para ser analizado por sus compañeros y generar los comentarios y sugerencias correspondientes al tema en mención.</p>

<p class="morado">Puede utilizar el recurso Screencast-O-Matic o puede recurrir a usar sus dispositivos móviles para elaborar su propio video.</p>