<p>Se han guardado las respuestas de esta actividad.</p>
<br><br>
{{!-- <a href="http://localhost/redi_ud1/app/dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank">
	<div class="button hoverable click-me fucsia">
		<span>Descarga PDF</span>
	</div>
</a> --}}
<a href="dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank" data-n="2">
    <div class="boton hoverable click-me" data-n="1">
		<div class="fs-bg baja"></div>
		<p>1. Descargue el documento PDF</p>
	</div>
</a>
<a href="{{assignLink}}" target="_blank">
	<div class="boton hoverable click-me" data-n="2">
		<div class="fs-bg sube"></div>
		<p data-n="2">2. Envíe el documento de la actividad 3 al aula virtual</p>
	</div>
</a>