<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Experiencia de aprendizaje 1</h2>
  <h3>Componentes del  SOGCS</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="contenedor">
	<div class="caja">
		<div class="peque fs-bg botella"></div>
		<div class="grande"><span>Conjunto de actividades orientadas a demostrar el cumplimiento de los estándares de atención.</span></div>
	</div>
	<div class="caja">
		<div class="peque fs-bg llama"></div>
		<div class="grande"><span>Mecanismo de mejoramiento de la calidad del servicio.</span></div>
	</div>
	<div class="caja">
		<div class="peque fs-bg botella"></div>
		<div class="grande"><span>Habilitación de EPS e IPS por medio de una evaluacion gubernamental.</span></div>
	</div>
	<div class="caja">
		<div class="peque fs-bg llama"></div>
		<div class="grande"><span>Inspección del contenido, calidad y reporte de la información</span></div>
	</div>
</div>

<div class="contenedor" data-n="2"></div>
<div class="contenedor draggable-items" data-n="3"></div>

<div class="contenedor oculto" data-n="4">
	<div class="caja cajita escondido" data-n="2" data-cajita="1" data-ani-class="bounceInLeft">
		<div class="grande" data-n="2">
			<span>Sistema único de acreditación</span>
		</div>
	</div>
	<div class="caja cajita escondido" data-n="2" data-cajita="2" data-ani-class="bounceInLeft">
		<div class="grande" data-n="2">
			<span>Auditoría, para el mejoramiento de la calidad de la atención de 
		salud</span></div>
	</div>
	<div class="caja cajita escondido" data-n="2" data-cajita="3" data-ani-class="bounceInLeft">
		<div class="grande" data-n="2">
			<span>Sistema único de habilitación</span>
		</div>
	</div>
	<div class="caja cajita escondido" data-n="2" data-cajita="4" data-ani-class="bounceInLeft">
		<div class="grande" data-n="2">
			<span>Sistema de información para la calidad</span>
		</div>
	</div>
</div>

<div class="abs-p fs-bg linea escondido" data-n="1" data-ani-class="bounceInLeft"></div>
<div class="abs-p fs-bg linea escondido" data-n="2" data-ani-class="bounceInLeft"></div>
<div class="abs-p fs-bg linea escondido" data-n="3" data-ani-class="bounceInLeft"></div>
<div class="abs-p fs-bg linea escondido" data-n="4" data-ani-class="bounceInLeft"></div>
