{{!-- <div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 1</h2>
  <h3>¿Qué es el Sistema Obligatorio de Garantía de la Calidad en Salud?</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div> --}}

<div class="abs-p fs-bg hoverable click-me opcion" data-n="1" data-opcion="1"></div>
<div class="abs-p fs-bg hoverable opcion escondido" data-n="2" data-opcion="2" data-ani-class="bounceInLeft"></div>
<div class="abs-p fs-bg hoverable opcion escondido" data-n="4" data-opcion="4" data-ani-class="bounceInRight"></div>
<div class="abs-p fs-bg hoverable opcion escondido" data-n="5" data-opcion="3" data-ani-class="bounceInRight"></div>
<div class="abs-p fs-bg hoverable opcion escondido" data-n="3" data-opcion="5" data-ani-class="bounceInLeft"></div>

<div class="recurso tema oculto" data-tema="1" data-n="1"><span>Es un sistema</span></div>
<div class="recurso tema oculto" data-tema="5" data-n="2"><span>Son</span></div>
<div class="recurso tema oculto" data-tema="4" data-n="3"><span>Su objetivo</span></div>
<div class="recurso tema" data-tema="5" data-n="4" data-ani-class="pulse"><span>¿Qué es el Sistema Obligatorio de Garantía de la Calidad en Salud?</span></div>

<a href="img/decretoSlide3.pdf" target="_blank">
    <div class="opcion button abs-p decreto recurso hoverable click-me escondido" data-n="6" data-ani-class="bounceInLeft">
        <span>Consulte el decreto 1101 de 2006</span>
    </div>
</a>

<div class="info oculto" data-tema="1" data-n="1"><span>Establecido por el Ministerio de protección social</span></div>
<div class="info oculto" data-tema="2" data-n="2"><span>Que busca generar confianza y satisfacción en el usuario</span></div>
<div class="info oculto" data-tema="5" data-n="3"><span>Instituciones, normas, requisitos, mecanismos y procesos</span></div>
{{!-- <div class="info oculto" data-tema="4" data-n="4">
    <span>EPS<br>
            Entidades de régimen subsidiado<br>
        Entidades adaptadas<br>
        Medicina prepagada<br>
        Entidades departamentales,distritales y municipales de salud
    </span>
</div> --}}
<div class="info oculto" data-tema="4" data-n="5" tooltip="EPS, entidades de régimen subsidiado, entidades adaptadas, medicina prepagada, entidades departamentales,distritales y municipales de salud" tooltip-position="left"><span>Regular entidades prestadoras del servicio de salud</span></div>
<div class="info oculto" data-tema="4" data-n="6"><span>Generar nuevos servicios</span></div>
<div class="info oculto" data-tema="4" data-n="7"><span>Mantener los existentes</span></div>
<div class="info oculto" data-tema="4" data-n="8"><span>Mejorar la calidad</span></div>
<div class="info oculto" data-tema="3" data-n="9"><span>Beneficio, riesgo y costo</span></div>
<div class="info oculto" data-tema="3" data-n="10"><span>Mayor accesibilidad</span></div>
<div class="info oculto" data-tema="3" data-n="11"><span>Equidad</span></div>
<div class="info oculto" data-tema="3" data-n="12"><span>Profesionales idóneos</span></div>
<div class="info oculto" data-tema="3" data-n="13"><span>Balance entre</span></div>
<div class="info oculto" data-tema="3" data-n="14"><span>Su impacto  en el servicio del  sector salud</span></div>

<div class="abs-p fs-bg flecha oculto" data-flecha="1" data-n="1"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="2" data-n="2"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="5" data-n="3"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="4" data-n="4"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="3" data-n="5"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="3" data-n="6"></div>
<div class="abs-p fs-bg flecha oculto" data-flecha="3" data-n="7"></div>

<div class="button abs-p continuar hoverable click-me oculto">
    <span>Continuar</span>
</div>
