<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 2</h2>
  <h3>Evalúe la IPS</h3>
</div>
{{!-- <div class="button hoverable button-continuar " data-ani-class="bounceInLeft"><span>Continuar</span></div> --}}

<div class="abs-p fs-bg avatar"></div>

<div class="info" data-n="1"><span>A continuación encontrará una Matriz  FODA con la cual  podrá evaluar 
La IPS con la que se encuentre relacionado teniendo en cuenta
 los elementos  de calidad observados anteriormente trabajados.</span></div>
<div class="info" data-n="2"><span>Una vez terminada la evaluación  elabore un video de no más de 3 minutos
 donde explique  qué  entidades podrían fortalecer los puntos a mejorar 
encontrados, también comentar qué componentes del sistema único 
de acreditación podrían Intervenir en  los puntos a mejorar.</span></div>
<div class="info" data-n="3"><span>Si necesita asistencia acerca del concepto de Esta matriz haga <a href="https://www.mediodigital.mx/foda-vital-en-plan-profesional-marketing" target="_blank">click aqui.</a></span></div>
<div class="info" data-n="4"><span>Una vez terminada su actividad compártala en el foro del curso.</span></div>
<div class="info" data-n="5"><span>Comente y retroalimente el trabajo de por lo  menos 3 compañeros.</span></div>