<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Actividad de aprendizaje 1</h2>
  <h3>Con su conocimiento actual intente definir los siguientes conceptos que caracterizan los procesos de atención asistencial. Si considera que no puede definir alguno de los conceptos escriba en el campo respectivo "Tener presente para aprender"</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="contenedor" data-ani-class="shake" data-ani-delay="600">
    <div class="caja">
        <div class="titulo rosado izquierda">
            <span>Derechos de los pacientes</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="1"></textarea>
    </div>
    <div class="caja">
        <div class="titulo morado derecha">
            <span>Seguridad del paciente</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="2"></textarea>
    </div>
    <div class="caja">
        <div class="titulo rosado izquierda">
            <span>Acceso</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="3"></textarea>
    </div>
    <div class="caja">
        <div class="titulo morado derecha">
            <span>Registro e ingreso</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="4"></textarea>
    </div>
    <div class="caja">
        <div class="titulo limon izquierda">
            <span>Evaluación de necesidades</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="5"></textarea>
    </div>
    <div class="caja">
        <div class="titulo verde derecha">
            <span>Planeación de la atención</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="6"></textarea>
    </div>
    <div class="caja">
        <div class="titulo limon izquierda">
            <span>Ejecución del tratamiento</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="7"></textarea>
    </div>
    <div class="caja">
        <div class="titulo verde derecha">
            <span>Evaluación de la atención</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="8"></textarea>
    </div>
    <div class="caja">
        <div class="titulo naranja izquierda">
            <span>Salida y seguimiento</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="9"></textarea>
    </div>
    <div class="caja">
        <div class="titulo ocre derecha" data-n="2">
            <span>Referencia y contrareferencia</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="10"></textarea>
    </div>
    <div class="caja">
        <div class="titulo naranja izquierda">
            <span>Sedes integradas en red</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="11"></textarea>
    </div>
    <div class="caja">
        <div class="titulo ocre derecha">
            <span>Estándar de mejoramiento</span>
        </div>
        <textarea placeholder="Escriba aquí" data-respuesta="12"></textarea>
    </div>
</div>