<div class="abs-p fs-bg personaje" data-ani-class="bounce" data-ani-delay="300"></div>
<div class="abs-p fs-bg fondo" data-ani-class="bounce" data-ani-delay="700"></div>

<div class="abs-p fs-bg learning-experience" data-n="1" data-ani-class="bounce" data-ani-delay="1100">
  <div class="fs-bg titulo">
    <p>EXPERIENCIA DE APRENDIZAJE 1</p>
    <div class="galaxia">
      <div class="fs-bg actividad estrella dorada hoverable click-me" data-estrella="1" data-actividad="1" tooltip="Actividad 1" tooltip-position="right"></div>
      <div class="fs-bg estrella hoverable click-me clicked" data-estrella="2" data-switch-to-slide="4"></div>
    </div>
  </div>
</div>

<div class="abs-p fs-bg learning-experience disabled" data-n="2" data-ani-class="bounce" data-ani-delay="1500">
  <div class="fs-bg titulo isabled" data-n="2">
    <p>EXPERIENCIA DE APRENDIZAJE 2</p>
    <div class="galaxia">
      <div class="fs-bg actividad estrella hoverable click-me clicked" data-estrella="3" data-switch-to-slide="6"></div>
      <div class="fs-bg estrella hoverable click-me clicked" data-estrella="4"></div>
      <div class="fs-bg actividad estrella hoverable click-me clicked" data-estrella="5" data-actividad="2" tooltip="Actividad 2" tooltip-position="right" data-switch-to-slide="7"></div>
    </div>
  </div>
</div>
  

<div class="abs-p fs-bg learning-experience disabled" data-n="3" data-ani-class="bounce" data-ani-delay="1900">
  <div class="fs-bg titulo isabled" data-n="2">
    <p>EXPERIENCIA DE APRENDIZAJE 3</p>
    <div class="galaxia">
      <div class="fs-bg estrella hoverable click-me clicked" data-estrella="6" data-switch-to-slide="9"></div>
      <div class="fs-bg estrella hoverable click-me clicked" data-estrella="7" ></div>
      <div class="fs-bg actividad estrella hoverable click-me clicked" data-estrella="8" data-actividad="3" tooltip="Actividad 3" tooltip-position="right" data-switch-to-slide="10"></div>
    </div>
  </div>
</div>
  
