<div class="fs-bg abs-p doctor" data-ani-class="bounce" data-ani-delay="300"></div>
<p data-ani-class="pulse" data-ani-delay="700">ACTIVIDAD 1 <br><br>¿CUÁL ES SU CONOCIMIENTO ACERCA  DE LOS PROCESOS DE ATENCIÓN ASISTENCIAL?</p>