<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Subgrupos que relacionan los estándares del proceso de atención del cliente asistencial</h2>
  <h3>Relacione los estándares de atención al paciente con las situaciones que se encuentren en esta situación</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="main-content" data-ani-class="pulse" data-ani-delay="300">
	<div class="building"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="1" data-n="1"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="2" data-n="2"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="3" data-n="3"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="4" data-n="4"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="5" data-n="5"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="6" data-n="6"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="7" data-n="7"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="8" data-n="8"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="9" data-n="9"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="10" data-n="10"></div>
	<div class="abs-p fs-bg opcion noColor hoverable click-me" data-opcion="11" data-n="11"></div>

	<div class="info oculto" data-info="1" data-n="1"><span><b>Derechos de los Pacientes</b>, a recibir un trato digno  y una información completa de los derechos y deberes  que le atañen durante su tratamiento.</span></div>
	<div class="info oculto" data-info="2" data-n="2"><span><b>Acceso</b>. Que exista un proceso de atención libre de barreras, abierto a la comunidad, sin prejuicios, con información correcta y clara.</span></div>
	<div class="info oculto" data-info="3" data-n="3"><span><b>Seguridad del paciente</b>, implementar políticas que propendan a la construcción de procedimientos seguros siguiendo el estándar de la guia técnica.</span></div>
	<div class="info oculto" data-info="4" data-n="4"><span><b>Registro e ingreso</b>. a recibir un trato digno  y una información completa de los derechos y deberes  que le atañen durante su tratamiento.</span></div>
	<div class="info oculto" data-info="5" data-n="5"><span><b>Evaluación de la atención</b>. Que haya una revisión de un plan individual de atención y que haya espacios de peticiones quejas y reclamos.</span></div>
	<div class="info oculto" data-info="6" data-n="6"><span><b>Ejecución del tratamiento</b>. Que el plan de cuidado y tratamiento sea recibido por el paciente bajo condiciones de seguridad y respeto a sus derechos.</span></div>
	<div class="info oculto" data-info="8" data-n="7"><span><b>Evaluación de necesidades de ingreso</b>. Que el paciente conozca la naturaleza de su afección, los requerimientos de su tratamiento y que se establezcan  protocolos de prevención.</span></div>
	<div class="info oculto" data-info="7" data-n="8"><span><b>Planeación de la atención</b>. Que cada paciente reciba atención, cuidado y tratamiento, de acuerdo con sus condiciones específicas de salud.</span></div>
	<div class="info oculto" data-info="9" data-n="9"><span><b>Sedes integradas a la red</b>. Que exista un proceso de direccionamiento estratégico central para la red, y que sea único y además socializado.</span></div>
	<div class="info oculto" data-info="11" data-n="10"><span><b>Salida y seguimiento</b>. Que el paciente reciba una correcta finalización de su tratamiento  y coordinación para prevenir nuevas enfermedades.</span></div>
	<div class="info oculto" data-info="10" data-n="11"><span><b>Referencia y contrareferencia</b>. Que existan información y protocolos claros a la hora de remitir o bien recibir un paciente para tratamientos externos.</span></div>
</div>

<div class="buttons">
    <div class="prev" data-switch-to="prev">
        <i class="fa fa-chevron-down"></i>
    </div>
    <div class="next" data-switch-to="next">
        <i class="fa fa-chevron-up"></i>
    </div>
</div>