@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';
body[data-current-slide-class="slide7"] #wrapper {
  background-color: $baseDark;
  .navigation-buttons > .next ,   .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

.tit-s7{
  width: 30%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-top: 8%;
  h2{
    margin: 0;
    padding: 0;
  }
}

.cont-item-s7{
  width: 50%;
  height: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-top: 5%;
  position: relative;
  margin-left: 5%;
  .info-item{
    width: 100%;
    height: 40%;
    text-align: center;
    position: relative;
    opacity: 0;
    .texto{
      width: 30%;
      position: absolute;
      right: 25%;
      top: 18%;
      h2, h3{
        margin: 0;
        padding: 0;
        color: $baseDark;
        font-family:'FFCondBold';
      }
      h2{
        font-size: 3em;
        line-height: 1em;
      }
      h3{
        font-size: 4em;
      }

    }

    &[data-infoitem="1"]{
        background: url(../img/7/back-s7-1.png)no-repeat 50%;
    }
    &[data-infoitem="2"]{
        background: url(../img/7/back-s7-2.png)no-repeat 50%;
    }

  }
  .icon-btn-s7{
    position: absolute;
    cursor: pointer;
    filter: drop-shadow(0 0 20px yellow);
    transition: all 0.3s ease-out;
    &[data-icons7="1"]{
      background: url(../img/7/icon-s7-1.png)no-repeat 50%;
      width: 40%;
      height: 50%;
      top: -8%;
      right: 45%;
    }
    &[data-icons7="2"]{
      background: url(../img/7/icon-s7-2.png)no-repeat 50%;
      width: 30%;
      height: 50%;
      top: 40%;
      right: 55%;
    }
    &:hover{
      transform: scale(1.2) rotate(10deg);
    }
  }
}


  .btn_cont_S7 {
    position: absolute;
    top: 80%;
    right: 5%;
    display: none;
  }

}
