@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: $baseDark;
  // background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  .cont-info{
    display: inline-block;
    vertical-align: middle;
    height: auto;
    padding: 1%;
    h2, p{
      margin: 0;
      padding: 0;
    }
    h2{
      font-size: 3em;
    }
    &[data-info="1"]{
      width: 63%;
      .item-info{
        width: 100%;
        height: auto;
        position: relative;
        padding-left: 12%;
        margin: 1.5% 0%;
        box-shadow: 0 0 30px black;
        border-radius: 20px;
        p{
          text-align: left;
          font-size: 2em;
          line-height: 1.3em;
          padding: 1%;
        }
        img{
          position: absolute;
          left: -2%;
          top: 0;
          width: 130px;
          height: 100px;
          box-shadow: 0 0 20px black;
          border-radius: 50px;
          animation-iteration-count: infinite;
        }
        &[data-item="1"]{
          background: rgba($color:#01908A , $alpha:1);
          animation-delay: 1s;
        }
        &[data-item="2"]{
          background: rgba($color:#01908A , $alpha:0.8);
          animation-delay: 2s;
        }
        &[data-item="3"]{
          background: rgba($color:#01908A , $alpha:0.6);
          animation-delay: 3s;
        }
        &[data-item="4"]{
          background: rgba($color:#01908A , $alpha:0.4);
          animation-delay: 4s;
        }
        &[data-item="5"]{
          background: rgba($color:#01908A , $alpha:0);
          animation-delay: 5s;
        }
      }
    }
    &[data-info="2"]{
        width: 25%;
        text-align: center;
        margin-left: 3%;
        h2{
          font-size: 2.6em;
        }
        .item-info{
          margin: 0 auto;
          padding: 2%;
          width: 40%;
          margin-top: 4%;
          border: solid white 4px;
          border-radius: 30px;
          h2{
            font-size: 5em;
          }
          &[data-item="1"]{
            background: #3FBC2E;
          }
          &[data-item="2"]{
            background: #DDBC31;
          }
          &[data-item="3"]{
            background: #D68505;
          }
          &[data-item="4"]{
            background: #BF2005;
          }
        }
    }
  }

  .btn_cont_S3{
    position: absolute;
    left: 40%;
    bottom: 8%;
  }

}
