@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="9"]';
body[data-current-slide-class="slide9"] #wrapper {
  background-color: $baseDark;
 // background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next{
    display: none!important;
  }
}
#{$slide} {
  background-color: #BDF7FF;
  text-align: center;
  .title-slide{
    color: $baseDark;
    margin-top: 1%!important;
    margin-bottom: 3%;
    position: relative;
    h3{
      width: 90%;
    }
  }
  .word-cloud-dos{
    width: 45%;
    min-height: 44%;
    color: $baseDark;
    text-align: center;
    margin:0 auto;
    display: inline-block;
    vertical-align: middle;
    background: url(../img/1/nube-2.png)no-repeat 50%;
    background-size: 100%;
    margin-top: 3%;

    li{
      margin: 0;
      padding: 0;
      color: $baseDark;
      text-decoration: none;
      font-size: 2em;
      text-align: center;
      list-style: none;
      border: solid $base 2px;
      border-radius: 10px;
      padding: 0.5%;
      display: inline-block;
      vertical-align: top;
      line-height: 60px;
      user-select: none;
      transition: all 0.3s ease-out;
      &:hover{
        cursor: pointer;
        background: $baseComplement;
      }
    }

  }

  .info-modal{
    position: absolute;
    left: 2%;
    bottom: 8%;
    i{
      margin: 0;
      padding: 0;
      font-size: 5em;
      color: $baseComplement;
      text-shadow: 0 0 20px black;
    }
  }

  .button-finish-s9{
    right: 5%;
    top:12%;
  }
}

.modal_ini_act_1{
  // background: none!important;
  .cont-back{
    width: 100%;
    min-height: 640px;
    background: url(../img/2/piso-modal.png)50% 100% no-repeat;
    background-size: 100%;
    .title-slide{
      height: auto;
      text-align: left;
    	.icon-activity{
    		width: 100px;
    		height: 100px;
    		float: left;
    		margin-right: 0%;
    		background: url(../img/icon-activity.png);
    	}
      h2{
        font-family: 'FFLight';
        font-size: 3em;
        padding-bottom: 0.3%;
        border-bottom: dashed 2px white;
  	   }
    	h3{
    		padding: 0;
    		font-family: 'FFLight';
    		font-size: 2em;
        margin-top: 5%;
    	}
    }
    .boton_iniciar{
      position: absolute!important;
      bottom: 18%;
      right: 5%;
      font-size: 2em!important;
    }
  }
}
