@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';
body[data-current-slide-class="slide8"] #wrapper {
  background-color: $baseDark;
  .navigation-buttons > .next , .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  iframe{
      max-width: 70%;
      height: 630px;
      margin-top: 8%;
  }
  .btn_cont_S8{
    span{
      font-size: 0.9em;
    }
  }


}
