@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/1/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {

  a[data-activity]{
    &.disabled{
      display:none;
    }

    &:hover{
      cursor:pointer;

      .icon{
        background-color:lighten($baseComplement, 10%);
      }
    }

    width:85px;
    height:85px;
    position:absolute;
    z-index:300;

    .icon{
      transition:all 0.35s ease;
      width:100%;
      height:100%;
      background-color:$baseComplement;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius:100%;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      
      i{
        font-size:4em;
        color:#FFFFFF;
      }
    }

    &[data-activity="Actividad 1"]{
      left:23%;
      top:29%;
    }

    &[data-activity="Actividad 3"]{
      left: 63%;
      top: 6%;
    }
  }

  [data-id-in-slide="cwdpsd"]{
    position:absolute;
    width:30.081448980340372%;
    height:52.45852920619784%;
    left:49.487875%;
    top:19.00266666666667%;
    background-image:url('../img/1/2.png');
    z-index:2;
  }
  
  [data-id-in-slide="9h6svx"]{
    position:absolute;
    width:31.22821503401922%;
    height:59.350394904147116%;
    left:42.3795625%;
    top:14.583333333333334%;
    background-image:url('../img/1/4.png');
    z-index:1;
  }
  
  [data-id-in-slide="m3s39"]{
    position:absolute;
    width:50.55212010158582%;
    height:71.48038885566626%;
    left:48.023245344526316%;
    top:10.79900029595574%;
    background-image:url('../img/1/3.png');
  }
  
  [data-id-in-slide="a6elbc"]{
    position: absolute;
    width: 34.515171319666045%;
    height: 51.72754008134455%;
    left: 21.692712%;
    top: 57.267778%;
    background-image: url(../img/1/9.png);
  }
  
  [data-id-in-slide="c0u9cb"]{
    position:absolute;
    width:10.07995068187445%;
    height:24.72077928363002%;
    left:22.571624999999997%;
    top:54.55444444444444%;
    background-image:url('../img/1/5.png');
  }
  
  [data-id-in-slide="r02mh"]{
    position:absolute;
    width:9.084954060299296%;
    height:23.67645725335811%;
    left:46.4105625%;
    top:55.97061585485133%;
    background-image:url('../img/1/6.png');
    z-index:23;
  }
  
  [data-id-in-slide="o74fzo"]{
    position:absolute;
    width:12.476950632014745%;
    height:37.12449210599244%;
    left:31.827637500458483%;
    top:34.56022222222222%;
    background-image:url('../img/1/8.png');
    z-index:11;
  }
  
  [data-id-in-slide="63w93s"]{
    position:absolute;
    width:9.999313712679724%;
    height:18.343461921703835%;
    left:35.60415358164613%;
    top:70.83333333333333%;
    background-image:url('../img/1/7.png');
    z-index:14;
  }
  
  [data-id-in-slide="5mb51w"]{
    position:absolute;
    width:23.03976139552157%;
    height:36.4263989245077%;
    left:33.65366250022924%;
    top:45.77704444403691%;
    background-image:url('../img/1/10.png');
    z-index:11;
  }

  [data-id-in-slide="rtpoek"]{
    left:22.30233929070844%;
    top:42.54671111070357%;
    z-index:13;
    .circle{
      background-color:#b553d8;
    }
  }
  
  [data-id-in-slide="rzsdt"]{
    left:32.602%;
    top:23.447511111518647%;
    z-index:14;
    .circle{
      background-color:#ce5374;
    }
  }
  
  [data-id-in-slide="js94t"]{
    left: 57.157775%;
    top: 12.623067%;

    .circle{
      background-color:#67b3dd;
    }
  }

  .pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:100;
    
    &.disabled{
      opacity:0.5;
      filter:opacity(0.5);
    }
    
    &:hover{
      &:not(.disabled){
        cursor:pointer;
        .experience-menu{
          display:block;
          transform: scaleX(1);
          transition:all 0.5s ease;
  
          .black-square{
            transform: scaleX(1);
          }
        }
      }
    }

    .circle{
      width:110px;
      height:110px;
      z-index:12;
      border-radius:100%;
      border:solid 11px #FFFFFF;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      position:relative;
      z-index:100;
    }

    .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 11px 0 11px;
      position:relative;
      top:-2px;
      border-color: #FFFFFF transparent transparent transparent;
    }

    .number{
      position: absolute;
      font-family: FFBold;
      font-size: 4.3em;
      color: #FFFFFF;
      z-index: 200;
      top: 18px;
    }
  }

  .experience-menu{
    position: absolute;
    width: 431px;
    z-index: 30;
    left: 92%;
    top: 5%;
    //display:none;
    transform: scaleX(0);
    transform-origin:0;

    .title{
      background-color: #E3C44B;
      color: #90133C;
      font-family: FFBold;
      padding: 10px;
      text-align: center;
      font-size: 2.7em;
    }

    .black-square{
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 90px;
      margin-top: 6px;
      padding: 11px 40px;
      transition:all 0.75s ease;
      transform: scaleX(0);
      transform-origin:0;

      &:hover{
        &:not(.disabled){
          background-color: rgba(6, 70, 107, 0.95);
          cursor:pointer;
        }
      }

      &:nth-of-type(2){
        transition:all 1.2s ease;
      }

      &:nth-of-type(3){
        transition:all 1.6s ease;
      }

      h2{
        font-family: FFBold;
        font-size:2.4em;
      }

      .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        font-family: FFLight;
        font-size:1.5em;
      }

      i{
        font-size:1.9em;
      }

      &.disabled{
        background-color:rgba(40, 40, 40, 0.5);
        &:hover{
          cursor: default;
        }
      }
    }

    &[data-id="0"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
        &[data-id="2"]{
          .icon{
            background-color:#9622C6;
  
            span{
              font-family: FFBold;
              font-size:2em;
            }
          }
        }
      }
    }

    &[data-id="1"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }

    &[data-id="2"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }
  }
  
}

.swal2-modal{
  &.slide1Modal{
    display: flex;
    width: 100% !important;
    /* height: 100%; */
    padding: 100px 100px 100px 200px !important;
    background-color:rgba(0, 0, 0, 0.85);

    h1{
      font-size:3em;
      text-align:left;
    }

    h2{
      color:#FFFFFF;
      font-size:2.2em;
      text-align: left;
      font-family: FFLight;
    }

    hr{
      width: 65%;
      margin-left: 35%;
      border-top: 3px #FFFFFF dashed;
    }
  }
}