@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';

body[data-current-slide-class="slide7"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide7"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }
    .content{
        width: 90%;
        margin-left: 5%;
        /* margin-top: 9%; */

        ._row{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;

            .icon{
                width:50px;
                height:50px;
                flex-grow: 0;   
                flex-shrink: 0;
                border:solid 10px rgba(0, 0, 0, 0.4);
                background-color:#C43100;
                transform:rotate(45deg);
                transition:all 0.35s ease;
                box-shadow:0px 0px 0px 11px transparent,
                            0px 0px 0px 20px transparent;
                
                &:hover{
                    &:not(.disabled){
                        width:30px;
                        height:30px;
                        cursor:pointer;
                        border:solid 10px transparent;
                        transform: rotate(0deg);
                        padding:20px;
                        box-shadow:0px 0px 0px 11px #EACB31,
                                0px 0px 0px 14px #561424,
                                0px 0px 0px 22px #F5DB66;
    
                        > div{
                            display: block;
                        }
                    }
                }

                &.disabled{
                    opacity:0.2;
                }

                div{
                    display: none;
                    position: absolute;
                    left: 68px;
                    top: -35px;
                    background-color: rgba(0, 0, 0, 0.8);
                    color: #FFFFFF;
                    font-family: FFLight;
                    font-size: 1.5em;
                    padding: 10px;
                    font-size: 2.8em;
                    padding: 15px;
                    border-radius: 20px;

                    span{
                        white-space: nowrap;
                    }
                }
            }

            .inner-content{
                width:90%;

                &.disabled{
                    opacity:0.2;
                    pointer-events:none;
                }
            }

            &[data-id="0"]{
                h2{
                    font-family: FFLight;
                    color: #FFFFFF;
                    font-size: 2.6em;
                    text-align: center;
                }
            }
            
            &[data-id="1"]{
                margin-bottom: 44px;
                .inner-content{
                    display:flex;
                    align-items: center;
                    justify-content: space-between;

                    a{
                        width: 28%;
                    }

                    ._button{
                        width: 100%;
                        padding: 10px;
                        background-color: #CB6120;
                        padding: 20px;
                        height: 116px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;
                        box-shadow: 16px 16px 0px 1px rgba(0, 0, 0, 0.5);

                        span{
                            font-family: FFBold;
                            font-size:2em;
                            text-align: center;
                        }
                    }
                }
            }

            &[data-id="2"]{
                textarea{
                    font-family: FFLight;
                    color:rgba(0, 0, 0, 0.5);
                    padding: 20px;
                    background-color: #FFFFFF;
                    font-size:1.8em;
                    width:100%;
                }
            }
            
            &[data-id="3"]{
                justify-content: center;
                .inner-content{
                    width:100%;
                }

                .button{
                    position: static;
                }
            }
        }
    }

    a{
        text-decoration: underline;
    }
}
