@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';

body[data-current-slide-class="slide3"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide3"] #wrapper {
    background-color:rgba(114, 64, 141, 0.5);

    .navigation-buttons{
        .prev{
            top:6%;
        }
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .paragraph-container{
        background-color: #E8C377;
        width: 90%;
        margin-left: 5%;
        margin-top: 2%;
        padding: 20px;
        box-shadow: 22px 38px 0px rgba(0, 0, 0, 0.5);
        max-height:70%;
        overflow-y:auto;

        .content{
            color: #2E1D02;
            font-family: FFLight;
            font-size:2.2em;

            b{
                min-width:100px;
                //background-color:#FFFFFF;
                border-bottom:solid 1px #2E1D02;
                transition:all 0.35s ease;

                &:hover{
                    background-color:rgba(0, 0, 0, 0.4);
                    cursor:pointer;
                }
            }
        }
    }
    
    .button.finish{
        position:absolute;
        left:48%;
        top:81%;
    }
}

.swal2-modal{
    &.words-modal{
        padding:0 !important;
        margin:0 !important;

        .swal2-header{
            height:0;
        }

        .words-container{
            display:flex;
            width:100%;
            flex-wrap: wrap;
            flex-direction: row;
            background-color:#FFC30F;
    
            .word-container{
                padding:10px;
                font-family: FFLight;
                font-size:1.4em;
                text-align: center;
                background-color:#FFF4E6;
                border:solid 2px #FFC30F;
                transition:all 0.35s ease;    
                flex:auto;          
                
                span{
                    font-family: FFLight;
                    color: #000000;
                    font-size: 2.5em;
                }
    
                &:nth-of-type(even){
                    background-color:#FFE8CA;
                }

                &:hover,
                &.selected{
                    cursor:pointer;
                    background-color:#e8a568;
                }
            }
        }
    }
}
