@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';

body[data-current-slide-class="slide4"]{
    background-image:url(../img/1/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide4"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }
    [data-id-in-slide="tf70y8"]{
        position:absolute;
        width:28.16945174821774%;
        height:75.19961289088786%;
        left:71.749375%;
        top:18.86%;
        background-image:url('../img/1/23.png');
        z-index:1;
    }

    [data-id-in-slide="qdq9f"]{
        position:absolute;
    }
    
    [data-id-in-slide="komu2"]{
        position:absolute;
    }
    
    [data-id-in-slide="tf70y8"]{
        position:absolute;
        left:69.0725%;
        top:10.889277777777778%;
        width:30.82052259072962%;
        height:83.12452272643631%;
    }
    
    [data-id-in-slide="x0fijc"]{
        position: absolute;
        width: 18.0963035283587%;
        height: 12.083257388875573%;
        left: 9.101563%;
        top: 31.476111%;
        background-color: #ff0000;
    }
    
    [data-id-in-slide="pjo8r"]{
        position: absolute;
        width: 14.04815703087548%;
        height: 12.462032972794823%;
        left: 50.28625%;
        top: 31.473556%;
        background-color: #ff0000;
    }
    
    [data-id-in-slide="ddld4g"]{
        position: absolute;
        width: 17.77671455536913%;
        height: 11.325711422712262%;
        left: 23.8574375%;
        top: 70.50733333333334%;
        background-color: #ff0000;
    }
    
    [data-id-in-slide="1yej7p"]{
        position: absolute;
        width: 15.006921023901906%;
        height: 11.704487006631512%;
        left: 68.646659%;
        top: 70.50733333333334%;
        background-color: #fc0000;
    }
    
    [data-id-in-slide="3z1v4h"]{
        position:absolute;
        width:23.10085863532179%;
        height:34.80482482422499%;
        left:25.951625%;
        top:25.260444444444442%;
        background-image:url('../img/1/12.png');
        z-index:5;
    }
    
    [data-id-in-slide="wleut"]{
        position:absolute;
        width:32.050558293197206%;
        height:36.32435118465032%;
        left:34.63975%;
        top:25.04083223640407%;
        background-image:url('../img/1/11.png');
        z-index:5;
    }
    
    [data-id-in-slide="qsg0bk"]{
        position:absolute;
        width:31.599911449735288%;
        height:34.108613990999324%;
        left:32.28625%;
        top:57.4228888888889%;
        z-index:8;
        background-image:url('../img/1/14.png');
    }
    
    [data-id-in-slide="yyzyk"]{
        position:absolute;
        width:22.248626750057827%;
        height:33.02442260577894%;
        left:50.017375%;
        top:58.321777777777775%;
        z-index:7;
        background-image:url('../img/1/13.png');
    }
    
    [data-id-in-slide="zzih6n"]{
        position:absolute;
        width:10%;
        height:10%;
        left:42.3616835058528%;
        top:45.92211111111111%;
        z-index:18;
        background-image:url('../img/1/15.png');
    }
    
    [data-id-in-slide="jghfel"]{
        position:absolute;
        width:9.495281563472618%;
        height:9.4018209670466%;
        left:47.33013361491105%;
        top:58.85422222222222%;
        z-index:17;
        background-image:url('../img/1/16.png');
    }

    .text{
        background-color:#FFFFFF;
        display:flex;
        align-items: center;
        justify-content: center;
        border-radius:150px;
        width:20%;
        height:10%;
        z-index:5;
        transition:all 0.35s ease;

        h1{
            font-family: FFBold;
            color:$base;
            font-size:2em;
        }

        &:hover,
        &.clicked{
            cursor:pointer;
            transform:scale(1.1);
            background-color:$baseComplement;
            color:#FFFFFF;
        }

        &:active{
            transition:none;
            transform:scale(1);
        }
    }
    
   .piece{
       pointer-events: none;
   } 
}


.swal2-modal{
    &.slide4Modal{
      display: flex;
      width: 100% !important;
      /* height: 100%; */
      padding: 100px 100px 100px 200px !important;
      background-color:rgba(0, 0, 0, 0.85);
  
      h1{
        font-size:3em;
        text-align:left;
      }
  
      h2{
        color:#FFFFFF;
        font-size:2.2em;
        text-align: left;
        font-family: FFLight;
      }
  
      hr{
        width: 65%;
        margin-left: 35%;
        border-top: 3px #FFFFFF dashed;
      }
    }
  }