<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Estándares del proceso de mejoramiento de la calidad</h2>
  <h3>Claves para la mejora continua</h3>
</div>
<!-- <div class="button hoverable button-continuar escondido fs-bg animated bounceInLeft" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>-->
<div data-id-in-slide="tf70y8" class="fs-bg"></div>
<div class="video">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/o22Cs8kZ6sE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>