<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Estándares del proceso de mejoramiento de la calidad. </h2>
  <h3>Resumen</h3>
</div>
{{!-- <div class="button hoverable button-continuar " data-ani-class="bounceInLeft"><span>Continuar</span></div> --}}
<div class="abs-p fs-bg avatar"></div>
<h1>Dar click en cada icono para conocer el concepto.</h1>
<div class="background-image"></div>
<div class="content">
  <div class="item" data-id="0">
    <div class="icon"></div>
    <span>PUNTOS PARA LA MEJORA CONTÍNUA</span>
  </div>
  <div class="item" data-id="1">
    <div class="icon"></div>
    <span>CICLO PHVA</span>
  </div>
  <div class="item" data-id="2">
    <div class="icon"></div>
    <span>MANUAL DE ACREDITACIÓN</span>
  </div>
</div>