<div class="instruccion" data-ani-class="bounceInLeft">
  <h2>¿Sabe sobre que se tratará esta unidad?</h2>
</div>

<div class="contEspacio">
    <div class="espacio animated pulse">
    <div class="button hoverable btnEspacio" data-btnespacio="1"><span>Situación 1</span></div>
  </div>
    <div class="espacio animated pulse">
    <div class="button hoverable btnEspacio" data-btnespacio="2"><span>Situación 2</span></div>
  </div>
</div>



<div class="personaje" data-ani-class="bounceInUp">
  <div class="contAudio">
    <audio data-ani-class="bounceInLeft" controls controlsList="nofullscreen nodownload">
        <source src="img/2/int_audio_01.mp3" type="audio/mpeg">
    </audio>
</div>
</div>

<div class="contEspacio">
    <div class="espacio animated pulse">
    <div class="button hoverable btnEspacio" data-btnespacio="3"><span>Situación 3</span></div>
  </div>
    <div class="espacio animated pulse">
    <div class="button hoverable btnEspacio" data-btnespacio="4"><span>Situación 4</span></div>
  </div>
</div>

