<div class="title-slide" data-ani-class="bounceInRight">
  <!-- <div class="icon-activity"></div> -->
  <h2>Explore la siguiente información sobre los beneficios de la acreditación en salud para una IPS y elaboración de los planes de mejora por estándar.</h2>
</div>
<!-- <div class="button hoverable button-finish"><span>Finalizar</span></div> -->
<div class="personaje-s8" data-ani-class="bounceInLeft"></div>
<div class="btn_modal-s8" data-modal="1">
  <h2>Beneficios de la acreditación en salud para las instituciones prestadoras de servicios de salud.</h2>
</div>

<div class="btn_modal-s8" data-modal="2">
  <h2>Elaboración de los planes de mejora por estándar.</h2>
</div>
