<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2 - Parte 2 de 3</h2>
  <h3>Seleccione un equipo de trabajo que cuente con el perfil para conformar un grupo de autoevaluación. A continuación realice una lista de criterios que tuvo en cuenta para su elección</h3>
</div>
<!-- <div class="button hoverable button-finish"><span>Finalizar</span></div> -->
<div class="cont-drag-dos">

  <div class="cara" data-cara="1" data-type="1">
    <div class="info-cara">
      <h2>María:</h2>
      <p>Responsable y organizada</p>
    </div>
  </div>

  <div class="cara" data-cara="2" data-type="0">
    <div class="info-cara">
      <h2>Lina:</h2>
      <p>Es bastante ocupada y olvidadiza</p>
    </div>
  </div>

  <div class="cara" data-cara="3" data-type="1">
    <div class="info-cara">
      <h2>Carlos:</h2>
      <p>Es lider y respetuoso</p>
    </div>
  </div>

  <div class="cara" data-cara="4" data-type="0">
    <div class="info-cara">
      <h2>Eduardo:</h2>
      <p>Es un poco intolerante </p>
    </div>
  </div>

  <div class="cara" data-cara="5" data-type="1">
    <div class="info-cara">
      <h2>Gloria:</h2>
      <p>Es objetiva y clara en sus decisiones</p>
    </div>
  </div>

  <div class="cara" data-cara="6" data-type="1">
    <div class="info-cara">
      <h2>Daniel:</h2>
      <p>Detecta habilmente errores y les da solución</p>
    </div>
  </div>

  <div class="cara" data-cara="7" data-type="0">
    <div class="info-cara">
      <h2>Jaime:</h2>
      <p>Es distraido y desordenado</p>
    </div>
  </div>

</div>
<div class="cont-drop-dos">
  <div class="cara-drop" data-drop="1">
    <div class="cont-respuesta"></div>
  </div>
  <div class="cara-drop" data-drop="2">
    <div class="cont-respuesta"></div>
  </div>
  <div class="cara-drop" data-drop="3"></div>
  <div class="cara-drop" data-drop="4"></div>
  <div class="cont-justificacion" data-ani-class="bounceInUp">
    <textarea placeholder="Justifique aquí" name="name" rows="7" cols="80"></textarea>
  </div>
</div>
