@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev ,   .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .title-slide{
    margin-top: -2%;
  }
  .btn_cont_S5{
    top: 15%!important;
    visibility: hidden;
  }
  .escritorio{
    position: relative;
    width: 70%;
    height: 85%;
    background: url(../img/5/escritorio_s5.png)50% no-repeat;
    margin: 0 auto;
    margin-top: 1%;
    margin-left: 30%;
    .silla{
      position: absolute;
      top:53%;
      left: 58%;
    }
    .archivo{
      position: absolute;
      transition:all 0.3s ease-out;
      &[data-archivo="1"]{
        top:-2%;
        left: 34%;
      }
      &[data-archivo="2"]{
        top:6%;
        left: 44%;
      }
      &[data-archivo="3"]{
        top:15%;
        left: 54%;
      }
      &[data-archivo="4"]{
        top:25%;
        left: 64%;
      }
      &:hover{
        transform:translateY( -20px);
        cursor: pointer;
        filter: drop-shadow(0 0 20px #8DFFFF);
      }
    }
    .computador{
      position: absolute;
      transition:all 0.3s ease-out;
      top:29%;
      left: 70%;
      &:hover{
        transform:translateY( -20px);
        cursor: pointer;
        filter: drop-shadow(0 0 20px #8DFFFF);
      }
    }

  }

  .cont-paso{
    position: absolute;
    top: 25%;
    left: 1%;
    width: 50%;
    height: 70%;
    padding: 1%;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    display: none;
    h2, h1{
      margin: 0;
      padding: 0;
    }
    .text-paso{
      width: 100%;
      textarea{
        width: 100%;
        color:$baseDark!important;
      }
    }
    &[data-paso="4"]{
      a{
        text-decoration: none;
      }
      .button{
        display: inline-block;
        vertical-align: top;
        margin: 1%;
        position: relative;
      }
    }

  }
  .cont-enlaces{
    position: absolute;
    background: rgba(0,0,0,0.5);
    padding: 1%;
    right: 7%;
    bottom: 5%;
    width: 40%;
    font-size: 1.5em;
    border-radius: 20px 20px 0 0;
    display: none;
    a{
      text-decoration: none;
    }
    i{
      font-size: 3em;
      color:$baseComplement;
      display: inline-block;
      vertical-align: top;
      margin: 4%;
    }
    h2{
      margin: 0;
      padding: 0;
    }
  }
  .archivoActive{
  transform:translateY( -20px);
  filter: drop-shadow(0 0 20px #8DFFFF);
  }

}

.modal_s6{
  background: $baseDark!important;
  border: solid white 2px;
  border-radius: 20px;
  box-shadow: 0 0 20px black inset;
  img{
    width: 80%;
    margin: 0 auto;
  }
  audio{
    width: 250px!important;
    position: absolute;
    box-shadow: 0 10px 30px 2px rgba(0,0,0,0.5);
    border-radius: 30px;
    &[data-audio="1"]{
      top: 35%;
      left: 26%;
    }
    &[data-audio="2"]{
      top: 7%;
      left: 41%;
    }
    &[data-audio="3"]{
      top: 32%;
      left: 56%;
    }
    &[data-audio="4"]{
      top: 60%;
      left: 43%;
    }
  }

}
