@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons{
    display: none!important;
  }
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  padding-top: 1%;
  perspective-origin: left;
  // perspective: 800px;

  .home-back {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: url(../img/1/casa.png)50% no-repeat;
    animation: animacasa 6s infinite;
    .home-exp {
      transition: all 0.3s ease-out;
      position: absolute;
      width: 18%;
      height: 25%;
      &[data-exp="1"] {
        top: 63%;
        left: 70%;
        background: url(../img/1/r_1.png)50% no-repeat;
        z-index: 100;
      }
      &[data-exp="2"] {
        top: 65%;
        left: 30%;
        background: url(../img/1/r_2.png)50% no-repeat;
      }
      &[data-exp="3"] {
        top: 40%;
        left: 5%;
        background: url(../img/1/r_3.png)50% no-repeat;
      }
      &[data-exp="4"] {
        top: 5%;
        left: 13%;
        background: url(../img/1/r_4.png)50% no-repeat;
      }
      &[data-exp="5"] {
        top: 5%;
        left: 55%;
        background: url(../img/1/r_5.png)50% no-repeat;
      }
      &[data-exp="6"] {
        top: 30%;
        left: 80%;
        background: url(../img/1/r_6.png)50% no-repeat;
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.2);
        filter:drop-shadow(0 0 20px yellow);
      }
    }
    // .home-exp:hover {
    //   transform: scale(1.1);
    // }
  }
  @keyframes animacasa{
    0%{background-position:50% 30%}
    50%{background-position:50% 65%}
    100%{background-position:50% 30%}
  }

  .button-exp{
    width: 15%;
    height: 27%;
    position: absolute;
    &[data-button-exp="1"]{
      top: 66%;
      left: 49%;
      background: url(../img/1/exp_1.png)50% no-repeat;
    }
    &[data-button-exp="2"]{
      top: 22%;
      left: 13%;
      background: url(../img/1/exp_2.png)50% no-repeat;
    }
    &[data-button-exp="3"]{
      top: 15%;
      left: 63%;
      background: url(../img/1/exp_3.png)50% no-repeat;
    }
  }

  .animate-active{
    animation: thiselement 1s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes thiselement {
    0%{box-shadow: 0 0 10px $baseComplement;}
    100%{box-shadow: 0 0 40px white;}
  }

  .disabled{
    opacity: 0.5;
  }
  .initial-message{
    position: absolute;
    bottom:6%;
    width: 100%;
    height: 85%;
    background: rgba(0,0,0,0.7);
    box-shadow: 0 0 80px black;
    text-align: left;
    .cont-texto{
      width: 47%;
      padding: 1%;
      position: absolute;
      left: 15%;
      top: 20%;
    }
  }
}
