<div>
    <h1>Ha terminado exitosamente la unidad acerca del Sistema Obligatorio de Garantía de la Calidad en Salud. 
	<br>
    Ahora tiene acceso al documento PDF de la Unidad Didáctica. Si considera que con esta información puede mejorar su entrega de la actividad 2, hágalo en este momento durante el tiempo que permanezca el aula virtual abierta.</h1>
</div>