@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="10"]';
body[data-current-slide-class="slide10"] #wrapper {
  background-color: #8334D6;
}
#{$slide} {
  background-color: #8334D6;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .contenedor{
    position: absolute;
    top: 25%;
    left: 8%;
    width: 85%;
    height: 65%;
    background-color: #FF8B00;

    .izquierdo{
      float: left;
      width: 45%;
      height: 100%;
      background-image: url(../img/10/cerebro.png);
      background-position: center;

      .bandera{
      	background-image: url(../img/10/banderaPurpura.png);
      	width: 3%;
		height: 8%;
		left: 17%;
		top: 29%;

		&:hover{
			opacity: 0.7;
		}

		&[data-n="2"]{
			background-image: url(../img/10/banderaMorada.png);
			left: 21%;
			top: 31%;
		}

		&[data-n="3"]{
			background-image: url(../img/10/banderaVerde.png);
			left: 25%;
			top: 20%;
		}

		&[data-n="4"]{
			background-image: url(../img/10/banderaAzul.png);
			left: 26%;
			top: 40%;
		}

		&[data-n="5"]{
			background-image: url(../img/10/banderaAmarilla.png);
			left: 31%;
			top: 29%;
		}
      }
    }

    .derecho{
      float: left;
      width: 55%;
      height: 100%;
      background-color: #ECB85C;

      p{
      	position: absolute;
      	top: 38%;
		left: 47%;
		margin: 0 5%;
		text-align: center;
		font-family: FFBold;
		font-size: 2.3em;
        color: white;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;
      }
    }
  }
}