@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="11"]';
body[data-current-slide-class="slide11"] #wrapper {
  background-color: #8334D6;
}
#{$slide} {
  background-color: #8334D6;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .filtro{
    position: absolute;
    top: 22%;
    left: 11%;
    width: 85%;
    height: 70%;
    z-index:  3;
  }

  .contenedor{
    position: absolute;
    top: 22%;
    left: 11%;
    width: 85%;
    height: 65%;
    z-index: 2;

    .caja{
      float: left;
      margin-top: 2%;
      margin-left: 2%;
      width: 20%;
      height: 30%;
      border-radius: 15px;
      background-color: #FF8B00;

      .cajita{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        &.amarillo{
          background-color: #C9BC00;
        }
        &.aguamarina{
          background-color: #4B8296;
        }
        &.verde{
          background-color: #55964B;
        }
        &.morado{
          background-color: #734B96;
        }
        &.purpura{
          background-color: #964B7D;
        }
        &.cafe{
          background-color: #82623C;
        }

        .izquierda{
          float: left;
          width: 45%;
          height: 55%;
          background-position: center;
          margin-top: 14%;

          &.escudo{
            background-image: url(../img/11/escudo.png);
          }
          &.corazon{
            background-image: url(../img/11/corazon.png);
          }
          &.vida{
            background-image: url(../img/11/vida.png);
          }
          &.alarma{
            background-image: url(../img/11/alarma.png);
          }
          &.cuaderno{
            background-image: url(../img/11/cuaderno.png);
          }
          &.botiquin{
            background-image: url(../img/11/botiquin.png);
          }
        }

        .derecha{
          float: left;
          width: 55%;
          height: 100%;
          padding: 2%;
          display: inline-table;
          text-align: center;

          span{
            font-family: FFBold;
            font-size: 1.32em; 
            color: white;
            display: table-cell;
            vertical-align: middle;
          }
        }

        .completo{
          width: 100%;
          height: 100%;
          padding: 2%;
          display: inline-table;
          text-align: center;

          span{
            font-family: FFBold;
            font-size: 1.35em;
            color: white;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .pista{
    top: 30%;
    left: 90%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    z-index:  3;
  }
}