@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';
body[data-current-slide-class="slide8"] #wrapper {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background-color: #ECB85C;
  background-image: url('../img/6/background.png');

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .avatar{
  	background-image: url(../img/8/avatar.png);
  	width: 25.306%;
    height: 70%;
    left: 10%;
    top: 21.606%;
  }

  .info{
  	position: absolute;
  	top: 22%;
  	left: 30%;
  	width: 60%;
  	padding: 1%;
  	background-color: #C30A2B;
    border: solid white 6px;
    border-radius: 0 0 10px 10px;
  	display: inline-table;
  	text-align: center;

  	span{
  		font-family: FFBold;
  		font-size: 1.8em;
  		color: white;
  		display: table-cell;
  		vertical-align: middle;
  	}

  	&[data-n="2"]{
  		top: 40%;
      background-color: #850E5B;
  	}

  	&[data-n="3"]{
  		top: 62%;
      background-color: #60A3C3;
  	}

  	&[data-n="4"]{
  		top: 72%;
      background-color: #70A83B;
  	}

  	&[data-n="5"]{
  		top: 82%;
      background-color: #82623C;
  	}
  }

   /* unvisited link */
  a:link {
      color: #0075BF!important;
  }

  /* visited link */
  a:visited {
      color: #82623C!important;
  }

  /* mouse over link */
  a:hover {
      color: #033449!important;
      transform: scale(1.1)!important;
  }

  /* selected link */
  a:active {
      color: blue!important;
  } 
}