@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');

   .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }
  
  .opcion{
    background-image: url(../img/3/edificio.png);
    width: 9%;
    height: 15%;
    left: 28%;
    top: 13%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &[data-n="2"]{
      background-image: url(../img/3/deditoArriba.png);
      left: 28%;
      top: 37%;
    }

    &[data-n="3"]{
      background-image: url(../img/3/edificio2.png);
      left: 30%;
      top: 54%;
      height: 22%;
    }

    &[data-n="4"]{
      background-image: url(../img/3/circulo.png);
      left: 63%;
      top: 22%;
    }

    &[data-n="5"]{
      background-image: url(../img/3/notas.png);
      left: 65%;
      top: 53%;
    }

    &[data-n="6"]{
      background-image: none;
    }
  }

  .tema{
    position: absolute;
    top: 29%;
    left: 22%;
    width: 20%;
    display: inline-table;
    text-align: center;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    span{
      font-family: FFBold;
      font-size: 2em;
      color: #F7EC45;
      display: table-cell;
      vertical-align: middle;
    }

    &[data-n="2"]{
      top: 78%;
      left: 22.506%;
    }

    &[data-n="3"]{
      top: 38%;
      left: 57.506%;
    }

    &[data-n="4"]{ 
      top: 30%;
      left: 42.506%;
      width: 15%;
    }
  }

  .decreto{
    background-color: #CB6120!important;
    top: 40%;
    left: 4%;
    width: 20%;

    span{
      color: white!important;
    }
  }

  .info{
    background: rgba(black, 0.3);
    position: absolute;
    top: 10%;
    left: 39%;
    width: 23%;
    padding: 0.5%;
    display: inline-table;
    text-align: center;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    span{
      font-family: FFBold;
      font-size: 1.8em;
      color: white;
      display: table-cell;
      vertical-align: middle;
    }

    &[data-n="2"]{
      left: 3%;
    }

    &[data-n="3"]{
      left: 3%;
      top: 69%;
    }

    &[data-n="4"]{
      left: 68%;
      width: 30%;
    }

    &[data-n="5"]{
      left: 74%;
      top: 25%;
      width: 24%;
    }

    &[data-n="6"]{
      top: 36.506%;
      left: 75.506%;
    }

    &[data-n="7"]{
      top: 44.506%;
      left: 75.506%;
    }

    &[data-n="8"]{
      top: 52.506%;
      left: 75.506%;
    }

    &[data-n="9"]{
      top: 57.506%;
      width: 19%;
      left: 40%;
    }

    &[data-n="10"]{
      top: 64.506%;
      width: 19%;
      left: 40%;
    }

    &[data-n="11"]{
      top: 71.506%;
      width: 19%;
      left: 40%;
    }

    &[data-n="12"]{
      top: 78.506%;
      width: 19%;
      left: 40%;
    }

    &[data-n="13"]{
      top: 74.506%;
      width: 16%;
      left: 65%;
    }

    &[data-n="14"]{
      top: 81.506%;
      width: 21%;
      left: 62%;
    }
  }

  .flecha{
    background-image: url(../img/3/flecha1.png);
    width: 12%;
    height: 7%;
    left: 38%;
    top: 21%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    &[data-n="2"]{
      background-image: url(../img/3/flecha2.png);
      left: 14%;
      top: 21%;
      width: 5%;
      height: 14%;
    }

    &[data-n="3"]{
      background-image: url(../img/3/flecha3.png);
      left: 17%;
      top: 58.506%;
      height: 9%;
    }

    &[data-n="4"]{
      background-image: url(../img/3/flecha4.png);
      left: 67%;
      top: 41.506%;
    }

    &[data-n="5"]{
      background-image: url(../img/3/flecha5.png);
      left: 58%;
      top: 46.506%;
      width: 6.506%;
    }

    &[data-n="6"]{
      background-image: url(../img/3/flecha6.png);
      left: 59.506%;
      top: 61.506%;
      height: 17%;
      width: 5%;
    }

    &[data-n="7"]{
      background-image: url(../img/3/flecha7.png);
      left: 59.306%;
      top: 81.506%;
      width: 2.506%;
    }
  }

  .continuar{
      top: 80%;
      left: 87%;
  }
}