<div>
	<div class="fs-bg character"></div>
    <h1>En la esquina superior derecha puede descargar el documento original de la unidad con el que puede profundizar en este tema. Si considera que requiere hacer de nuevo la actividad 2 puede hacerlo usando la información de este documento</h1>
    <div class="fs-bg ficha"></div>
</div>

{{!-- <div class="abs-p fs-bg ficha"></div>
<div class="abs-p fs-bg avatar"></div>
<div class="texto"><span>En la esquina superior derecha puede descargar el documento original de la unidad con el que puede profundizar en este tema. Si considera que requiere hacer de nuevo la actividad 2 puede hacerlo usando la información de este documento</span></div> --}}