<div class="post-learning-quiz">
    <h2>Comparta su actividad con sus compañeros en el aula virtual.</h2>
    <div class="buttons">
    	{{!-- <a href="http://localhost/jep_ud4/app/dynamicPdf/pdfInicial.php{{downloadArguments}}" target="_blank"> --}}
    	{{!-- <a href="dynamicPdf/pdfInicial.php{{downloadArguments}}" target="_blank">
			<div class="button hoverable click-me">
				<span>Descarga PDF</span>
			</div>
		</a> --}}
		<a href="{{assignLink}}" target="_blank">
			<div class="button hoverable click-me">
				<span>Enviar actividad 3</span>
			</div>
		</a>
    </div>
</div>