@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background: radial-gradient(#9F7DF7, #713FBB);
//   .navigation-buttons > .prev{
//     display: none!important;
// }
}
#{$slide} {
  background-color: #EAEBED;
  background: radial-gradient(#9F7DF7, #713FBB);
  text-align: center;

  .caja{
    width: 95%;
    height: 55%;
    margin: 2% 2% 0 2%;

    p{
      font-family: FFBold;
      font-size: 2em;
      color: white;
      display: inline;
      float: left;
      margin: 0 2%;
      text-align: justify;

      span{
        display: inline-flex;
        width: 22%;
        margin: 0.5% 1%;

        input[type="text"]{
          display: inline;
          float: left;
          border: dashed 2px black;
          background-color: transparent;
          border-radius: 15px;
          height: 44px;
          font-size: .8em;
          color: #fff;
          visibility: hidden;

          &:hover, &:focus{
            color: #F8AD15;
            border-color: #F8AD15;
          }
        }
      }
    }
  }

  .contenedor{
    float: left;
    background-color: white;
    border-radius: 25px;
    width: 96%;
    height: 36%;
    margin: -2% 2%;
    -webkit-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
    -moz-box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
    box-shadow: 5px 5px 14px 0px rgba(151,172,166,0.75);
  
    .palabras{
      float: left;
      width: 80%;
      height: 100%;

      .palabra{
        float: left;
        border-radius: 12px;
        border: dashed 2px #637D89;
        width: 26%;
        height: 12%;
        margin: 1% 3% 0 4%;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.4em;
          color: #361D82;
          display: table-cell;
          vertical-align: middle;
        }
      }
    }

    .acciones{
      float: left;
      width: 20%;
      height: 100%;

      .boton{
        float: left;
        margin: 3%;
        background-image: url(../img/3/pdf.png);
        width: 90%;
        height: 40%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        &[data-n="2"]{
          background-image: url(../img/3/enviar.png);
        }
      }
    }    
  }

  .draggable-element{
        cursor:pointer;

        &:hover{
            transform: scale(1.2);
        }

        &.disabled{
            pointer-events: none;
        }
    }

    .drop{
        position: absolute;
        transition:all 0.5s ease;
        // font-family:FFBold;
        // text-align: center;
        // // display:flex;
        // align-items: center;
        // justify-content: center;
        //color:$base;
        //font-size:1.5em;
        width: 22%;
        border: dashed 2px black;
        background-color: transparent;
        border-radius: 15px;
        height: 44px;
        // font-size: .8em;
        // color: #fff;
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.5em;
          color: black;
          display: table-cell;
          vertical-align: middle;
        }

        &.highlight{
            background-color: rgba(255, 255, 255, 0.5);
        }

        &.over{
            transform:scale(1.2);
            background-color:lighten($base, 20%);
        }

        &.dropeado{
          border-color: lighten($base, 20%);
        }
    }

    .reiniciar{
        top: 49%;
        left: 85%;
    }

}