@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background: radial-gradient(#9F7DF7, #713FBB);
  .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background: radial-gradient(#9F7DF7, #713FBB);
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .contenedor{
  	position: absolute;
  	top: 23%;
	left: 5%;
	width: 90%;
	height: 59%;
  	background-color: #1D1D1B;
  	border-radius: 25px;

  	.mapa{
  		background-image: url(../img/4/mapa.png);
  		width: 100%;
  		height: 100%;
  		margin: 0;
  		background-size: auto;
  		background-position-x: 2%;
		background-position-y: 65%;
  	}
  }

  .control{
  	background-image: url(../img/4/controles.png);
  	width: 12%;
	height: 20%;
	left: 86%;
	top: 66%;

		.direccion{
			position: absolute;
			top: 36%;
			left: 49%;
			width: 20%;
			height: 20%;
			border-radius: 10px;
			background-color: #1C1F3D;
			display: inline-table;
			text-align: center;

			&:hover{
				background-color: #F6CD40;

				i{
					color: #1C1F3D;
				}
			}

			i{
				font-size: 2.5em;
				color: #F6CD40;
				display: table-cell;
				vertical-align: middle;
			}

			&[data-n="2"]{
				top: 55%;
				left: 66%;
			}

			&[data-n="3"]{
				top: 73%;
			}

			&[data-n="4"]{
				top: 55%;
				left: 29%;
			}
		}
  }
  
	.audios{
		position: absolute;
		background-image: url(../img/4/naranja.png);
		width: 18%;
		height: 9%;
		left: 7%;
		top: 83%;
		padding-top: 0.8%;

		&[data-n="2"]{
			background-image: url(../img/4/verde.png);
			left: 27%;
		}

		&[data-n="3"]{
			background-image: url(../img/4/fuxia.png);
			left: 48%;
		}

		&[data-n="4"]{
			background-image: url(../img/4/azul.png);
			left: 68%;
		}
	}
}