@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/5/background.png');
  .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/5/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .contenedor{
      position: absolute;
      top: 6%;
      left: 3%;
      width: 97%;

      h1{
        font-family: FFBold;
        font-size: 3em;
        color: white;
        text-align: left;
      }

      hr{
        border:10px white;
        border-bottom-style: dotted;
      }
        
      p{
        font-family: FFLight;
        font-size: 1.8em;
        color: white;
        text-align: left;
        padding-right: 25%;
      }

    }

    .avatar{
      background-image: url(../img/1/avatar1.png);
      width: 15%;
      height: 70%;
      left: 81%;
      top: 22%;
    }

    .caja{
      position: absolute;
      top: 41%;
      left: 7%;
      width: 22%;
      height: 46%;

      .imagen{
        float: left;
        background-image: url(../img/5/descarga.png);
        width: 100%;
        height: 40%;
        margin-bottom: 2%;
        background-position-x: center;
      }

      .contenido{
        float: left;
        width: 87%;
        height: 72%;
        background-color: #FFAB00;
        border-radius: 25px;
        margin-left: 6%;
        padding: 5%;

        p{
          font-family: FFBold;
          font-size: 1.45em;
          color: white;
          text-align: justify;
          margin-top: 14%;
        }

        a{
          font-family: FFBold;
          font-size: 1.8em;
          text-decoration: underline;
        }

         /* unvisited link */
        a:link {
            color: white!important;
        }

        /* visited link */
        a:visited {
            color: #2E8015!important;
        }

        /* mouse over link */
        a:hover {
            color: #2E8015!important;
        }

        /* selected link */
        a:active {
            color: blue!important;
        } 
      }

      &[data-n="2"]{
        left: 28%;

        .imagen{
          background-image: url(../img/5/link.png);
        }
        .contenido{
          background-color: #AFD400;

          p{
            color: #2E8015;
            font-size: 1.23em;
            margin-top: 0;
          }
        }
      }

      &[data-n="3"]{
        left: 49%;

       .imagen{
          background-image: url(../img/5/foro.png);
        }
        .contenido{
          background-color: #D50B52;
        }
      }
    }

    .explorar{
      background-image: url(../img/5/explorar.png);
      width: 20%;
      height: 8%;
      left: 75%;
      top: 85%;
    }

    .button-continuar{
        top: 15%;
        right: 2%;
    }
}