@import "./variables";



.item{
    font-family: 'FFLight';
    text-align:left;
    margin-bottom:10px;
    color:#014168;

    b{
        font-family:'FFBold';
        font-weight:100;
    }
}

.subitem{
    font-family: 'FFLight';
    text-align:left;
    margin-bottom:10px;
    color:#014168;
    padding-left:20px;
    margin-bottom:20px;

    b{
        font-family:'FFBold';
        font-weight:100;
    }
}

.graphic{
    margin-top:50px;
}

.subtitle{
    font-family: 'FFBold';
    text-align:left;
    margin-bottom:10px;
    font-weight:0;
    color:#014168;
}

.content{
    color:#014168;
    font-size:2em;
    font-family:FFLight;
    font-weight: 0;

    b{
        font-weight: 100;
        font-family:'FFBold';
    }
}