<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Gestión del talento humano / gestión organizacional y contextualización en seguridad y salud en el trabajo.</h2>
</div>
<div class="button hoverable button-continuar btn_cont_S4" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<iframe src="https://www.youtube.com/embed/{{media.AV.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

<!-- <iframe src="https://www.youtube.com/embed/GTw_QUqGPNU?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
