<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>Actividad de aprendizaje 2, aplicación: <br> Desarrollo del plan de intervención</h2>
  <h3>De click en cada uno de los archivos y finalmente en el computador para enviar.</h3>
</div>

<div class="escritorio" data-ani-class="bounceInUp">
  <div class="archivo" data-archivo="1" title="Paso 1">
    <img src="img/5/archivo-1.png" alt="">
  </div>
  <div class="archivo" data-archivo="2" title="Paso 2">
    <img src="img/5/archivo-1.png" alt="">
  </div>
  <div class="archivo" data-archivo="3" title="Paso 3">
    <img src="img/5/archivo-1.png" alt="">
  </div>
  <div class="archivo" data-archivo="4" title="Paso 4">
    <img src="img/5/archivo-1.png" alt="">
  </div>
  <div class="computador" title="Enviar Actividad">
    <img src="img/5/computador.png" alt="">
  </div>
  <div class="silla" data-ani-class="bounceInLeft">
    <img src="img/5/silla.png" alt="">
  </div>
</div>

<div class="cont-enlaces" data-ani-class="bounceInUp">
  <h2>Para consultar los recursos de apoyo vaya a los siguientes enlaces:</h2>
  <a href="http://www.mintrabajo.gov.co/documents/20147/50711/Decreto+1072+de+2015+DUR+Sector+Trabajo+Actualizado+a+25+de+Abril+de+2018.pdf/4a3ae903-592b-2c34-cc5b-126b77cc65d0" target="_blank" title="Decreto 1072 de 2015">
      <i class="fa fa-book hoverable"></i>
  </a>
  <a href="http://www.scielo.org.co/pdf/inno/v23n48/v23n48a03.pdf"  target="_blank" title="De la salud ocupacional a la gestión de la seguridad y salud en el trabajo">
      <i class="fa fa-book hoverable"></i>
  </a>
</div>

<div class="cont-paso" data-paso="1" data-ani-class="bounceInUp">
  <h1>PASO 1</h1>
  <h2>Realice un análisis de las obligaciones y responsabilidades de los actores del Sistema de Gestión de la Seguridad y Salud en el Trabajo del Decreto 1072 de 2015.</h2>
  <br>
  <div class="text-paso">
    <textarea name="" id="" cols="30" rows="9" placeholder="Desarrolle aquí su respuesta"></textarea>
  </div>
</div>

<div class="cont-paso" data-paso="2" data-ani-class="bounceInUp">
  <h1>PASO 2</h1>
  <h2>Establezca las acciones de un plan de intervención en seguridad y salud en el trabajo, teniendo en cuenta el área de la empresa, la oportunidad de mejora, la propuesta de intervención y el objetivo de la propuesta y los responsables.</h2>
  <br>
  <div class="text-paso">
    <textarea name="" id="" cols="30" rows="9" placeholder="Desarrolle aquí su respuesta"></textarea>
  </div>
</div>

<div class="cont-paso" data-paso="3" data-ani-class="bounceInUp">
  <h1>PASO 3</h1>
  <h2>Con base en las obligaciones y responsabilidades definidas en el Decreto 1072 de 2015 para los actores del Sistema de Gestión de la Seguridad y Salud en el Trabajo, defina: Oportunidades de mejora y acciones encaminadas al fortalecimiento de la gestión del talento humano y organizacional.</h2>
  <br>
  <div class="text-paso">
    <textarea name="" id="" cols="30" rows="9" placeholder="Desarrolle aquí su respuesta"></textarea>
  </div>
</div>

<div class="cont-paso" data-paso="4" data-ani-class="bounceInUp">
  <h1>PASO 4</h1>
  <h2>Por medio de un mapa conceptual, defina el plan de intervención en seguridad y salud en el trabajo. Tome en cuenta los conceptos que se encuentran en el cofre. <br><br>
Este mapa conceptual debe compartirse en la plataforma virtual para ser analizado y discutido por sus compañeros y de esta manera recibir los comentarios y sugerencias constructivas que se generen.</h2>
  <br>
  <br>
  <h2>Para la elaboración del mapa conceptual puede consultar:</h2>
  <br>
  <br>
  <a href="https://cmap.ihmc.us/" target="_blank">
    <div class="button hoverable"><span> Cmaptools</span></div>
  </a>
  <a href="https://www.lucidchart.com/pages/es/diagrama-de-flujo-online" target="_blank">
    <div class="button hoverable"><span> Lucidchart</span></div>
  </a>

</div>
