<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>Actividad de aprendizaje 3: ¿Qué aprendí?</h2>
</div>


<div class="cont-general">


<div class="cont-preguntas-act3" data-pregunta="1">
  <div class="pregunta">
    <h2>Pregunta 1: ¿Qué sabe acerca del Decreto 1072 de 2015?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
</div>


<div class="cont-preguntas-act3" data-pregunta="2">
  <div class="pregunta">
    <h2>Pregunta 2: ¿Qué es y cuál es la importancia del Sistema de Gestión de la Seguridad y Salud en el Trabajo?</h2>
  </div>
  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
</div>


<div class="cont-preguntas-act3" data-pregunta="3">
  <div class="pregunta">
    <h2>Pregunta 3: ¿Como se podría fortalecer la gestión del talento humano y organizacional en empresas del sector público?</h2>
  </div>

  <div class="cont-text">
    <textarea name="" id="" cols="30" rows="10" placeholder="Argumente su respuesta aquí"></textarea>
  </div>
</div>

<div class="cont-preguntas-act3" data-pregunta="4">
  <div class="pregunta">
    <h2>Pregunta 4: ¿Cómo se desarrolla un plan de intervención en Seguridad y Salud en el Trabajo? </h2>
  </div>
  <div class="cont-drop">
    <h2>Arrastre aquí las etapas que considera pertinentes para el planteamiento de los planes de intervención.</h2>
    <div class="item-drop-tres"></div>
    <div class="button hoverable clear_s7"><span>Limpiar</span></div>
  </div>
  <div class="cont-drag">
    <div class="item-drag-tres">Diagnóstico de condiciones de trabajo.</div>
    <div class="item-drag-tres">Evaluación y seguimiento del plan de intervención.</div>
    <div class="item-drag-tres">Planificación de un Sistema de Gestión.</div>
    <div class="item-drag-tres">Ejecución del plan de intervención.</div>
    <div class="item-drag-tres">Implementar los procesos para la mejora continua del Sistema de Gestión de la Seguridad y Salud en el Trabajo.</div>
    <div class="item-drag-tres">Planificación de actividades de intervención.</div>
  </div>
</div>

<div class="cont-preguntas" data-pregunta="5">
  <div class="pregunta">
    <h2>Finalizar actividad dando click en el siguiente botón:</h2>
  </div>
</div>

<div class="button hoverable button-finish-s3"><span>Finalizar</span></div>


</div>
