<div class="home-back" data-ani-class="bounceInUp">
    <div class="home-exp" data-exp="1" data-switch-to-slide="2" title="Actividad de aprendizaje 1"></div>
    <div class="home-exp" data-exp="2" data-switch-to-slide="3" title="Contexto general del Decreto 1072 de 2015"></div>
    <div class="home-exp" data-exp="3" data-switch-to-slide="4" title="Gestión del talento humano / gestión organizacional y contextualización en seguridad y salud en el trabajo"></div>
    <div class="home-exp" data-exp="4" data-switch-to-slide="5" title="Actividad de aprendizaje 2"></div>
    <div class="home-exp" data-exp="5" data-switch-to-slide="6" title="Orientación para plantear planes de intervención."></div>
    <div class="home-exp" data-exp="6" data-switch-to-slide="7" title="Actividad de aprendizaje 3"></div>
  </div>

  <div data-ani-class="bounceInUp" class="button-exp" data-button-exp="1"></div>
  <div data-ani-class="bounceInUp" class="button-exp" data-button-exp="2"></div>
  <div data-ani-class="bounceInUp" class="button-exp" data-button-exp="3"></div>

<div class="initial-message" data-ani-class="bounceInUp">
    <div class="cont-texto">
      <h1>¡Bienvenido!</h1>
  <h2>A continuación usted aprenderá a plantear y desarrollar estrategias para el fortalecimiento de la gestión del talento humano / organizacional direccionadas hacia el cumplimiento de las obligaciones y responsabilidades definidas por la normatividad vigente a través de planes de intervención en seguridad y salud en el trabajo.
<br>
<br>
Para empezar inicie la Actividad de aprendizaje 1 de la primera Experiencia de Aprendizaje</h2>
  </div>

</div>
