<div class="nube" data-nube="1"></div>
<div class="nube" data-nube="2"></div>
<div class="nube" data-nube="3"></div>
<div class="nube" data-nube="4"></div>
  <!-- <a href="{{courseActivities.url.0.href}}" target="_blank">
  <div class="button hoverable" style="position:absolute;right:3%;top:80%;"><span>Evaluar Unidad Didáctica</span></div>
  </a> -->
<div class="cont-exp disabled" data-exp="3" data-ani-class="bounceInLeft">
  <div class="icon-exp" data-iconexp="3"></div>
  <div class="cont-star">
    <img src="img/1/icon-star.png" title="Recurso 4" alt=""  data-switch-to-slide="7">
    <img src="img/1/icon-star.png" title="Recurso 5" alt=""  data-switch-to-slide="8">
  </div>
  <div class="icon-actividad" data-actividad="3" data-switch-to-slide="9"></div>
</div>


<div class="cont-exp disabled" data-exp="2" data-ani-class="bounceInRight">
  <div class="icon-exp" data-iconexp="2"></div>
  <div class="cont-star">
    <img src="img/1/icon-star.png" alt=""  title="Recurso 3" data-switch-to-slide="5">
  </div>
  <div class="icon-actividad" data-actividad="2"  data-switch-to-slide="6"></div>
</div>


<div class="cont-exp" data-exp="1" data-ani-class="bounceInUp">
  <div class="icon-exp" data-iconexp="1"></div>
  <div class="cont-star">
    <img class="disabled" title="Recurso 1" src="img/1/icon-star.png" alt=""  data-switch-to-slide="3">
    <img class="disabled" title="Recurso 2" src="img/1/icon-star.png" alt=""  data-switch-to-slide="4">
  </div>
  <div class="icon-actividad" data-ani-class="pulse" data-actividad="1" title="Realizar actividad 1"  data-switch-to-slide="2"></div>
</div>
