<!-- <div class="title-slide" data-ani-class="bounceInRight">
  <h2>TEMA 2</h2>
  <h3>Estándares del proceso de direccionamiento y gerencia - sistema único de acreditación.</h3>
</div> -->
<div class="button hoverable button-continuar btn_cont_S4" data-switch-to-slide="1" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
 <iframe src="https://www.youtube.com/embed/{{media.AV.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
