<div class="tit-s7" data-ani-class="bounceInLeft">
  <h2>Cantidades de estándares de los procesos de gestión de tecnología y gerencia de la información.</h2>
</div>

<div class="cont-item-s7">
  <div class="info-item" data-infoitem="1">
    <div class="texto">
      <h2>Gestión de tecnología</h2>
      <h3>10</h3>
    </div>

  </div>

  <div class="info-item" data-infoitem="2">
    <div class="texto">
      <h2>Gerencia de la información</h2>
      <h3>14</h3>
    </div>

  </div>

  <div class="icon-btn-s7"  data-icons7="1"></div>
  <div class="icon-btn-s7"  data-icons7="2"></div>

</div>


<div class="button hoverable button-continuar btn_cont_S7" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
