<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2.</h2>
</div>

<div class="cont-inst">
  <div class="inst" data-inst="1" data-ani-class="bounceInLeft">
    <div class="inst-number">1</div>
    <p>Realice una revisión de una IPS con la que se encuentre relacionado a la luz del  manual de acreditación en salud teniendo en cuenta el cumplimiento de los puntos 7.6 y 7.7.</p>
  </div>
  <div class="inst" data-inst="2" data-ani-class="bounceInLeft">
    <div class="inst-number">2</div>
    <p>Una vez realizada esta  revisión sintetícela, teniendo en cuenta aquellos puntos que considere claves en una presentación de la plataforma Prezi de no menos de 10 diapositivas.</p>
  </div>
  <div class="inst" data-inst="3" data-ani-class="bounceInLeft">
    <div class="inst-number">3</div>
    <p>Comparta su trabajo en el foro del curso y comente el trabajo de tres compañeros más.</p>
  </div>
</div>


<div class="cont-instdos" data-ani-class="bounceInUp">

  <a href="img/6/doc_act2.pdf" target="_blank">
    <div class="button hoverable"><span>Ir al documento</span> </div>
  </a>

  <a href="https://www.youtube.com/watch?v=dpa_sUUQxCw" target="_blank">
    <div class="button hoverable"><span>Turorial Prezi</span> </div>
  </a>

  <a href="http://prezi.com" target="_blank">
    <div class="button hoverable"><span>Ir a Prezi</span> </div>
  </a>

  <a href="{{courseActivities.forum.0.href}}" target="_blank">
    <div class="button hoverable"><span>Foro Actividad 2</span> </div>
  </a>

</div>

<div class="button hoverable button-continuar btn_cont_S6" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
