<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 1.</h2>
  <h3>¿Qué conozco sobre la gestión de tecnología en las IPS?</h3>
</div>
<div class="button hoverable button-finish-s2"><span>Finalizar</span></div>

<div class="word-cloud" data-wordclud="1">
  <li>Medicamentos</li>
  <li>Equipos</li>
  <li>Tecnología</li>
  <li>Farmacovigilancia</li>
  <li>Biomédicos</li>
  <li>Adquicisión</li>
  <li>Monitorización</li>
  <li>Política</li>
  <li>Médicos</li>
  <li>Dispositivos</li>
  <li>Reposición</li>
</div>

<div class="word-cloud" data-wordclud="2">
  <li>Confidencialidad</li>
  <li>Decisiones</li>
  <li>Información</li>
  <li>Estandarización</li>
  <li>Control</li>
  <li>Sistemas</li>
  <li>Idenficación</li>
  <li>Soporte</li>
  <li>Contingencia</li>
  <li>Seguridad</li>
  <li>Mejoramiento</li>
</div>

<div class="info-modal hoverable">
  <i class="fa fa-info-circle"></i>
</div>
