<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Características del manejo de la información</h2>
</div>

<div class="cont-item-s5" data-contitem="1">
  <div class="title-item">
    <h2>Identificación de respuesta efectiva</h2>
    <div class="button-item" data-btn="1"></div>
  </div>
  <div class="info-item" data-infoitem="1">
    <li>Evaluación de la veracidad</li>
    <li>Uso seguro</li>
    <li>Control</li>
    <li>Necesidades de la información</li>
    <li>Políticas de confidencialidad</li>
  </div>
</div>

<div class="cont-item-s5" data-contitem="2">
  <div class="title-item">
    <h2>Gestión y minería de datos (análisis)</h2>
    <div class="button-item" data-btn="2"></div>
  </div>
  <div class="info-item" data-infoitem="2">
    <li>Para toma de desiciones</li>
    <li>Causa de brechas</li>
    <li>Dirección de procesos</li>
    <li>Implementación basada en prioridades</li>
    <li>Almacenamiento y proceso de datos</li>
    <li>Evaluación de riesgo</li>
    <li>Desarrollo de registros clínicos</li>
    <li>Estandarización de la información</li>
  </div>
</div>

<div class="cont-item-s5" data-contitem="3">
  <div class="title-item">
    <h2>Planificación y gerencia de datos</h2>
    <div class="button-item" data-btn="3"></div>
  </div>
  <div class="info-item" data-infoitem="3">
    <li>Costos de sistemas</li>
    <li>Sistemas de comunicación</li>
    <li>Soporte tecnológico de redes y licencias</li>
    <li>Tablero de mando digital</li>
  </div>
</div>


<div class="button hoverable button-continuar btn_cont_S5" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>
