<div data-id-in-slide="hpoez8"></div>
<div data-id-in-slide="90f3hd" class="text">
  <div class="icon"></div>
  <h2>Usted acaba de concluir sus experiencias de aprendizaje de la unidad POLÍTICAS PÚBLICAS, fue un gusto acompañarlo en esta experiencia. Hasta pronto</h2>
</div>
<div data-id-in-slide="xslkzg"></div>
<div data-id-in-slide="dzw7s"></div>
<div data-id-in-slide="0npnee"></div>
<div data-id-in-slide="rs8ryt"></div>