<h2>Con esto hemos construido una imagen completa de los elementos generales que componen un ciclo de política pública; Construcción de agendas, formulación, implementación y evaluación. Lo invito a seguir explorando otros recursos.</h2>
<div data-id-in-slide="cf7zcl"></div>
<div data-id-in-slide="18gtxg"></div>
<div class="sign" data-id="1">
  <h1>CONSTRUCCIÓN DE AGENDA</h1>
  <div class="base"></div>
</div>
<div class="sign" data-id="2">
  <h1>FORMULACIÓN</h1>
  <div class="base"></div>
</div>
<div class="sign" data-id="3">
  <h1>IMPLEMENTACIÓN</h1>
  <div class="base"></div>
</div>
<div class="sign" data-id="4">
  <h1>EVALUACIÓN</h1>
  <div class="base"></div>
</div>