<div class="content">
    <div class="column" data-id="0">
        <div class="instructions">
            <h1>EMPECEMOS!!!</h1>
            <hr>
            <h2 class="description">
                <div class="picture"></div>
                <div class="text">Lea atentamente cada uno de los términos de la columna izquierda y lea cada una de las definiciones ubicadas en la columna derecha.</div>
            </h2>
        </div>
        <div class="draggable-elements">
            <div class="draggable-element" data-id="0">La Política</div>
            <div class="draggable-element" data-id="1">Indicadores</div>
            <div class="draggable-element" data-id="2">Lo Público</div>
            <div class="draggable-element" data-id="3">Formulación</div>
            <div class="draggable-element" data-id="4">El Problema Público</div>
            <div class="draggable-element" data-id="5">Implementación</div>
            <div class="draggable-element" data-id="6">Análisis</div>
        </div>
    </div>
    <div class="column" data-id="1">
        <div class="inner-column">
            <div class="title">
                <h1>TÉRMINO</h1>
                <h2>(Respuestas en esta columna)</h2>
            </div>
            <div class="droppable-elements">
                <div class="droppable-element" data-id="0"></div>
                <div class="droppable-element" data-id="1"></div>
                <div class="droppable-element" data-id="2"></div>
                <div class="droppable-element" data-id="3"></div>
                <div class="droppable-element" data-id="4"></div>
                <div class="droppable-element" data-id="5"></div>
                <div class="droppable-element" data-id="6"></div>
            </div>
        </div>
        <div class="inner-column">
            <div class="title">
                <h1>CONCEPTO</h1>
            </div>
            <div class="concepts">
                <div class="concept" data-id="0">Asuntos del gobierno, la comunidad y las empresas</div>
                <div class="concept" data-id="1">Conjunto de acciones que representan a un grupo social</div>
                <div class="concept" data-id="2">Situación que afecta a un grupo social</div>
                <div class="concept" data-id="3">Forma de medir y valorar el alcance de un objetivo</div>
                <div class="concept" data-id="4">Forma como se convierte un problema en una solución</div>
                <div class="concept" data-id="5">Pasos que se adoptan para el desarrollo de una política pública</div>
                <div class="concept" data-id="6">Forma como se valora la implementación, formulación y/o evaluación de una política pública</div>
            </div>
        </div>
    </div>
</div>
<div class="button restart hoverable">
    <i class="fa fa-refresh" title="Reiniciar actividad"></i>
</div>
