<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad 1 - CICLO DE LAS POLÍTICAS</h2>
  <h3>¿Qué conozco de eso? ¿Cómo puedo aplicarlo a mi trabajo?</h3>
</div>
<div data-id-in-slide="pa3s8"></div>
<div class="instructions">
  <div class="instruction">Lea atentamente cada uno de los términos de la columna izquierda.</div>
  <div class="instruction">Lea cada una de las definiciones ubicadas en la columna derecha.</div>
  <div class="instruction">A continuación, ubique cada término de acuerdo con la definición de la columna derecha.</div>
  <div class="instruction">Con el apareamiento realizado, escoja tres términos concepto y descríbalos de manera amplia con el conocimiento que actualmente usted maneja sobre el tema. </div>

  <div class="note">
    <h1>NOTA</h1>
    <hr>
    <h2>Si en este momento usted considera que aún no puede hacer estas descripciones, deje este espacio en blanco.</h2>
  </div>
</div>