<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Tema 2: El ciclo de políticas públicas</h2>
  
</div>
<div data-id-in-slide="wo77dd"></div>
<div data-id-in-slide="x7wfvn" class="text main">
  <h1>2DA FASE</h1>
  <h2>FORMULACIÓN</h2>
</div>
<div class="content">
  <div class="item">
    <div class="number no-animation visible click-me">1</div>
    <div class="text">
      <h2>La definición o identificación de los problemas públicos.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">2</div>
    <div class="text no-animation">
      <h2>La selección de las alternativas de solución;</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">3</div>
    <div class="text no-animation">
      <h2>La construcción de objetivos, metas e indicadores;</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">4</div>
    <div class="text no-animation">
      <h2>La definición de los recursos humanos, físicos y económicos, y</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation">4</div>
    <div class="text no-animation">
      <h2>5. Los tiempos de realización de las soluciones seleccionadas</h2>
    </div>
  </div>
</div>