
<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 1" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 1">
    <i class="fa fa-download"></i>
  </div>
</a>

<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 3" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 3">
    <i class="fa fa-download"></i>
  </div>
</a>

<div data-id-in-slide="rtpoek" class="fs-bg pointer hover-me">
  <div class="circle"></div>
  <div class="number">1</div>
  <div class="triangle"></div>

  <div class="experience-menu" data-id="0">
    <h2 class="title">Experiencia 1</h2>
    <div class="black-square" data-id="0" data-switch-to-slide="2">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 1</h2>
    </div>
    <div class="black-square disabled" data-id="1">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Tema 1: Definiciones: Política, Lo público, Política pública, Riesgos, Análisis</span>
    </div>
  </div>
</div>
<div data-id-in-slide="rzsdt" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">2</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="1">
    <h2 class="title">Experiencia 2</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="8">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Tema 2: El ciclo de políticas públicas</span>
    </div>
    <div class="black-square disabled" data-id="1">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 2</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="js94t" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">3</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="2">
    <h2 class="title">Experiencia 3</h2>
    <div class="black-square disabled" data-id="0">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Tema 3. Modificación de políticas</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="14" title="Esta actividad prueba su proceso de aprendizaje, antes de realizarla le recomendamos explorar todos los recursos.">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 3</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="2vpyn"></div>
<div data-id-in-slide="78pzoe"></div>
<div data-id-in-slide="r0tphh"></div>
<div data-id-in-slide="g8n6u"></div>
<div data-id-in-slide="m20p4m"></div>
<div data-id-in-slide="0io6m"></div>
<div data-id-in-slide="zegx8a"></div>
<div data-id-in-slide="jjralc"></div>
<div data-id-in-slide="c29h973"></div>
<div data-id-in-slide="kdvrdee"></div>
<div data-id-in-slide="lif1y"></div>
<div data-id-in-slide="uib7wf"></div>
<div data-id-in-slide="cdsfq"></div>
<div data-id-in-slide="d8w4on"></div>
<div data-id-in-slide="w5ycmb"></div>
<div data-id-in-slide="x1cza"></div>