<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Tema 2: El ciclo de políticas públicas</h2>
  
</div>
<div data-id-in-slide="wo77dd"></div>
<div data-id-in-slide="x7wfvn" class="text main">
  <h1>1RA FASE</h1>
  <h2>CONSTRUCCIÓN DE AGENDA</h2>
</div>
<div class="content">
  <div class="item">
    <div class="number no-animation click-me visible">1</div>
    <div class="text no-animation">
      <h1>CONSTRUCCIÓN DE AGENDA PÚBLICA:</h1>
      <h2>Situaciones consideradas como problemáticas, sus respectivas discusiones y las soluciones a estas.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">2</div>
    <div class="text no-animation">
      <h1>CONSTRUCCIÓN DE ESTA AGENDA MEDIADA POR:</h1>
      <ol>
        <li>Los fines del Estado de derecho.</li>
        <li>Los intereses de grupos sociales.</li>
        <li>Las tensiones e intereses económicos.</li>
        <li>Las prioridades de los medios de comunicación y</li>
        <li>las posiciones ideológicas dominantes.</li>
      </ol>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">3</div>
    <div class="text no-animation">
      <h1>LOS PROBLEMAS, SON TRATADOS POR EL SECTOR PÚBLICO</h1>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">4</div>
    <div class="text no-animation">
      <h1>LAS AGENDAS SE RESUMEN EN</h1>
      <h2>Agendas de gobierno, Agendas ciudadanas, Agenda de medios, Agenda de grupos económicos</h2>
    </div>
  </div>
</div>