<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info" aria-hidden="true"></i>
    </div>
  </div>
  <h2>Tema 2: El ciclo de políticas públicas</h2>
</div>
<div data-id-in-slide="wo77dd"></div>
<div data-id-in-slide="x7wfvn" class="text main">
  <h1>3RA FASE</h1>
  <h2>IMPLEMENTACIÓN</h2>
</div>
<div class="content">
  <div class="item">
    <div class="number no-animation click-me visible">1</div>
    <div class="text no-animation">
      <h2>Temporalidad: Resolver el problema en un mínimo de tiempo, para que sus consecuencias no impliquen una mayor afectación.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">2</div>
    <div class="text no-animation">
      <h2><b>La idoneidad</b>: La efectividad y capacidad de dar la respuesta correcta al problema correcto.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">3</div>
    <div class="text no-animation">
      <h2><b>Apego a la ley</b>: Las políticas públicas se deben desarrollar en el ámbito de lo que la ley le autoriza al funcionario y a la administración.</h2>
    </div>
  </div>
  <div class="item">
    <div class="number no-animation click-me">4</div>
    <div class="text no-animation">
      <h2>En la implementación de la política, que la ciudadanía sienta verdadera identidad con la solución propuesta por parte del gobierno</h2>
    </div>
  </div>
</div>