<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style type="text/css">
        html, body{
            height:100%;
        }
        #ova-load-spinner{
            display:flex;
            justify-content: center;
            align-items: center;    
            position:absolute;
            flex-direction: column;
            width:100%;
            height:100%;
            z-index:1000;
            background-color: #39CCCC;
            top:0;
            left:0;
            transition: all 0.5s ease;
            -o-transition:all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
            opacity:1;
        }

        #lds-dual-ring {
            display: inline-block;
            width: 64px;
            height: 64px;
        }

        #lds-dual-ring:after {
            content: " ";
            display: block;
            width: 46px;
            height: 46px;
            margin: 1px;
            border-radius: 50%;
            border: 5px solid #fff;
            border-color: #fff transparent #fff transparent;
            animation: lds-dual-ring 1.2s linear infinite;
        }

        #ova-load-spinner-text{
            color:#FFFFFF;
            font-size:1.1em;
            padding: 0 30px;
            text-align: center;
        }

        #ova-load-spinner-icon{
            color:#FFFFFF;
            font-size:4em;
        }

        @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    </style>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>{{ovaTitle}}</title>
    
    
    <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
    <div id="ova-load-spinner">
        <div id="lds-dual-ring"></div>
        <span id="ova-load-spinner-icon"></span>
        <span id="ova-load-spinner-text">Obteniendo información del usuario...</span>
    </div>
    <div id="wrapper" style="display:none;">
        <div data-partial="rotateDevice"></div>
        <div id="stage" data-3d="false">
            <div id="presentation" class="horizontal"></div>
            <div data-partial="ovaContentHeader"></div>
            <div data-partial="ovaContentFooter"></div>
            <div id="modal-container"></div>
        </div>
    </div>
    <link href="css/app.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/vendor.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
</body>

</html>