@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="11"]';
body[data-current-slide-class="slide11"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .next , .navigation-buttons > .prev{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  iframe{
      max-width: 70%;
      height: 630px;
      margin-top: 3%;
  }


}
