@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';
body[data-current-slide-class="slide4"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  .cont-personaje-s4{
    display: inline-block;
    vertical-align: middle;
  }

  .cont-grafica{
    width: 63%;

    display: inline-block;
    vertical-align: middle;
    h2{
      margin: 0;
      padding: 0;
      font-size: 3em;
      font-family: 'FFCondBold';
    }
    .item-grafica{
      width: 33%;
      background-color:#18AAAA;
      padding: 2%;
      border-radius: 20px;
      display: inline-block;
      vertical-align: middle;
    }
    .item-middle{
      height: 200px!important;
      background: url(../img/4/back-grafico.png)50% no-repeat;
      background-size: cover;
      padding: 5%;
      h2{
        color: $base;
      }
    }
    .item_grafica_btn{
      box-shadow: 0 0 20px black;
      transition: all 0.3s ease-out;
      cursor: pointer;
      &:hover{
        box-shadow: 0 10px 40px black;
        transform: scale(1.1);
      }
    }
  }


}
.modal_s4{
  border-radius: 20px!important;
  border: solid $base 5px;
  box-shadow: 0 0 40px black , 0 0 8px black inset;
  h2{
    font-size: 2.5em;
  }
}
