@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons{
    display: none!important;
  }
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  padding-top: 1%;
  perspective-origin: left;
  // perspective: 800px;

  .home-back {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: url(../img/1/casa.png)50% no-repeat;
    animation: animacasa 6s infinite;
    .home-exp {
      transition: all 0.3s ease-out;
      position: absolute;
      &[data-exp="1"] {
        width: 25%;
        height: 45%;
        top: 15%;
        left: 18%;
        background: url(../img/1/element-exp1.png)50% no-repeat;
      }
      &[data-exp="2"] {
        width: 27%;
        height: 55%;
        top: 34%;
        left: 55%;
        background: url(../img/1/element-exp2.png)50% no-repeat;
      }
      &[data-exp="3"] {
        width: 31%;
        height: 35%;
        top: 45%;
        left: 20%;
        background: url(../img/1/element-exp3.png)50% no-repeat;
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        filter:drop-shadow(0 0 20px yellow);
      }
    }
    // .home-exp:hover {
    //   transform: scale(1.1);
    // }
  }
  @keyframes animacasa{
    0%{background-position:50% 30%}
    50%{background-position:50% 65%}
    100%{background-position:50% 30%}
  }

  .button-exp{
    width: 25%;
    position: absolute;
    .title-exp{
      margin: 0;
      padding: 2%;
      width: 110%;
      background: $baseComplement;
      position: relative;
      text-align: left;
      h2{
        margin: 0;
        padding: 0;
        font-family: 'century';
        font-size: 2em;
        color: $base;
      }
      .number{
        position: absolute;
        top: -30%;
        right: -8%;
        background: $baseDark;
        width: 70px;
        height: 70px;
        border-radius: 35px;
        text-align: center;
        padding-top: 2%;
        border: solid white 2px;
        h1{
          margin: 0;
          padding: 0;
          font-size: 3.8em;
          font-family: 'FFBold';
        }
      }
    }
    .button-act{
      width: 100%;
      height: auto;
      padding: 2%;
      background: rgba($color: black, $alpha: 0.5);
      font-family: 'century';
      font-size: 2em;
      color: white;
      transition: all 0.3s ease-out;
      &:hover{
        cursor: pointer;
        color: $baseComplement;
        transform: scale(1.1);
      }
    }
    &[data-button-exp="1"]{
      top: 23%;
      left: 6%;
      // transform: rotateX(-35deg) rotateY(45deg);
    }
    &[data-button-exp="2"]{
      top: 29%;
      left: 72%;
      .title-exp{
        text-align:right;
        margin-left: -10%!important;
        .number{
          right: 90%;
        }
      }
    }
    &[data-button-exp="3"]{
      top: 73%;
      left: 7%;
    }

  }

  .animate-active{
    animation: thiselement 1s infinite;
    animation-direction: alternate-reverse;
  }
  @keyframes thiselement {
    0%{box-shadow: 0 0 10px $baseComplement;}
    100%{box-shadow: 0 0 40px white;}
  }

  .disabled{
    opacity: 0.5;
  }
  .initial-message{
    position: absolute;
    bottom:6%;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.6);
    box-shadow: 0 0 80px black;
    text-align: left;
    .cont-texto{
      width: 35%;
      padding: 1%;
      float: left;
      margin-top: 2%;
      margin-left: 8%;
    }
  }
}
