@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="10"]';
body[data-current-slide-class="slide10"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons>.next{
      display: none !important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  .title-slide{
    margin-top: -30px!important;
    margin-bottom: 1%;
    h3{
      width: 90%!important;
    }
  }

  .cuadro{
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    h2{
    margin: 0;
    padding: 0;

    }
    .item-colum{
      width: 35%;
      height: auto;
      display: inline-block;
      vertical-align:top;
      h2{
        font-size: 2em;
        margin: 0;
        padding: 0;
        margin-bottom: 2%;
        line-height: 1em;
      }
      .item-drop{
        width: 100%;
        height: 90px;
        padding: 1%;
        border: solid white 2px;
        font-size:1.7em;
        line-height: 1.1em;
      }
      .item-input{
        width: 100%;
        height: 90px;
        border: solid white 2px;
        textarea{
          margin: 0;
          width: 100%;
          min-height: 100%!important;
          color: black;
          color: gray;
          font-size: 1.5em;
        }
      }
    }


    .item-colum-select{
      width: 10%;
      height: auto;
      display: inline-block;
      vertical-align:top;
      h2{
        font-size: 2em;
        margin: 0;
        padding: 0;
        margin-bottom: 7%;
        line-height: 1em;
      }
      .item-drop{
        width: 100%;
        height: 90px;
        padding: 1%;
        border: solid white 2px;
        font-size: 1.5em;
        line-height: 1.1em;
        select{
          margin: 0;
          padding: 0;
          color: $base;
          width: 100%;
          height: 90%;
        }
      }
    }

  }
  .contDrag{
    width: 29%;
    height:auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-top: -3.8%;
    .item-drag{
    width: 100%;
    padding: 1%;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 0.5%;
    font-size: 1.4em;
    transition: all 0.2s ease-out;
    &:hover{
      transform: scale(1.1);
    }
    }
  }

.button-finish-act2{
  right: 5%;
  top: 10%;
}

}
