@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons>.prev{
      display: none !important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  .title-slide{
    margin-top: -30px!important;
    margin-bottom: 1%;
  }

  .cuadro{
    width: 66%;
    height: auto;
    display: inline-block;
    vertical-align: top;
    h2{
    margin: 0;
    padding: 0;

    }
    .item-colum{
      width: 33%;
      height: auto;
      display: inline-block;
      vertical-align:top;
      h2{
        font-size: 1.4em;
        margin: 0;
        padding: 0;
        margin-bottom: 4%;
        line-height: 1em;
      }
      .item-drop{
        width: 100%;
        height: 65px;
        padding: 1%;
        border: solid white 2px;
        font-size: 1.5em;
        line-height: 1.1em;
      }
      .item-input{
        width: 100%;
        height: 65px;
        border: solid white 2px;
        textarea{
          width: 100%;
          min-height: 100%!important;
          color: black;
          color: gray;
          font-size: 1.5em;
        }
      }
    }
    .cont-textarea-inactive{
      opacity: 0.3;
      transition: all 0.3s ease-out;
      pointer-events: none;
    }
  }
  .contDrag{
    width: 29%;
    height:auto;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-top: -3.8%;
    .item-drag{
    width: 100%;
    padding: 1%;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 0.5%;
    font-size: 1.4em;
    transition: all 0.2s ease-out;
    &:hover{
      transform: scale(1.1);
    }
    }
  }

}
