<p>Descargue el archivo PDF de sus respuestas y envíelo al aula virtual por medio de la actividad 1. Después del envío cierre la pestaña del aula y siga explorando en esta misma pestaña.</p>
<br><br>
{{!-- <a href="http://localhost/redi_ud1/app/dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank">
	<div class="button hoverable click-me fucsia">
		<span>Descarga PDF</span>
	</div>
</a> --}}
<a href="dynamicPdf/pdfInicial.php{{downloadArguments}}" target="_blank" data-n="2">
    <div class="button hoverable pdf click-me fs-bg">
    	<span>Descargue pdf</span>
    </div>
</a>
{{!-- <a href="img/FORMATO_U3_ACT2.xlsx" target="_blank">
    <div class="button hoverable formato click-me fs-bg">
    	<span>Descargue formulario</span>
    </div>
</a> --}}
<a href="{{assignLink}}" target="_blank">
	<div class="button hoverable click-me fucsia fs-bg" data-n="2">
		<span>Enviar actividad 1</span>
	</div>
</a>