<p>Después de realizar las actividades compare sus reflexiones realizadas al principio. Partiendo de las definiciones anteriormente realizadas, descargue el formulario complételo teniendo en cuenta una IPS previamente identificada y elabore un video de no más de 2 minutos en el cual identifique las etapas del proceso de atención asistencial dentro de una Institución prestadora de Salud dada. Suba todo el material a la plataforma por medio del botón "Enviar actividad 3"</p>
<br><br>
{{!-- <a href="http://localhost/redi_ud1/app/dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank">
	<div class="button hoverable click-me fucsia">
		<span>Descarga PDF</span>
	</div>
</a> --}}
<a href="dynamicPdf/pdfFinal.php{{downloadArguments}}" target="_blank" data-n="3"> 
    <div class="button hoverable pdf click-me fs-bg">
    	<span>Descargue pdf</span>
    </div>
</a>
<a href="img/FORMATO_U3_ACT3.xlsx" target="_blank">
    <div class="button hoverable formato click-me fs-bg">
    	<span>Descargue formulario</span>
    </div>
</a>
<a href="{{assignLink}}" target="_blank">
	<div class="button hoverable click-me fucsia fs-bg" data-n="2">
		<span>Enviar actividad 3</span>
	</div>
</a>