@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="12"]';

body[data-current-slide-class="slide12"]{
    //background-image:url(../img/2/1.png);
    //background-color:#D91A5B;
    background-size:cover;
}

body[data-current-slide-class="slide12"] #wrapper {
    background-color:#D91A5B;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    [data-id-in-slide="cf7zcl"]{
        position:absolute;
        width:100.00292968756835%;
        height:76.86872849770643%;
        left:-0.0029296875%;
        top:18.083333333333332%;
        background-image:url('../img/2/33.png');
    }
    
    [data-id-in-slide="18gtxg"]{
        position: absolute;
        width: 81.61777321351778%;
        height: 85.187627420999%;
        left: 9.921875%;
        top: 13.5589877675841%;
        background-image: url(../img/2/32.png);
        z-index: 10;
        pointer-events:none;
    }

    h2{
        text-align:center;
        font-family:FFLight;
        font-size:1.9em;
        color:#FFFFFF;
        padding:0 200px;
    }

    .sign{
        position:absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width:18%;

        h1{
            background-color: #FFFFFF;
            color: #D91C62;
            font-family: FFBold;
            margin: 0;
            font-size: 2em;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80px;
            width: 100%;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);  
            border-radius:15px;
        }

        .base{
            width:20px;
            height:60px;
            background-color:#FFFFFF;
        }

        &[data-id="1"]{
            left: 5%;
            top: 80%;
            z-index:20;
        }

        &[data-id="2"]{
            left: 8%;
            top: 32%;
        }

        &[data-id="3"]{
            left: 48%;
            top: 28%;
        }

        &[data-id="4"]{
            left: 79%;
            top: 80%;
            z-index:20;
        }
    }
}

