@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/2/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {

  a[data-activity]{
    &.disabled{
      display:none;
    }

    &:hover{
      cursor:pointer;

      .icon{
        background-color:lighten(#2c4494, 10%);
      }
    }

    width:85px;
    height:85px;
    position:absolute;
    z-index:300;

    .icon{
      transition:all 0.35s ease;
      width:100%;
      height:100%;
      background-color:#2c4494;
      display:flex;
      align-items: center;
      justify-content: center;
      border-radius:100%;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      
      i{
        font-size:4em;
        color:#FFFFFF;
      }
    }

    &[data-activity="Actividad 1"]{
      left: 8%;
      top: 29%;
    }

    &[data-activity="Actividad 3"]{
      left: 63%;
      top: 6%;
    }
  }

  [data-id-in-slide="rtpoek"]{
    left:16.30233929070844%;
    top:42.54671111070357%;
    z-index:13;
    .circle{
      background-color:#b553d8;
    }

    .experience-menu{
      top:-200px;
    }
  }
  
  [data-id-in-slide="rzsdt"]{
    left: 45.602%;
    top: 72.447511%;
    z-index:14;
    .circle{
      background-color:#ce5374;
    }

    .experience-menu{
      bottom: 128px;
      top: auto;
      right: -160px;
      left: auto;
    }
  }
  
  [data-id-in-slide="js94t"]{
    left: 72.157775%;
    top: 42.623067%;

    .circle{
      background-color:#67b3dd;
    }

    .experience-menu{
      bottom: 128px;
      top: auto;
      right: -160px;
      left: auto;
    }
  }

  .pointer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    z-index:100;
    
    &.disabled{
      opacity:0.5;
      filter:opacity(0.5);
    }
    
    &:hover{
      &:not(.disabled){
        cursor:pointer;
        z-index:20;
        .experience-menu{
          display:block;
          transform: scaleX(1);
          transition:all 0.5s ease;
  
          .black-square{
            transform: scaleX(1);
          }
        }
      }
    }

    .circle{
      width:110px;
      height:110px;
      z-index:12;
      border-radius:100%;
      border:solid 11px #FFFFFF;
      box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
      position:relative;
      z-index:100;
    }

    .triangle{
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 22px 11px 0 11px;
      position:relative;
      top:-2px;
      border-color: #FFFFFF transparent transparent transparent;
    }

    .number{
      position: absolute;
      font-family: FFBold;
      font-size: 4.3em;
      color: #FFFFFF;
      z-index: 200;
      top: 18px;
    }
  }

  .experience-menu{
    position: absolute;
    width: 431px;
    z-index: 30;
    left: 92%;
    top: 5%;
    //display:none;
    transform: scaleX(0);
    transform-origin:0;

    .title{
      background-color: #E3C44B;
      color: #90133C;
      font-family: FFBold;
      padding: 10px;
      text-align: center;
      font-size: 2.7em;
    }

    .black-square{
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      //height: 90px;
      margin-top: 6px;
      padding: 11px 40px;
      transition:all 0.75s ease;
      transform: scaleX(0);
      transform-origin:0;

      &:hover{
        &:not(.disabled){
          background-color: rgba(6, 70, 107, 0.95);
          cursor:pointer;
        }
      }

      &:nth-of-type(2){
        transition:all 1.2s ease;
      }

      &:nth-of-type(3){
        transition:all 1.6s ease;
      }

      h2{
        font-family: FFBold;
        font-size:2.4em;
      }

      .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        flex-basis: 50px;
        flex-grow: 0;
        flex-shrink: 0;
      }

      span{
        font-family: FFLight;
        font-size:1.5em;
      }

      i{
        font-size:1.9em;
      }

      &.disabled{
        background-color:rgba(40, 40, 40, 0.5);
        &:hover{
          cursor: default;
        }
      }
    }

    &[data-id="0"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
        &[data-id="2"]{
          .icon{
            background-color:#9622C6;
  
            span{
              font-family: FFBold;
              font-size:2em;
            }
          }
        }
      }
    }

    &[data-id="1"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }

    &[data-id="2"]{
      .black-square{
        &[data-id="0"]{
          .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
  
        }
        &[data-id="1"]{
          .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
          }
        }
      }
    }
  }

  [data-id-in-slide="2vpyn"]{
    position:absolute;
    width:64.81744850495733%;
    height:38.378824542963514%;
    left:16.1642233935743%;
    top:53.05211111111111%;
    background-image:url('../img/2/16.png');
    z-index:1;
  }
  
  [data-id-in-slide="78pzoe"]{
    position:absolute;
    width:49.055177619658316%;
    height:41.232203118027655%;
    left:24.603339106425704%;
    top:43.65977777777778%;
    z-index:1;
    background-image:url('../img/2/17.png');
  }
  
  [data-id-in-slide="r0tphh"]{
    position:absolute;
    width:25.56012011914847%;
    height:48.55188440393518%;
    left:35.813660893574294%;
    top:9.11111111111111%;
    z-index:5;
    background-image:url('../img/2/18.png');
  }
  
  [data-id-in-slide="g8n6u"]{
    position:absolute;
    width:13.914765507341865%;
    height:30.7037748432968%;
    left:54.65315160642571%;
    top:18.691%;
    z-index:3;
    background-image:url('../img/2/6.png');
  }
  
  [data-id-in-slide="m20p4m"]{
    position:absolute;
    width:5.900644591718265%;
    height:16.436786474458202%;
    left:51.36525%;
    top:57.51044444444445%;
    background-image:url('../img/2/13.png');
    z-index:4;
  }
  
  [data-id-in-slide="0io6m"]{
    position:absolute;
    width:12.178533217486212%;
    height:13.824910103844168%;
    left:42.293%;
    top:68.42188888888889%;
    background-image:url('../img/2/3.png');
    z-index:6;
  }
  
  [data-id-in-slide="zegx8a"]{
    position:absolute;
    width:9.964569139037708%;
    height:12.960125713525542%;
    left:43.735375%;
    top:66.8861991744066%;
    z-index:7;
    background-image:url('../img/2/4.png');
  }
  
  [data-id-in-slide="jjralc"]{
    position:absolute;
    width:6.786815229668674%;
    height:13.748167583528558%;
    left:57.873125%;
    top:53.16184158857652%;
    z-index:5;
    background-image:url('../img/2/15.png');
  }
  
  [data-id-in-slide="c29h973"]{
    position:absolute;
    width:11.606429379627885%;
    height:14.283800784736167%;
    left:61.4764733935743%;
    top:46.382%;
    background-image:url('../img/2/14.png');
    z-index:2;
  }
  
  [data-id-in-slide="kdvrdee"]{
    position:absolute;
    width:6.110680878346918%;
    height:13.921571146962073%;
    left:35.651799535603715%;
    top:57.69622222222222%;
    background-image:url('../img/2/10.png');
    z-index:5;
  }
  
  [data-id-in-slide="lif1y"]{
    position:absolute;
    width:9.477366161051181%;
    height:20.525537260545665%;
    left:26.95033842879257%;
    top:43.434754729962165%;
    background-image:url('../img/2/9.png');
    z-index:3;
  }
  
  [data-id-in-slide="uib7wf"]{
    position:absolute;
    width:8.490715381161717%;
    height:7.936015881990132%;
    left:56.295875%;
    top:43.417421396628825%;
    z-index:6;
    background-image:url('../img/2/12.png');
  }
  
  [data-id-in-slide="cdsfq"]{
    position:absolute;
    width:7.503873275898559%;
    height:7.2136185117550315%;
    left:36.0039375%;
    top:46.69368971448229%;
    z-index:5;
    background-image:url('../img/2/7.png');
  }
  
  [data-id-in-slide="d8w4on"]{
    position:absolute;
    width:5.123842316146235%;
    height:10.928788790392803%;
    left:46.04436203560371%;
    top:56.28300000000001%;
    background-image:url('../img/2/11.png');
    z-index:7;
  }
  
  [data-id-in-slide="w5ycmb"]{
    position:absolute;
    width:25.96362294058313%;
    height:49.11248647022543%;
    left:17.289150928792573%;
    top:7.673611111111111%;
    background-image:url('../img/2/2.png');
  }
  
  [data-id-in-slide="x1cza"]{
    position:absolute;
    width:24.04660912859181%;
    height:43.950250741744064%;
    left:64.45882546439628%;
    top:16.692666666666668%;
    background-image:url('../img/2/5.png');
  }
  
  [data-id-in-slide="w5ycmb"]{
    position:absolute;
    left:14.203055619266056%;
    top:6.944354434250765%;
    width:19.081664479106937%;
    height:54.65578411697248%;
  }
  
  [data-id-in-slide="x1cza"]{
    position:absolute;
    left:60.31375%;
    top:6.871432212028542%;
    width:32.02725191728784%;
    height:56.180684967507645%;
  }

  > *{
    opacity:0;
  }
  
}

.swal2-modal{
  &.slide1Modal{
    display: flex;
    width: 100% !important;
    /* height: 100%; */
    padding: 100px 100px 100px 200px !important;
    background-color:rgba(0, 0, 0, 0.85);

    h1{
      font-size:3em;
      text-align:left;
    }

    h2{
      font-size:2.2em;
      text-align: left;
      font-family: FFLight;
    }

    hr{
      width: 65%;
      margin-left: 35%;
      border-top: 3px #D91A5B dashed;
    }
  }

  &.slide1ContinueModal{
    .text{
      background-color: #D91A5B;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      position: absolute;
      width: 110%;
      left: -5%;
      padding: 15px;
      font-size: 0.95em;
      top: 50px;
      
      h2{
        color:#FFFFFF;
      }
    }

    h1{
      margin-top:300px;
      font-size:1.7em;
    }

    .options{
      display:flex;
      align-items: center;
      justify-content: center;

      .option{
        width:100px;
        height:100px;
        border-radius:100%;
        border:solid 6px #FFFFFF;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.7);
        display:flex;
        align-items: center;
        justify-content: center;
        cursor:pointer;
        background-color:#FFFFFF;
        color:#D91A5B;
        margin:0 20px;

        &:hover{
          background-color:#D91A5B;
          color:#FFFFFF;
        }

        span{
          font-family:FFBold;
          font-size:2.2em;
        }
      }
    }
  }
}