@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="7"]';

body[data-current-slide-class="slide7"]{
    background-image:url(../img/2/19.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide7"] #wrapper {
    //background-color:rgba(114, 64, 141, 0.66);
    background-color:transparent;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    [data-id-in-slide="hpoez8"]{
        position:absolute;
        width:20.2735830884461%;
        height:66.59357877803261%;
        left:9.023506880733944%;
        top:12.723876656472985%;
        background-image:url('../img/2/22.png');
        z-index:1;
    }
    
    [data-id-in-slide="90f3hd"]{
        position:absolute;
        width:52.93518626361813%;
        height:43.10834069985984%;
        left:27.278381880733946%;
        top:20.913345565749236%;
        z-index:3;
        background: #f2f3f4; /* Old browsers */
        background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #f2f3f4 0%,#d2d3d5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #f2f3f4 0%,#d2d3d5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 ); /* IE6-9 */
    }
    
    [data-id-in-slide="xslkzg"]{
        position:absolute;
        width:99.88574666714449%;
        height:27.125013936671763%;
        left:0.11328125%;
        top:68.1700988786952%;
        z-index:2;
        background-color:#D91A5B;
    }
    
    [data-id-in-slide="hpoez8"]{
        position:absolute;
        z-index:5;
        left:8.90625%;
        top:9.895833333333334%;
        width:23.392157598372993%;
        height:81.5971127198012%;
    }
    
    [data-id-in-slide="90f3hd"]{
        position:absolute;
        z-index:6;
        left:29.7373125%;
        top:16.824666666666666%;
        width:50.18227673451835%;
        height:43.107638888888886%;
    }
    
    [data-id-in-slide="xslkzg"]{
        position:absolute;
    }
    
    [data-id-in-slide="dzw7s"]{
        position:absolute;
        width:49.08153008977208%;
        height:29.242243246687053%;
        left:0.181640625%;
        top:68.62653109072374%;
        z-index:3;
        background-image:url('../img/2/26.png');
    }
    
    [data-id-in-slide="0npnee"]{
        position:absolute;
        width:9.907719323394495%;
        height:34.29707907269368%;
        left:5.24609375%;
        top:55.763888888888886%;
        z-index:6;
        background-image:url('../img/2/23.png');
    }
    
    [data-id-in-slide="rs8ryt"]{
        position:absolute;
        width:16.14500833213876%;
        height:47.02156401312436%;
        left:81.579375%;
        top:35.03300000000001%;
        z-index:5;
        background-image:url('../img/2/25.png');
    }
    
    .text{
        display:flex;
        align-items: center;
        justify-content: space-around;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.7);
        padding:20px;

        .icon{
            background-repeat: no-repeat;
            background-size: contain;
            background-position:50% 50%;
            background-image:url(../img/2/24.png);
            width:30%;
            height:70%;
        }

        h2{
            font-family:FFBold;
            font-size:2.4em;
            color:#D91A5B;
            width:60%;
            text-align:center;
        }
    }
    
}
