@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';

body[data-current-slide-class="slide6"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide6"] #wrapper {
    background-color:rgba(114, 64, 141, 0.66);
}

#{$slide} {
    
}
