@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';

body[data-current-slide-class="slide2"]{
    background-image:url(../img/2/bg2.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2"] #wrapper {
    //background-color:rgba(172, 209, 79, 0.9);
    background-color:transparent;

    .navigation-buttons{
        .prev{
            display:none;
        }

        .next{
            top:22%;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    [data-id-in-slide="pa3s8"]{
        position: absolute;
        width: 48.62242812410407%;
        height: 68.06079176223241%;
        left: -1.261719%;
        top: 26.685654%;
        background-image: url(../img/2/20.png);
        z-index: 2;
    }
    
    .instructions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 53%;
        margin-left: 42%;
        margin-top: 1%;
        flex-direction: column;

        .instruction{
            width:100%;
            margin-bottom:10px;
            background-color:#FFFFFF;
            border-radius:40px;
            padding:20px;
            color:#D91A5B;
            text-align:center;
            font-family:FFLight;
            font-size:1.8em;

            &:hover{
                background-color:#D91A5B;
                color:#FFFFFF;
            }
        }

        .note{
            background-color:#3EBFB2;
            padding:15px 50px;
            box-shadow:0px 0px 10px rgba(0, 0, 0, 0.6);
            border-radius:15px;
            border:solid 5px #FFFFFF;

            h1{
                font-family: FFBold;
                font-size:1.5em;
                color:#FFFFFF;
            }

            hr{
                width: 100%;
                border-style: dashed;
                color: #FFFFFF;
                border-width: 2px;
                margin: 0;
                padding: 0;
            }

            h2{
                font-family: FFLight;
                font-size: 1.7em;
                color: #FFFFFF;
                margin-top: 13px;
            
            }
        }
    }
    
}
