@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="4"]';

body[data-current-slide-class="slide4"]{
    background-image:url(../img/2/bg2.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide4"] #wrapper {
    //background-color:rgba(172, 209, 79, 0.9);
    background-color:transparent;

    .navigation-buttons{
        .next{
            display:none;
        }

        .prev{
            top:10%;
        }
    }
}

#{$slide} {
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        margin-left: 2.5%;
        display: flex;
        margin-top: 3%;
        justify-content: space-between;

        .inner-column{
            &:nth-of-type(1){
                width:40%;
            }

            &:nth-of-type(2){
                width:58%;
            }

            .title{
                background-color:#D91A5B;
                display:flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                border-radius:15px;
                flex-direction: column;
                height:80px;
                margin-bottom:10px;
                
                h1{
                    font-family: FFBold;
                    color:#FFFFFF;
                    font-size:1.8em;
                    margin:3px;
                }
            }

            .text-row{
                border-radius: 15px;
                background: #f2f3f4;
                background: -moz-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%);
                background: -webkit-linear-gradient(left, #f2f3f4 0%, #d2d3d5 100%);
                background: linear-gradient(to right, #f2f3f4 0%, #d2d3d5 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3f4', endColorstr='#d2d3d5',GradientType=1 );
                border-radius: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: FFLight;
                color: #9E1F62;
                font-size: 1.6em;
                padding: 10px;
                text-align: left;
                height: 165px;
                margin-bottom: 10px;
                padding: 10px;
                position: relative;
                overflow-y: auto;

                textarea{
                    background-color:transparent;
                    border:none;
                    color:rgba(0, 0, 0, 0.8);
                    font-family:FFLight;
                    font-size:1.7em;
                    position:absolute;
                    width:100%;
                    height:100%;
                    min-height:0;
                    left:0;
                    top:0;
                }
            }
        }
    }   
    
    .finish{
        position:static;
        margin:10px auto;
    }
}

.swal2-modal{
    &.slide4Modal{
        #swal2-content{
            display:flex !important;
            align-items: center;
            justify-content: space-between;

            .icon{
                width:200px;
                height:200px;
                flex-shrink: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position:50% 50%;
                background-image:url(../img/2/40.png);
            }
        }
    }

}