@import "./variables";



.item{
    font-family: 'FFLight';
    text-align:left;
    margin-bottom:10px;
    color:#014168;

    b{
        font-family:'FFBold';
        font-weight:100;
    }
}

.subitem{
    font-family: 'FFLight';
    text-align:left;
    margin-bottom:10px;
    color:#014168;
    padding-left:20px;
    margin-bottom:20px;

    b{
        font-family:'FFBold';
        font-weight:100;
    }
}

.graphic{
    margin-top:50px;
}

.subtitle{
    font-family: 'FFBold';
    text-align:left;
    margin-bottom:10px;
    font-weight:0;
    color:#014168;
}

.content{
    color:#014168;
    font-size:2em;
    font-family:FFLight;
    font-weight: 0;

    b{
        font-weight: 100;
        font-family:'FFBold';
    }
}

.terms{
    li{
        color:$base;
        font-family:'FFLight';
        font-size:1.7em;
        margin-bottom:10px;

        b{
            font-family: 'FFBold';
            font-weight:100;
        }
    }
}

.selected-cards{
    .card{
        width:150px;
        height:150px;
        background-size:100%;
        background-repeat: no-repeat;
        background-position:50% 50%;
        font-family:FFBold;
        font-size:1.0em;
        text-align:center;
        font-weight:100;
        padding:10px;
    }

    span{
        font-family:FFLight;
        font-size:1.5em;
    }

    .response{
        font-family: FFLight;
        font-weight:0;

        b{
            font-weight:100;
            font-family: FFBold;
        }
    }

    .answer{
        font-family: FFLight;
        font-weight:0;
    }
    
}