<div class="title-slide" data-ani-class="bounceInLeft">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2 - Parte 1 de 2</h2>
  <h3>Aplique sus conocimientos: Complete el siguiente cuadro teniendo en cuenta una institución de salud previamente identificada.</h3>
</div>
<!-- <div class="button hoverable button-finish"><span>Finalizar</span></div> -->
<div class="cuadro" data-ani-class="bounceInUp">
  <div class="item-colum">
    <h2>ASPECTO</h2>
    <div class="item-drop" data-drop="0" data-posicion="0" >Lectura del entorno</div>
    <div class="item-drop" data-drop="0" data-posicion="1" >Construcción de un plan de direccionamientoestratégico.</div>
    <div class="item-drop" data-drop="0" data-posicion="2" >Asignación de recursos físicos, financieros y de talento humano para las labores de mejoramiento.</div>
    <div class="item-drop" data-drop="0" data-posicion="3" >Definición y monitorización de metas y objetivos por unidad funcional, alineados con las metas y los objetivos institucionales.</div>
    <div class="item-drop" data-drop="0" data-posicion="4" >Sustentación de la gestión del personal ante la junta.</div>
    <div class="item-drop" data-drop="0" data-posicion="5" >Evaluación integral de la gestión en salud</div>
  </div>

  <div class="item-colum-select">
    <h2 title="Direccionamiento / Gerencia">D/G</h2>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
    <div class="item-drop select-colum-1">
      <select class="select-tipo" name="">
        <option value="No seleccionó">Seleccione</option>
        <option value="Direccionamiento">Direccionamiento</option>
        <option value="Gerencia">Gerencia</option>
      </select>
    </div>
</div>

<div class="item-colum-select">
  <h2 title="Cumple / Incumple">C/I</h2>
  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó" selected>Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

  <div class="item-drop select-colum-2">
    <select class="select-tipo" name="">
      <option value="No seleccionó">Seleccione</option>
      <option value="Cumple">Cumple</option>
      <option value="Incumple">Incumple</option>
    </select>
  </div>

</div>

  <div class="item-colum cont-textarea cont-textarea-inactiv">
    <h2>ARGUMENTO</h2>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
    <div class="item-input"> <textarea name="name" rows="1" cols="20" placeholder="Escriba aquí"></textarea> </div>
  </div>


</div>

<div class="initial-message-s9" data-ani-class="bounceInUp">
  <div class="cont-texto" data-inst="1" data-ani-class="bounceInUp">
    <i class="fa fa-arrow-up"></i>
    <h2>Marque en la segunda columna si el aspecto corresponde a proceso de direccionamiento o de gerencia.</h2>
  </div>

  <div class="cont-texto" data-inst="2" data-ani-class="bounceInUp">
    <i class="fa fa-arrow-up"></i>
    <h2>Marque en la tercera columna si la institución que seleccionó cumple o incumple con el proceso y finalmente escriba una justificación de sus elecciones.</h2>
  </div>

  <div class="cont-texto" data-inst="3" data-ani-class="bounceInUp">
    <i class="fa fa-warning"></i>
    <h2>Si después de leer las instrucciones, considera que necesita más información para realizar esta actividad, puede seguir explorando el contenido y volver después.</h2>
  </div>

  <img src="img/8/personaje_s8.png" alt="">

  <div class="button hoverable ini-act-s9"><span>Iniciar Actividad</span></div>
</div>
