<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 1</h2>
  <h3>Para iniciar, lea el enunciado y complete los espacios, elabore un análisis sobre los siguientes aspectos y preséntelos en un escrito de no más de 20 líneas por cada uno.</h3>
</div>

<div class="button hoverable button-finish"><span>Finalizar</span></div>
<div class="cont-preguntas">
  <div class="pregunta">
    <h2>1. La importancia de los procesos de direccionamiento y gerencia dentro de una institución prestadora de servicios de salud.</h2>
    <div class="cont-text">
      <textarea name="" id="" cols="30" rows="1" placeholder="Escriba aquí"></textarea>
    </div>
  </div>

  <div class="pregunta">
    <h2>2. Explique cuáles cree que son las diferencias entre estos dos tipos de procesos: direccionamiento y gerencia.</h2>
    <div class="cont-text">
      <textarea name="" id="" cols="30" rows="1" placeholder="Escriba aquí"></textarea>
    </div>
  </div>

  <div class="pregunta">
    <h2>3. Describa cuáles cree que son esos procesos de direccionamiento y gerencia con los que debe contar una institución prestadora de servicios de salud.</h2>
    <div class="cont-text">
      <textarea name="" id="" cols="30" rows="2" placeholder="Escriba aquí"></textarea>
    </div>
  </div>
</div>
