

<div class="title-slide" data-ani-class="bounceInRight">
  <h2>TEMA 1</h2>
  <h3>Relación de los procesos de direccionamiento y gerencia con los demás procesos. Explore el gráfico.</h3>
</div>

<div class="cont-personaje-s4" data-ani-class="bounceInUp">
    <img src="img/4/personaje_s4.png" alt="">
</div>

<div class="cont-grafica">

  <div class="item-grafica item_grafica_btn" data-itemgrafica="1">
    <h2>PROCESO DE DIRECCIONAMIENTO</h2>
  </div>

  <div class="item-grafica item-middle">
    <h2>OTROS PROCESOS</h2>
  </div>

  <div class="item-grafica item_grafica_btn" data-itemgrafica="2">
    <h2>PROCESOS DE GERENCIA</h2>
  </div>

</div>
