<div class="title-slide fs-bg" data-ani-class="bounceInRight">
    <div class="activity-icon">
        <div class="icon">
            <i class="fa fa-check"></i>
        </div>
    </div>
    <h2>Criterios de clasificación</h2>
</div>
<h2 class="instruction">¿Cree usted que hay un grupo que sea más excluido que los otros?</h2>
<textarea data-id="0" placeholder="Escriba aquí su respuesta"></textarea>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>