<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
        <span>A</span>
      </div>
  </div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="cards">
  <div class="card" data-ani-class="fadeInRight" data-ani-delay="500" data-id="1">
    <div class="title">A</div>
    <div class="text">
      <p>Ubique una persona que sea sujeto de especial protección y realícele una entrevista registrada en un video no mayor a 5 minutos usando las preguntas sugeridas*</p>
    </div>
  </div>
  <div class="card" data-ani-class="fadeInRight" data-ani-delay="1500" data-id="2">
    <div class="title">B</div>
    <div class="text">
      <p>¿Qué limitaciones tiene día a día? ¿Se ha sentido discriminado?, deme un ejemplo. ¿En qué ha consistido esa discriminación? ¿Cómo sería más fácil su vida?</p>
    </div>
  </div>
  <div class="card" data-ani-class="fadeInRight" data-ani-delay="2500"  data-id="3">
    <div class="title">C</div>
    <div class="text">
      <p>Identifique en la entrevista los derechos que usted considera que se están vulnerando o están en riesgo de vulneración</p>
      <div class="buttons">
        <a href="http://colombiadiversa.org/colombiadiversa/documentos/asuntos-legales/cartilla-mismos-derechos.pdf" target="_blank">
          <div class="button hoverable" title="Documento de referencia 1">
            <i class="fa fa-book"></i>
          </div>
        </a>
        <a href="https://www.ohchr.org/SP/Issues/Pages/WhatareHumanRights.aspx" target="_blank">
          <div class="button hoverable" title="Documento de referencia 2">
            <i class="fa fa-book"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="card" data-ani-class="fadeInRight" data-ani-delay="3500"  data-id="4">
    <div class="title">D</div>
    <div class="text">
      <p>Con esta información construya un blog en la página donde adjunte el material grabado y sus apreciaciones acerca de la vulneración de sus derechos.</p>
      <a href="https://youtu.be/OoSE9QeUJ4k" target="_blank">
        <div class="button hoverable">
          <span>GUIA DE<br> ELABORACIÓN</span>
        </div>
      </a>
    </div>
  </div>
  <div class="card" data-ani-class="fadeInRight" data-ani-delay="4500"  data-id="5">
    <div class="title">E</div>
    <div class="text">
      <p>Comparta en el foro la URL de su blog y comente el trabajo de 2 compañeros.</p>
      <a href="{{courseActivities.forum.0.href}}" target="_blank">
        <div class="button hoverable" title="Compartir mi trabajo">
          <i class="fa fa-share-alt" aria-hidden="true"></i>
        </div>
      </a>
    </div>
  </div>
</div>