<h2 class="instruction">¿Cuál cree usted es el grupo de especial protección más vulnerable? explique su respuesta</h2>
<textarea data-id="0" placeholder="Escriba aquí su respuesta"></textarea>
<div class="text-row">
	<div class="term">Acción afirmativa</div>
	<div class="definition">La acción afirmativa (también conocida como discriminación positiva) es el término que se da a
		una acción que pretende establecer políticas que dan a un determinado grupo social, étnico,
		minoritario, o que históricamente haya sufrido discriminación a causa de injusticias sociales, un
		trato preferencial en el acceso o distribución de ciertos recursos o servicios, así como acceso a
		determinados bienes. El objetivo es mejorar la calidad de vida de los grupos desfavorecidos y
		compensarlos por los perjuicios o la discriminación de la que han sido víctimas.</div>
</div>
<div class="text-row">
	<div class="term">Inclusión Social</div>
	<div class="definition">Es un proceso expresado en forma de políticas públicas, que busca que las personas que se
encuentran en condiciones de vulnerabilidad, pobreza, enfermedad, crisis económica o ambiental
puedan contar con las capacidades para enfrentar estas condiciones y no ver más diezmada su
situación.</div>
</div>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>