<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
	<div class="activity-icon">
		<div class="icon">
			<i class="fa fa-check" aria-hidden="true"></i>
		</div>
	</div>
	<h3>Sistema único de acreditación </h3>
</div>
<h2 class="instruction">¿Cual es el aspecto que más ha llamado su atención en la experiencia enteriormente realizada</h2>
<textarea data-id="0" placeholder="Escriba aquí su respuesta"></textarea>
<div class="text-row">
	<div class="term">Marco jurídico de protección de sujetos de especial protección.</div>
	<div class="definition">Los derechos de las personas encuentran su fundamento en normas internacionales y nacionales de protección, las cuales en su conjunto constituyen el marco jurídico que define los derechos, los mecanismos de protección y las obligaciones estatales en materia de respeto, protección y garantía de los derechos humanos de los sujetos más vulnerables de la sociedad</div>
</div>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>