<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 1" class="disabled fs-bg" data-id-in-slide="hkquj">
  <div class="icon" data-tippy="" data-original-title="Descargar nuevamente las respuestas de la Actividad 1">
    <i class="fa fa-download"></i>
  </div>
</a>
<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 3" class="disabled fs-bg" data-id-in-slide="a2voc9">
  <div class="icon" data-tippy="" data-original-title="Descargar nuevamente las respuestas de la Actividad 3">
    <i class="fa fa-download"></i>
  </div>
</a>
<div data-id-in-slide="rtpoek" class="fs-bg pointer hover-me hovered">
  <div class="circle"></div>
  <div class="number">1</div>
  <div class="triangle"></div>

  <div class="experience-menu" data-id="0">
    <h2 class="title">Experiencia 1</h2>
    <div class="black-square" data-id="0" data-switch-to-slide="2">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 1</h2>
    </div>
    <div class="black-square disabled" data-id="1">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Recurso 1</span>
    </div>
  </div>
</div>
<div data-id-in-slide="rzsdt" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">2</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="1">
    <h2 class="title">Experiencia 2</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="5">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Recurso 2</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="6">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 2</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="js94t" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">3</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="2">
    <h2 class="title">Experiencia 3</h2>
    <div class="black-square disabled" data-id="0">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Recurso 3</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="8" data-tippy="" data-original-title="Esta actividad prueba su proceso de aprendizaje, antes de realizarla le recomendamos explorar todos los recursos.">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 3</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="06kcl"></div>
<div data-id-in-slide="11b1h"></div>
<div data-id-in-slide="dni68d"></div>
<div data-id-in-slide="2foce7"></div>
<div data-id-in-slide="jp4laf"></div>
<div data-id-in-slide="a14km7"></div>
<div data-id-in-slide="125aoj"></div>
<div data-id-in-slide="0e15mx"></div>
<div data-id-in-slide="e64ffa"></div>
<div data-id-in-slide="62ej0yr"></div>
<div data-id-in-slide="vad9hn"></div>
<div data-id-in-slide="ielzma"></div>
<div data-id-in-slide="er2g4f"></div>
<div data-id-in-slide="75yqj"></div>
<div data-id-in-slide="hf66za"></div>
<div data-id-in-slide="gjo3ad"></div>
<div data-id-in-slide="wrk9z"></div>
<div data-id-in-slide="48t4eg"></div>
<div data-id-in-slide="405zn"></div>
<div data-id-in-slide="umgfpk"></div>
<div data-id-in-slide="s4c2y2"></div>