<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">Los derechos de la mujer comenzaron a ser realmente tenidos en cuenta
      desde 1932 cuando se les permitió administrar su salario</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">MUJER</div>
      <div class="section-description">
        <h2>Tratados internacionales ratificados</h2>
        <p>Convención sobre la Eliminación de todas las Formas de Discriminación Contra la Mujer (CEDAW) 1982. </p>
        <p>Convención Interamericana para Prevenir, Sancionar y Erradicar la Violencia Contra la Mujer (Convención de
          Belém do Pará) 1995. </p>
        <p>Ley 1257 del 4 de diciembre de 2008 </p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>