<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Características del manejo de la Información</h2>
</div>
<div class="graphic">
  <div class="title">
    <div class="icon"></div>
    <h2 class="text">A este grupo pertenecen quienes se autoreconocen como parte de estas comunidades descendientes de los habitantes precolombinos y comparten su cosmovisión, cultura, alimentación y lengua</h2>
  </div>
  <div class="sections">
    <div class="left-section">
      <div class="section-name">Pueblos Indígenas</div>
      <div class="section-description">
        <p></p>
      </div>
    </div>
    <div class="arrow"></div>
    <div class="right-section">
      <h2 class="text">El estado colombiano reconoce sus derechos constitucionalmente</h2>
    </div>
  </div>
</div>