<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon"></div>
  <h2>Estándares del proceso de mejoramiento de la calidad</h2>
  <h3>Claves para la mejora continua</h3>
</div>
<div data-id-in-slide="9x2vb"></div>
<div data-id-in-slide="q6e458"></div>
<div data-id-in-slide="tuecet"></div>
<div data-id-in-slide="tsi60j"></div>
<div data-id-in-slide="ttc9pm"></div>
<div data-id-in-slide="66be7"></div>