<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
	<div class="activity-icon">
		<div class="icon">
			<i class="fa fa-question" aria-hidden="true"></i>
		</div>
	</div>
	<h2>Caso</h2>
	<h3>El medio ambiente es el ambiente de todo</h3>
</div>
<div class="button hoverable go-back" data-switch-to-slide="3">
	<i class="fa fa-chevron-left"></i>
	<span>Regresar</span>
</div>
<div data-id-in-slide="qqd01r"></div>
<div data-id-in-slide="qvwc9n"></div>
<div data-id-in-slide="7zqjh"></div>
<div data-id-in-slide="hsdao"></div>
<div data-id-in-slide="8q6c4"></div>
<div data-id-in-slide="sxibk9"></div>
<div data-id-in-slide="lj49rf"></div>
<div data-id-in-slide="7dn2ra"></div>
<div data-id-in-slide="12d7ke"></div>
<div class="audio-trigger click-me visible" data-id="1"><i class="fa fa-eye"></i></div>
<div class="audio-trigger click-me" data-id="2"><i class="fa fa-eye"></i></div>
<div class="audio-trigger click-me" data-id="3"><i class="fa fa-eye"></i></div>
<div class="audio-trigger click-me" data-id="4"><i class="fa fa-eye"></i></div>
<div class="audio-trigger click-me" data-id="5"><i class="fa fa-eye"></i></div>
<div class="audio-trigger click-me" data-id="6"><i class="fa fa-eye"></i></div>