<div class="title-slide fs-bg animated bounceInRight" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Estándares del proceso de mejoramiento de la calidad. </h2>
  <h3>Sistema único de acreditación </h3>
</div>