<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 1</h2>
  <h3>Autoevaluación inicial</h3>
</div>
<div data-id-in-slide="xl1nms"></div>
<div data-id-in-slide="n103js" class="link hoverable" data-id="1" title="Parte 1 de la actividad" data-switch-to-slide="2-1">
  <span>1</span>
</div>
<div data-id-in-slide="wip2p" class="link hoverable" data-id="2" title="Parte 2 de la actividad" data-switch-to-slide="2-2">
  <span>2</span>
</div>
<div data-id-in-slide="o3awkc" class="link hoverable" data-id="3" title="Finalizar actividad">
  <span>3</span>
</div>