<h3>Si considera que requiere más información para realizar esta actividad puede seguir explorando la unidad.</h3>
<div class="button abs-p explorar hoverable click-me">
	<span>Quiero seguir explorando la unidad</span>
</div>

<div class="button abs-p continuar hoverable click-me">
	<span>Quiero desarrollar la actividad de aprendizaje 2</span>
</div>