@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="9"]';
body[data-current-slide-class="slide9"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons>.prev , .navigation-buttons>.next{
      display: none !important;
  }
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
  // .title-slide{
  //   margin-top: -37px;
  // }
  .personaje-s8{
    width: 20%;
    height: 62%;
    background: url("../img/8/personaje_s8.png")50% no-repeat;
    position: absolute;
    bottom: 0;
    left: 10%;
  }
  .btn_modal-s8{
    width: 30%;
    padding: 1%;
    border: solid $base 5px;
    margin: 0 auto;
    margin-top: 5%;
    margin-left: 40%;
    background: $baseComplement;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 20px black , 0 0 20px white inset;
    border-radius: 20px;
    h2{
      color: $base;
    }
    &:hover{
      transform: scale(1.2);
      cursor: pointer;
      box-shadow: 0 0 40px black , 0 0 20px white inset;
    }
  }


}
.modal_s8{
  background: $base!important;
}
