<div>
    <h1>Usted ha explorado todos los contenidos de este recurso, por esto ahora podrá descargar el documento completo de toda la unidad en el menú superior.
</h1>
<br>
<h1>Si considera que debe realizar modificaciones o mejoras a la actividad 2. Lo puede hacer en este momento.
</h1>
</div>
