<div class="cont-back">
  <div class="title-slide" data-ani-class="bounceInRight">
    <div class="icon-activity"></div>
    <h2>ACTIVIDAD 3</h2>
    <h3>Procesos relacionados con el direccionamiento y la gerencia en las instituciones prestadoras de servicios de salud ¿Qué tanto conoce ahora del tema?.</h3>
  </div>

  <div class="button hoverable boton_iniciar"><span>Iniciar</span></div>

</div>
