@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="Video1"]';

body[data-current-slide-class="slideVideo1"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slideVideo1"] #wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ae286e+0,79024d+100 */
    background: #ae286e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ae286e 0%, #79024d 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ae286e 0%,#79024d 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ae286e 0%,#79024d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae286e', endColorstr='#79024d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }

    h2.instruction{
        font-family: FFBold;
        font-size:2em;
        text-align: center;
    }

    textarea{
        font-family: FFLight;
        font-size:1.8em;
        color:rgba(0, 0, 0, 0.8);
        min-height:0;
        height:110px;
        width:95%;
        margin-left:2.5%;
    }

    .text-row{
        display:flex;
        align-items: center;
        justify-content: center;
        height:220px;
        width:95%;
        margin-left:2.5%;
    
        .term{
            width:20%;
            height:100%;
            background-color:#FFC843;
            color:#356535;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family:FFBold;
            font-size:1.9em;
        }

        .definition{
            width:80%;
            height:100%;
            background-color:#FFE77E;
            color:#356535;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: FFLight;
            font-size:1.7em;
        }
    }

    .button{
        position:static;
    }
}