@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="10"]';

body[data-current-slide-class="slide10"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide10"] #wrapper {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ae286e+0,79024d+100 */
    background: #ae286e; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ae286e 0%, #79024d 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ae286e 0%,#79024d 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ae286e 0%,#79024d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae286e', endColorstr='#79024d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .navigation-buttons{
        .prev,
        .next{
            top:6%;
        }
        .home{
            display:none;
        }
    }
}

#{$slide} {

    .button{
        position:static;
    }

    perspective: 600px; //hexagons

    .hexagon { //https://3dtransforms.desandro.com/card-flip
        transform-style: preserve-3d;
        cursor: pointer;
        transform-origin: center right;
        transition: all 0.4s ease;
        height: 168px;
        width: 173px;
        margin-bottom: 20px;
        
        &:hover{
            .front{
                filter:saturate(1.3);
            -webkit-filter:saturate(1.3);
            }
        }

        > * {
            position: absolute;
            height: 100%;
            width: 100%;
            backface-visibility: hidden;
            &.front {
                background-size:100px;
                background-color: #dd4e9f;
                background-image: url("data:image/svg+xml,%3Csvg width='60' height='48' viewBox='0 0 60 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='fancy-rectangles' fill='%23b81b6a' fill-opacity='0.4'%3E%3Cpath d='M6 12h6v12H6V12zm12 0h6v12h-6V12zm6-12h6v12h-6V0zM12 0h6v12h-6V0zm0 24h6v12h-6V24zM0 0h6v12H0V0zm6 36h6v12H6V36zm12 0h6v12h-6V36zm12-12h6v12h-6V24zM42 0h6v12h-6V0zm-6 12h6v12h-6V12zm12 0h6v12h-6V12zM36 36h6v12h-6V36zm12 0h6v12h-6V36zm-6-12h6v12h-6V24zm12 0h6v12h-6V24z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                border-radius:15px;
                border:solid 3px #FFFFFF;
            }
            &.back {
                transform: rotateY( 180deg);
                display:flex;
                align-items:center;
                justify-content: center;
                text-align: center;
                padding:10px;
                background-color: #f2f2f2;
                color:rgba(0, 0, 0, 0.8);
                border-radius:15px;
                border:solid 3px #FFFFFF;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
                background-size:cover;
                padding:10px;

                span{
                    width:95%;
                    font-size:1.5em;
                    font-family:FFBold;
                    line-height:0.9em;
                    height:95%;
                    display:flex;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    background-color:rgba(255, 255, 255, 0.75);
                }
            }
        }
        &.is-flipped {
            transform: translateX(-100%) rotateY(-180deg);
        }

        //background-image:url(../img/40.png);
        /*background-size:80%;
        background-position: 50% 50%;*/
    }

    .hexagon-row{
        width:95%;
        margin-left:2.5%;
        margin-bottom:15px;
        display:flex;
        align-items: center;
        justify-content: space-around;

        textarea{
            color:rgba(0, 0, 0, 0.8);
            font-family:FFLight;
            font-size:1.5em;
            min-height:0;
            height:150px;
            width:75%;
        }
    }
}
