@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5-6"]';

body[data-current-slide-class="slide5-6"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide5-6"] #wrapper {
    background: rgba(112, 0, 169, 0.5);/* Old browsers */

    .navigation-buttons{
        .next{
            display:none;
        }
    }
}

#{$slide} {

    .button{
        position:static;
    }
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }

    h2.instruction{
        font-family: FFBold;
        font-size:2em;
        text-align: center;
    }

    textarea{
        font-family: FFLight;
        font-size:1.8em;
        color:rgba(0, 0, 0, 0.8);
        min-height:0;
        height:110px;
        width:95%;
        margin-left:2.5%;
    }

    .text-row{
        display:flex;
        align-items: center;
        justify-content: center;
        height:220px;
        width:95%;
        margin-left:2.5%;
    
        .term{
            width:20%;
            height:100%;
            background-color:#FFC843;
            color:#356535;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family:FFBold;
            font-size:1.9em;
        }

        .definition{
            width:80%;
            height:100%;
            background-color:#FFE77E;
            color:#356535;
            display:flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-family: FFLight;
            font-size:1.7em;
        }
    }
}