@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="3"]';
body[data-current-slide-class="slide3"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev , .navigation-buttons > .next , .navigation-buttons > .home{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;

  iframe{
      max-width: 70%;
      height: 630px;
      margin-top: 1%;
  }
  .title-slide{
        margin-top: -1%;
  }
  .btn_cont_S3{
    margin-top: 0%;
  }

}
