@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  .navigation-buttons > .prev ,   .navigation-buttons > .next{
    display: none!important;
}
}
#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background-uno.jpg');
  text-align: center;
.title-slide{
  margin-top: -2%;
}
  .btn_cont_S6{
    top: 11%!important;
    visibility: hidden;
  }
  .cont-elements{
    width: 100%;
    height: auto;
    .element{
      display: inline-block;
      vertical-align: middle;
      width: 18%;
      height: auto;
      padding: 1%;
      border: solid white 3px;
      box-shadow: 0 0 20px black , 0 0 30px black inset;
      border-radius: 20px;
      transition: all 0.3s ease-out;
      h2{
        margin: 0;
        padding: 0;
        font-size: 1.8em;
      }
      &:hover{
        cursor: pointer;
        transform: scale(1.1);
        background: rgba(0,0,0,0.7);

      }
    }
  }
  .cont-screen{
    width: 80%;
    margin: 0 auto;
    height:52%;
    border: solid white 3px;
    box-shadow: 0 0 20px black , 0 0 30px black inset;
    background-image: url(../img/6/muestra.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.5s ease-out;
    position: relative;
    // animation: animaFondo 30s infinite linear;
    .contAudio{
      width: 100%;
      margin: 0 auto;
      height: auto;
      background: $baseDark;
      padding: 1%;
      position: absolute;
      bottom: 0%;
      box-shadow: 0 0 10px black;
      audio{
        width: 90%;

      }
    }
  }
  .element-active{
    transform: scale(1.1);
    background: rgba(0,0,0,0.7);
  }
  // @keyframes animaFondo{
  //   0%{background-size: 100%}
  //   50%{background-size: 110%}
  //   100%{background-size: 100%}
  // }

}
.modal_s6{
  background: none!important;
  audio{
    margin-top:-20%;
    filter: drop-shadow(0 0 20px black);
    animation-iteration-count: infinite;
  }
  .ini-s6{
    margin: 40px auto!important;
  }
  span{
    font-size: 2em;
  }
}
