<div class="fs-bg abs-p isla gr" data-ani-class="grow" data-ani-delay="200"></div>
<div class="fs-bg abs-p isla-peque gr" data-ani-class="grow" data-ani-delay="400"></div>
<div class="fs-bg abs-p isla-peque gr" data-n="2" data-ani-class="grow" data-ani-delay="600"></div>

<div class="fs-bg abs-p tablas gr" data-ani-class="grow" data-ani-delay="800"></div>

<div class="fs-bg abs-p arbol gr" data-ani-class="grow" data-ani-delay="1000"></div>
<div class="fs-bg abs-p arbol gr" data-n="2" data-ani-class="grow" data-ani-delay="1200"></div>
<div class="fs-bg abs-p arbol gr" data-n="3" data-ani-class="grow" data-ani-delay="1400"></div>
<div class="fs-bg abs-p arbol gr" data-n="4" data-ani-class="grow" data-ani-delay="1600"></div>

<div class="fs-bg abs-p edificio hoverable gr" data-n="1" data-ani-class="grow" data-ani-delay="2000">
	<div class="fs-bg icono expe_1" data-experiencia="1"></div>
	<div class="caja">
		<div class="titulo"><span>Experiencia 1</span></div>
		<div class="cajita actividad hoverable click-me" data-actividad="1" data-switch-to-slide="2" data-n="2">
			<div class="fs-bg simbolo"></div>
			<div class="nombre"><span>Actividad 1</span></div>
		</div>
		<div class="cajita recurso hoverable disabled" data-n="2" data-recurso="1">
			<div class="fs-bg simbolo" data-n="2"></div>
			<div class="nombre"><span data-n="2">Seguridad y salud en el trabajo (SST) Y Metodología GTC 45</span></div>
		</div>
	</div>
</div>
<div class="fs-bg abs-p edificio hoverable disabled gr" data-n="2" data-ani-class="grow" data-ani-delay="2400">
	<div class="fs-bg icono izquierda" data-experiencia="2" data-n="2"></div>
	<div class="caja" data-n="2">
		<div class="titulo"><span>Experiencia 2</span></div>
		<div class="cajita recurso hoverable" data-recurso="2" data-switch-to-slide="2">
			<div class="fs-bg simbolo" data-n="3"></div>
			<div class="nombre"><span>Peligros y Riesgos laborales</span></div>
		</div>
		<div class="cajita actividad hoverable" data-actividad="2" data-switch-to-slide="3">
			<div class="fs-bg simbolo" data-n="4"></div>
			<div class="nombre"><span>Actividad 2</span></div>
		</div>
	</div>
</div>
<div class="fs-bg abs-p edificio hoverable disabled gr" data-n="3" data-ani-class="grow" data-ani-delay="2800">
	<div class="fs-bg icono" data-experiencia="3" data-n="3"></div>
	<div class="caja" data-n="3">
		<div class="titulo"><span>Experiencia 3</span></div>
		<div class="cajita recurso hoverable" data-recurso="3" data-switch-to-slide="4">
			<div class="fs-bg simbolo" data-n="5"></div>
			<div class="nombre"><span data-n="3">Valoración y evaluación de riesgos </span></div>
		</div>
		<div class="cajita actividad hoverable" data-actividad="3" data-switch-to-slide="5">
			<div class="fs-bg simbolo" data-n="6"></div>
			<div class="nombre"><span>Actividad 3</span></div>
		</div>
	</div>
</div>