<div class="title-slide" data-ani-class="bounceInRight">
	<div class="fs-bg icono" data-n="2"></div> 
  <h2>Experiencia de aprendizaje 3</h2>
  <h3>Valoración y evaluación de riesgos</h3>
</div>
<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<div class="contenedor">	
	<div class="boton hoverable naranja fs-bg noColor" data-boton="1" data-n="2"><span>VALORACIÓN Y EVALUACIÓN DE RIESGOS</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="2"><span>Contexto de la Organización</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="3"><span>Identificación de peligros para la seguridad y salud en el trabajo</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="4"><span>Análisis y evaluación del riesgo</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="5"><span>Gestión de los Peligros y riesgos</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="6"><span>Eliminación</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="7"><span>Sustitución</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="8"><span>Controles de ingeniería</span></div>
	<div class="boton hoverable fs-bg noColor" data-boton="9"><span>Controles administrativos</span></div>
	<div class="boton hoverable fs-bg noColor largo" data-boton="10" data-n="2"><span>Métodos de control respecto a los elementos de protección personal (EPP)</span></div> 
</div>