<iframe src="img/activity-animate/activity.html" scrolling="no" class="brain-icon animated pulse" frameborder="0"></iframe>
<h1>Se han guardado las respuestas de esta actividad</h1>
<div class="content-download">
    <a href="dynamicPdf/pdf{{pdfId}}.php?{{pdfArgs}}" target="_blank">
        <div class="button-down-pdf fa fa-file-pdf-o hoverable">
            <i class="fa fa-download"></i>
        </div>
    </a>
    <h2>1. Descargue el documento PDF</h2>
</div>
<div class="content-sendActivity">
    <a href="{{assignLink}}" target="_blank">
        <div class="button-send fa fa-paper-plane hoverable">
            <i class="fa fa-upload"></i>
        </div>
    </a>
    <h2>2. Envie el documento de Actividad {{activityId}}</h2>
</div>