<h1>Planificar</h1>
<hr>
<h2>es establecer los objetivos del sistema y
sus procesos, así como los recursos necesarios
para generar y proporcionar resultados de
acuerdo con los requisitos del cliente y las
políticas de la organización, también identificar y
abordar los riesgos y oportunidades. </h2>