<h1>Actividad 1</h1>
<hr>
<h2>De acuerdo con el siguiente texto, relacionado con el Mejoramiento Continuo de
la Calidad en la Acreditación en Salud, complete cada uno de los párrafos con las
palabras claves que se encuentran en la lista desplegable.</h2>