<h1>Ciclo de Deming o Ciclo PHVA de mejoramiento continuo</h1>
<hr>
<h2>Dentro de los principios de la acreditación se encuentra el de mejoramiento continuo de todos los procesos, la teoría del
círculo de Deming , permite evidenciar los estándares. Explore la infografía</h2>