<h2>Después de compartir su trabajo en el foro, explore el trabajo de
sus compañeros, escoja uno de estos para darle aportes que
mejoren este trabajo con comentarios o con contrargumentos.</h2>
<div class="content-download">
    <a href="dynamicPdf/pdf2.php?{{pdfArgs}}" target="_blank">
        <div class="button-down-pdf fa fa-file-pdf-o hoverable">
            <i class="fa fa-download"></i>
        </div>
    </a>
    <h2>1. Descargue el documento PDF</h2>
</div>
<div class="content-sendActivity">
    <a href="{{forumLink}}" target="_blank">
        <div class="button-send fa fa-paper-plane hoverable">
            <i class="fa fa-upload"></i>
        </div>
    </a>
    <h2>Ir al foro</h2>
</div>
