<h2>Abordamos los estándares relacionados con el mejoramiento
continuo de la calidad, propuestos por el Ministerio de Salud en
su Manual de acreditación en salud ambulatorio y hospitalario
(2011). </h2>
<div class="icon"></div>