<h2>Se detallaron los puntos que se necesitan para lograr la mejora
continua de todos los procesos de la organización. propuestos
por Deming hace muchos años, son hoy la base fundamental
para el mejoramiento continuo de distintas organizaciones a
nivel internacional.</h2>
<div class="icon"></div>