<h1>Verificar</h1>
<hr>
<h2>es realizar el seguimiento y (cuando sea
aplicable) la medición de los procesos, productos y
servicios resultantes de las políticas, objetivos, requisitos
y actividades planificadas; también es informar sobre los
resultados. </h2>