@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";


body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    /*> .navigation-buttons{
        display:none;
    }*/
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        // background-image: url(../img/02.png);
        h1,
        h2,
        h3,
        p,
        li{
            color:$base;
        }

        padding:20px 40px;
        border: solid white 5px;
        box-shadow: 0 0 10px black inset;
        background-color:$baseComplement;

        span{
            font-size: 1.6em;
        }

        h2{
            color:$base;
            font-family: 'FFBold';
            font-size: 2em;
            margin: 0;
            margin-bottom: 3%;
        }
    }
}

.activity-icon{
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 2%;

    .icon{
        border-radius:100%;
        box-shadow:0px 0px 10px rgba(0, 0, 0, 0.5);
        display:flex;
        align-items: center;
        justify-content: center;
        width: 95px;
        height: 95px;
        margin-right: 10px;
        flex-basis: 95px;
        flex-grow: 0;
        flex-shrink: 0;

        i,
        span{
            font-size:4em;
        }
    }
}

.swal2-modal{
    &.allDoneModal{
      display: flex;
      width: 100% !important;
      /* height: 100%; */
      padding: 100px 100px 100px 200px !important;
      background-color:rgba(0, 0, 0, 0.85);
  
      h1{
        font-size:3em;
        text-align:left;
      }
  
      h2{
        color:#FFFFFF;
        font-size:2.2em;
        text-align: left;
        font-family: FFLight;
      }
  
      hr{
        width: 65%;
        margin-left: 35%;
        border-top: 3px #FFFFFF dashed;
      }
    }
  }

html{
    &[data-selected-character-id="1"]{
        .character{
            background-image:url(../img/2/2.png) !important;
        }
    }

    &[data-selected-character-id="2"]{
        .character{
            background-image:url(../img/2/3.png) !important;
        }
    }

    &[data-selected-character-id="3"]{
        .character{
            background-image:url(../img/2/4.png) !important;
        }
    }

    &[data-selected-character-id="4"]{
        .character{
            background-image:url(../img/2/5.png) !important;
        }
    }
}