@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="0"]';
body[data-current-slide-class="slide0"] #wrapper {
  //background-color: #EAEBED;
  background-image: url('../img/2/1.png');
  .navigation-buttons{
    > *{
      display:none;
    }
  }
}

#{$slide} {
    h1{
        font-family: FFBold;
        text-align: center;
        font-size:2.5em;
        position:static !important;
        margin-top:100px;
    }

    hr{
        width:100%;
        position:static !important;
        border-style: dashed;
        border-width: 2px;
    }

    .characters{
        display:flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        width:60%;
        margin-left:20%;

        .character-selector{
            width:49%;
            background-color:rgba(255, 255, 255, 0.5);
            padding:10px;
            display:flex;
            align-items: center;
            justify-content: center;
            margin-bottom:20px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+49,ffffff+49,ffffff+49,ffffff+50,ffffff+100&0.4+0,0+49,0+49,0.4+50,0.4+100 */
            background: -moz-linear-gradient(-45deg, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.39) 1%, rgba(255,255,255,0) 49%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.4) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.39) 1%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.39) 1%,rgba(255,255,255,0) 49%,rgba(255,255,255,0.4) 50%,rgba(255,255,255,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66ffffff', endColorstr='#66ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
            transition:all 0.35s ease;

            &:hover,
            &.selected{
                background-color:rgba($base, 0.5);
                cursor:pointer;
            }

            .face{
                width:250px;
                height:250px;
                border-radius:100%;
                background-position: 50% 0;
                background-repeat: no-repeat;
                background-size: contain;
            }

            &[data-id="1"]{
                .face{
                    background-color:#5A9FBE;
                    background-image:url(../img/2/2.png);
                }
            }

            &[data-id="2"]{
                .face{
                    background-color:#76AADB;
                    background-image:url(../img/2/3.png);
                }
            }

            &[data-id="3"]{
                .face{
                    background-color:#E6B54A;
                    background-image:url(../img/2/4.png);
                }
            }

            &[data-id="4"]{
                .face{
                    background-color:#E69835;
                    background-image:url(../img/2/5.png);
                }
            }
        }
    }
}
