@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="15"]';

body[data-current-slide-class="slide15"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide15"] #wrapper {
    background-color:#69ba51;

    .navigation-buttons{
        .prev{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    [data-id-in-slide="czbfulrdu585i885mi"]{
        position:absolute;
        width:20.46186190016073%;
        height:78.14071795137143%;
        left:4.342775%;
        top:15.723999999999998%;
        background-image:url('../img/2/2.png');
    }
    
    [data-id-in-slide="sdguvjexss7t2fn7b9"]{
        position:absolute;
        width:30.521851814009054%;
        height:74.02669325414291%;
        left:69.4425%;
        top:20.16322222222222%;
        background-image:url('../img/2/22.png');
    }
    
    .content{
        width:67%;
        margin-left:25%;
        margin-top:4%;

        .title{
            width:100%;
            position:relative;

            .icon{
                position:absolute;
                width:150px;
                height:150px;
                border-radius:100%;
                background-color:#76aadb;
                background-size:contain;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                display:flex;
                align-items: center;
                justify-content: center;
                top:-37px;
                left:-25px;

                i{
                    font-size:4em;
                    color:#FFFFFF;
                }
            }

            .text{
                background-color:#ebc346;
                padding:20px 20px 20px 80px;
                font-family: FFLight;
                font-size:2.5em;
                color:#000000;
                text-align: center;
                box-shadow: 30px 30px 0px rgba(0, 0, 0, 0.4);
            
            }


        }

        .description{
            background-color:rgba(255, 255, 255, 0.8);
            padding:20px;
            font-family:FFLight;
            font-size:2.4em;
            color:#000000;
            margin-top:60px;
        }
    }
    
}
