@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="11"]';

body[data-current-slide-class="slide11"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide11"] #wrapper {
    background-color:#00accb;
}

#{$slide} {
    .activity-icon{
        .icon{
        background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    [data-id-in-slide="ems1olqc4kr5mjf9a4i"]{
        position:absolute;
        width:33.2382969693159%;
        height:81.35937205262826%;
        left:66.735625%;
        top:13.010444444444444%;
        z-index:3;
        background-image:url('../img/2/20.png');
    }
    

    .inputs{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 43%;
        margin-top: 2%;
        width: 52%;
        padding: 50px;
        position:relative;
        z-index:20;


        .input-group{
            width:100%;
            background-color: rgba(255, 255, 255, 0.85);
            display:flex;
            align-items: center;
            flex-direction: column;

            h2{
                font-family: FFBold;
                color:rgba(0, 0, 0, 0.7);
                font-size:2em;
                text-align: center;
                padding:20px;
            }

            textarea{
                margin-bottom:20px;
                width:90%;
            }
        }
    }

    [data-id-in-slide="w5vy37q5sxfx7eo5stt9"]{
        position:absolute;
        width:19.254935243479924%;
        height:73.13194488109212%;
        left:2.30761875%;
        top:22.05211111111111%;
        background-image:url('../img/2/2.png');
        z-index:20;
    }
    
    [data-id-in-slide="hi45q122idaufxx647vi"]{
        position: absolute;
        width: 19.95975793727207%;
        height: 23.234966439260567%;
        left: 16.405271%;
        top: 24.899333%;
        z-index: 15;
    }

    .text{
        box-shadow: 30px 30px 0px rgba(0, 0, 0, 0.3);
        background-color: #ebc346;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #000000;
        padding-left: 40px;
        font-family: FFLight;
        font-size: 1.7em;
        text-align: center;
    }
    
    
}
