

<h1>1) Recuerde que para el desarrollo de la actividad puede consultar los siguientes recursos:</h1>
<ul>
  <li> <a href="https://www.arlsura.com/files/resolucion652_2012.pdf" target="_blank"><div class="button hoverable"><span>Resolución 652 de 2012</span></div></a></li>
  <li> <a href="https://www.arlsura.com/files/res13562012.pdf" target="_blank"><div class="button hoverable"><span>Resolución 1356 de 2012</span></div></a> </li>
  <li> <a href="http://www.redalyc.org/html/3758/375849366006/" target="_blank"><div class="button hoverable"><span>Acoso laboral y su prevención en organizaciones saludables</span></div></a> </li>
  <li> <a href="img/5/Anexo_COMITE_DE_CONVIVENCIA_LABORAL.pdf" target="_blank"><div class="button hoverable"><span>Presentación comité de convivencia laboral</span></div></a></li>
</ul>
