
<h1>2) Para el desarrollo de la actividad observe el siguiente video:</h1>
<div class="contVideoS5">
  <iframe src="https://www.youtube.com/embed/bJR4a-azNnE?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
