<h1>3) Analice el video anterior con relación a la Ley 1010 de 2006 y defina las conductas que pueden o no considerarse como acoso laboral.</h1>
<div class="cont-textarea-s5">
  <textarea name="name" rows="8" cols="70" placeholder="Escriba aquí su respuesta "></textarea>
</div>
