<div class="caja">
    <p>“Dentro del <span><input class="form-control" type="text"></span> de los estándares de <span><input class="form-control" type="text"></span> de la <span><input class="form-control" type="text"></span> los <span><input class="form-control" type="text"></span> de una <span><input class="form-control" type="text"></span> deben estar <span><input class="form-control" type="text"></span> a que los <span><input class="form-control" type="text"></span>, y en particular los de <span><input class="form-control" type="text"></span>, cuenten con los <span><input class="form-control" type="text"></span>, <span><input class="form-control" type="text"></span> y de <span><input class="form-control" type="text"></span> y con las <span><input class="form-control" type="text"></span> que respondan a las <span><input class="form-control" type="text"></span>. En especial que las condiciones del ambiente físico <span><input class="form-control" type="text"></span> la protección en un ambiente <span><input class="form-control" type="text"></span> a los <span><input class="form-control" type="text"></span> y los <span><input class="form-control" type="text"></span>.”
    </p>
</div>

<div class="contenedor">    
    <div class="palabras draggable-items">

    </div>
    <div class="acciones">
        {{!-- <div class="boton guardar hoverable click-me fs-bg">
        </div> --}}
        <a class="generarPdf" href="" target="_blank">
            <div class="boton guardar fs-bg hoverable click-me">
                <span>Descarga PDF</span>
            </div>
        </a>
        <div class="boton enviar hoverable click-me fs-bg oculto" data-n="2">
        </div>
    </div>

    <div class="button abs-p reiniciar hoverable click-me oculto">
        <span>Reiniciar</span>
    </div>
</div>