<div class="hexagono">
  <div class="hexa"></div>
</div>

<div class="abs-p fs-bg avatar" data-ani-class="bounce" data-ani-delay="300"></div>

<div class="button hoverable button-continuar escondido" data-ani-class="bounceInLeft"><span>Continuar</span></div>

<div class="contenedor" data-ani-class="pulse" data-ani-delay="700">
  <h1>ACTIVIDAD 3</h1>
  <hr/>
  <p>¿Qué aprendí sobre el estándar de gerencia del talento humano y del ambiente físico?
  <br>
  Descargue las respuesta de la actividad 1, y modifique el contenido de los espacios en blanco para construir frases coherentes usando el listado de palabras.
  </p>
</div>

<a class="generarPdf" href="" target="_blank">
    <div class="abs-p descarga hoverable click-me fs-bg" data-ani-class="bounceInUp"></div>
</a>

{{!-- <a href="http://esapvirtual.esap.edu.co/extension/mod/assign/view.php?id=19611" target="_blank">
	<div class="abs-p descarga hoverable click-me fs-bg" data-ani-class="bounceInUp" data-switch-to-slide="7"></div>
</a> --}}