<div>
<h1>Usted ha explorado y evaluado su conocimiento sobre obligaciones y responsabilidades de los actores del Sistema de Gestión de la Seguridad  y Salud en el Trabajo (SG-SST) estipulado en el Decreto 1072 de 2015.
<br><br>
Ahora puede obtener el documento completo de la unidad por medio del botón PDF en el menú superior. Si usted considera que necesita complementar la actividad 2 puede usar esta información para hacerlo durante el tiempo que esté el aula abierta.
</h1>
</div>
