<div class="flecha" data-ani-class="bounceInDown">
  <div class="numero" data-numero="1">
    <img src="img/5/num-1.png" alt="">
    <h2>Diagnóstico de condiciones de trabajo.</h2>
    <audio id="audiomodal1" class="audioS5" data-ani-class="bounceInLeft" data-audiomodal="1" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound2_1.mp3" type="audio/mpeg">
    </audio>
  </div>
  <div class="numero" data-numero="2">
    <img src="img/5/num-2.png" alt="">
    <h2>Planificación de actividades de intervención.</h2>
    <audio id="audiomodal2" class="audioS5" data-ani-class="bounceInLeft" data-audiomodal="2" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound2_2.mp3" type="audio/mpeg">
    </audio>
  </div>
  <div class="numero" data-numero="3">
    <img src="img/5/num-3.png" alt="">
    <h2>Ejecución del plan de intervención.</h2>
    <audio id="audiomodal3" class="audioS5" data-ani-class="bounceInLeft" data-audiomodal="3" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound2_3.mp3" type="audio/mpeg">
    </audio>
  </div>
  <div class="numero" data-numero="4">
    <img src="img/5/num-4.png" alt="">
    <h2>Evaluación y seguimiento del plan de intervención.</h2>
    <audio id="audiomodal4" class="audioS5" data-ani-class="bounceInLeft" data-audiomodal="4" controls controlsList="nofullscreen nodownload">
      <source src="img/sound/sound2_4.mp3" type="audio/mpeg">
    </audio>
  </div>
</div>

<div class="indicacionmodals6">
  <h2>De clic en cada número y escuche atentamente</h2>
</div>
