<div class="title-slide" data-ani-class="bounceInRight">
  <div class="icon-activity"></div>
  <h2>ACTIVIDAD 2 - Parte 3 de 3</h2>
</div>
<div class="cont-instrucciones" data-ani-class="bounceInUp">
  <h2>Para terminar esta actividad, elabore el instructivo a través de un video en  donde explique cómo es el diligenciamiento del formato U2_ACT2. Tenga en cuenta que el video no supere los 5 minutos y use archivos mp4, avi o wmv.</h2>
  <br>
  <a href="img/FORMATO U2_ACT2.xlsx" target="_blank">
    <div class="button hoverable"><span>Descargar formato U2_ACT2</span></div>
  </a>
  <br>
  <h2>Descargue las respuestas de los pasos anteriores de esta actividad</h2>
  <br>
  <div class="button hoverable downpdf-act2"><span>Descargar Respuestas</span></div>
  <br>
  <h2>Comparta el video y el documento PDF con sus respuestas en el foro de la actividad 2, comentando las respuestas de 2 de sus compañeros.</h2>
  <br>
  <div class="content-sendActivity">
      <a href="{{courseActivities.forum.0.href}}" target="_blank">
          <div class="button-send fa fa-paper-plane hoverable send-act-2"><i class="fa fa-upload"></i></div>
      </a>
  </div>
</div>
<img src="img/8/personaje_s8.png" alt="" data-ani-class="bounceInLeft">

<div class="button hoverable button-finish-act2"><span>Continuar Explorando</span></div>
