<h2>Usted acaba de concluir sus experiencias de aprendizaje de la unidad <b>POLÍTICAS PÚBLICAS</b>, por esto
ahora podrá descargar el documento completo de toda la unidad en el menú superior.</h2>
<br>
<h2>Si considera que debe realizar modificaciones o mejoras a la
actividad 2. Lo puede hacer en este momento.</h2>