<div class="text">
    <h2>Recuerde que para desarrollar las actividades de aprendizaje es recomendable tener claros algunos conceptos clave, lo invitamos a explorarlos ingresando a cada una de las experiencias de aprendizaje. </h2>
</div>
<h1>¿DESEA CONTINUAR CON LA ACTIVIDAD?</h1>
<div class="options">
    <div class="option" data-switch-to-slide="13">
        <span>SI</span>
    </div>
    <div class="option">
        <span>NO</span>
    </div>
</div>