<div class="icon"></div>
<h2 class="text">Con el apareamiento realizado, escoja tres
    términos-concepto y descríbalos de
    manera amplia con el conocimiento que
    actualmente usted maneja sobre el tema.
    Si en este momento usted considera que
    aún no puede hacer estas descripciones,
    deje este espacio en blanco.</h2>