<h2>¿Cuál cree usted es el grupo de especial protección más vulnerable? explique su respuesta</h2>
<textarea placeholder="Escriba acá" data-id="3"></textarea>
<div class="button save hoverable">
    <span>Finalizar</span>
</div>