<h1>Actividad 3. ¿Actuar en consecuencia?</h1>
<hr>
<h2>Revise las respuestas de la actividad 1 y si considera que debe hacer cambios o complementar sus respuestas, hágalo por medio de esta actividad. Recuerde que con esta autoevaluación usted podrá identificar cuánto ha aprendido con esta experiencia. </h2>