@import "../_variables";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "./variables";


body{
    background-color:$base;
    // background-color: #69D2E7;
    // background-image: url("data:image/svg+xml,%3Csvg width='24' height='40' viewBox='0 0 24 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 40c5.523 0 10-4.477 10-10V0C4.477 0 0 4.477 0 10v30zm22 0c-5.523 0-10-4.477-10-10V0c5.523 0 10 4.477 10 10v30z' fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");

}

body.cursor-pointer{
    cursor:pointer;
}

#stage{
    // overflow-y:scroll !important;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
}

.slide{
    .group{
        position:absolute;
        width:100%;
        height:100%;
        left:0;
        top:0;
        display:none;

        &.visible{
            display:block;
        }
    }
}

.swal2-modal{
    &.ova-themed{
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../img/02.png);
        background-color: $base;
        border-radius: 25px;
        h1,
        h2,
        h3,
        p,
        li{
            color:white!important;
            line-height: 1.4;
        }
    }
}

.disabled{
    pointer-events:none;
}

.oculto{
    visibility: hidden;
    opacity: 0;
}

[tooltip]::before {
    content: "";
    position: absolute;
    top:-6px;
    left:50%;
    transform: translateX(-50%);
    border-width: 14px 16px 0 16px;
    border-style: solid;
    border-color: rgba(0,0,0,0.7) transparent transparent     transparent;
    z-index: 99;
    opacity:0;
}

[tooltip-position='left']::before{
  left:-4%;
  top:50%;
  margin-left:-12px;
  transform:translatey(-50%) rotate(-90deg) 
}
[tooltip-position='top']::before{
  left:50%;
}
[tooltip-position='buttom']::before{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translatey(-100%) rotate(-180deg)
}
[tooltip-position='right']::before{
  left:100%;
  top:50%;
  margin-left:-14px;
  transform:translatey(-50%) rotate(90deg)
}

[tooltip]::after {
    content: attr(tooltip);
    position: absolute;
    left:50%;
    top:-6px;
    transform: translateX(-50%)   translateY(-100%);
    background: rgba(0,0,0,0.7);
    text-align: center;
    color: #fff;
    padding:4px 2px;
    font-size: 1em;
    min-width: 300%;
    border-radius: 15px;
    pointer-events: none;
    padding: 3%;
    z-index:99;
    opacity:0;
}

[tooltip-position='left']::after{
  left:0%;
  top:50%;
  margin-left:-8px;
  transform: translateX(-100%)   translateY(-50%);
}
[tooltip-position='top']::after{
  left:50%;
}
[tooltip-position='buttom']::after{
  top:100%;
  margin-top:8px;
  transform: translateX(-50%) translateY(0%);
}
[tooltip-position='right']::after{
  left:100%;
  top:50%;
  margin-left:8px;
  transform: translateX(0%)   translateY(-50%);
}

[tooltip]:hover::after,[tooltip]:hover::before {
   opacity:1
}

.modalPdf{
    p{
        font-family: FFLight;
        font-size: 1.3em;
        color: white;
    }

    a{
        float: left;
        margin-left: 5%; 
        width: 20%;
        height: 150px;

        &.solo{
            margin-top: 5%;
            margin-left: 40%;
        }

        &[data-n="2"]{
            margin-left: 25%;
        }

        &[data-n="3"]{
            margin-left: 14%;
        }

        .button{
            background-image: url(../img/3/descarga.png);
            width: 100%;
            height: 120px;
            background-color: transparent;
            border: none;
            padding-top: 37%;

            &[data-n="2"]{
                background-image: url(../img/3/enviar.png);
            }

            &:hover{
                background-color: transparent;
            }

            span{
                color: white;
                font-size: 1.05em;
            }
        }
    }
}

.noColor{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%); /* Para cuando es estándar funcione en todos */
    filter: Gray(); /* IE4-8 and 9 */
}

.modalActividad2{
    p{
        font-family: FFLight;
        font-size: 1.5em;
        color: white;
    }

    a{
        float: left;
        margin-left: 20%;
    }
}

.allDoneModal{

    width: 60%!important;

    h1{
        float: left;
        width: 60%;
        margin-top: 4%;
        margin-left: 3%;
    }
    .personaje{
        float: left;
        background-image: url(../img/10/enfermera.png);
        width: 30%;
        height: 400px;
        margin-left: 2%;
        margin-top: 1%;
    }
}

.video{
    margin-top: 5%;
}