@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="1"]';
body[data-current-slide-class="slide1"] #wrapper {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
}

#{$slide} {
  background-color: #EAEBED;
  background-image: url('../img/1/background.png');
  text-align: center;
  padding-top: 1%;
  perspective-origin: left;
  // perspective: 800px;

  .fondo{
    background-image: url(../img/1/fondo.png);
    width: 40%;
    height: 60%;
    left: 15%;
    top: 54%;
    z-index: 2;
  }

  .personaje{
    background-image: url(../img/1/personaje.png);
    width: 10%;
    height: 38%;
    left: 27%;
    top: 49%;
    z-index: 4;
  }

  .learning-experience{
    background-image: url(../img/1/experiencia_1.png);
    width: 24%;
    height: 50%;
    left: 29%;
    top: 30%;
    z-index: 3;
    transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;

    &[data-n="2"]{
      background-image: url(../img/1/experiencia_2.png);
      left: 47%;
      top: 17%;
      height: 60%;
      width: 18%;
      z-index: 2;
    }

    &[data-n="3"]{
      background-image: url(../img/1/experiencia_3.png);
      left: 61%;
      top: 11%;
      height: 60%;
      width: 18%;
      z-index: 1;
    }

    &:hover{
      transform: translate(0, -10%);
    }

    .titulo{
      background-image: url(../img/1/titulo.png);
      width: 64%;
      height: 55%;
      margin-left: 15%;
      margin-top: -10%;

      &[data-n="2"]{
        margin-left: 4%;
        width: 80%;
      }

      p{
        font-family: BebasNeue;
        font-size: 2em;
        color: #006633;
        transform: rotate(30deg);
        padding-top: 25%;
      }

      .galaxia{
        float: left;
        width: 100%;
        height: 30%;
        padding-left: 10%;
        transform: rotate(30deg);

        .estrella{
          float: left;
          background-image: url(../img/1/estrella_mono.png);
          width: 25%;
          height: 100%;
          margin-left: 3%;
          transition: all 0.7s linear;
          -webkit-transition: all 0.7s linear;
          -moz-transition: all 0.7s linear;
          -ms-transition: all 0.7s linear;
          -o-transition: all 0.7s linear;

          &.dorada{
            background-image: url(../img/1/estrella_dorada.png);
          }
        }
      }
    }
  }

  .disabled{
    opacity: 0.5;
  }
}
