@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';
body[data-current-slide-class="slide8"] #wrapper {
  background: radial-gradient(#88BD2B, #6BB42C);
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background: radial-gradient(#88BD2B, #6BB42C);
  background-image: url('../img/6/background.png');
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .tabla{
    float: left;
    margin-top: 3%;
    margin-left: 5%;
    width: 22%;
    height: 50%;

    .titulo{
        width: 100%;
        height: 10%;
        background-color: #D60B52;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        display: inline-table;
        text-align: center;

        span{
            font-family: FFBold;
            font-size: 1.5em;
            color: white;
            display: table-cell;
            vertical-align: middle;
        }

        &[data-n="2"]{
            background-color: #009788;
        }

        &[data-n="3"]{
            background-color: #A3195B;
        }
    }

    textarea{
        width: 100%;
        height: 90%;
        min-height: 30%;
        float: left;
        border-color: transparent;
        color: #D60B52;
        padding: 2%;
        font-size: 1.4em;
        font-family: FFLight;
        background-color: rgba(#DBDBDB, 0.8);
        border-bottom-right-radius: 25px;
        border-bottom-left-radius: 25px;

        &[data-n="2"]{
            color: #009788;
            &:hover{
                border-color: #009788;          
            }
        }

        &[data-n="3"]{
            color: #A3195B;
            &:hover{
                border-color: #A3195B;          
            }
        }
      }

      textarea:hover{
        border-color: #D60B52;  
      }

      textarea::-webkit-input-placeholder {
        color: #9A999E;
        text-align:center;
        padding-top: 15%;
        font-size: 2em;
      }
      textarea:-moz-placeholder {
        color: #9A999E;
        text-align:center;
        padding-top: 15%; 
        font-size: 2em;
      }
      textarea:-ms-input-placeholder { 
        color: #9A999E;
        text-align:center;
        padding-top: 15%; 
        font-size: 1.5em;
      }
  }

  .info{
      position: absolute;
      top: 74%;
      left: 0%;
      width: 100%;
      height: 20%;
      padding: 2% 5%;
      background-color: #6BB42C;
      display: inline-table;
      text-align: center;
  
      span{
          font-family: FFBold;
          font-size: 1.5em;
          color: white;
          display: table-cell;
          vertical-align: middle;
      }
  }

  .manual{
    background-image: url(../img/8/manual.png);
    width: 10%;
    height: 15%;
    left: 85%;
    top: 35%;
  }

  .foro{
    background-image: url(../img/8/foro.png);
    width: 10%;
    height: 15%;
    left: 85%;
    top: 55%;
  }
}