@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="9"]';
body[data-current-slide-class="slide9"] #wrapper {
  background: radial-gradient(#88BD2B, #6BB42C);
}
#{$slide} {
  background: radial-gradient(#88BD2B, #6BB42C);
  text-align: center;

  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  .paso{
    background-image: url(../img/9/fuxia.png);  
    width: 20%;
    height: 31%;
    left: 6%;
    top: 60%;
    z-index: 1;
    padding: 0 3.5% 0 3%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;
    display: inline-table;
    text-align: center;

    span{
      font-family: FFBold;
      font-size: 1.5em;
      color: white;
      display: table-cell;
      vertical-align: middle;
      transition: all 0.7s linear;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;
    }

    &[data-n="2"]{
      background-image: url(../img/9/aguamarina.png);   
      width: 16%;
      height: 25%;
      left: 9%;
      top: 43%;
      z-index: 3;
    }

    &[data-n="3"]{
      background-image: url(../img/9/verde.png);   
      width: 17%;
      height: 30%;
      left: 5%;
      top: 21%;
    }

    &[data-n="4"]{
      background-image: url(../img/9/verde1.png);   
      width: 16%;
      height: 25%;
      left: 17.506%;
      top: 25%;
      padding: 0 5% 0 2%;
      z-index: 2;
    }

    &[data-n="5"]{
      background-image: url(../img/9/verde2.png);   
      left: 24.506%;
      top: 36%;
      z-index: 3;
    }

    &[data-n="6"]{
      background-image: url(../img/9/amarillo.png);   
      width: 16%;
      height: 25%;
      left: 30%;
      top: 57%;
      z-index: 4;
    }

    &[data-n="7"]{
      background-image: url(../img/9/amarillo1.png);   
      width: 16%;
      height: 25%;
      left: 39%;
      top: 69%;
      z-index: 3;
    }

    &[data-n="8"]{
      background-image: url(../img/9/naranja.png);   
      left: 47%;
      top: 52%;
      z-index: 2;
    }

    &[data-n="9"]{
      background-image: url(../img/9/naranja1.png);   
      left: 48%;
      top: 29%;
      height: 32%;
      z-index: 3;
    }

    &[data-n="10"]{
      background-image: url(../img/9/amarillo2.png);   
      width: 16%;
      height: 26%;
      left: 62.506%;
      top: 36%;
      z-index: 4;
    }

    &[data-n="11"]{
      background-image: url(../img/9/aguamarina.png);   
      width: 16%;
      height: 25%;
      left: 70%;
      top: 47%;
      z-index: 5;
    }

    &[data-n="12"]{   
      left: 76%;
      top: 62%;
      z-index: 3;
    }
  }

  .flecha{
    background-image: url(../img/9/flecha.png);
    width: 12%;
    height: 15%;
    left: 1%;
    top: 80%;
    z-index: 2;

    &[data-n="2"]{
      background-image: url(../img/9/flecha2.png);
      left: 53%;
      top: 82%;
      width: 7%;
    }
  }
}