@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="5"]';
body[data-current-slide-class="slide5"] #wrapper {
  background: radial-gradient(#88BD2B, #6BB42C);
}
#{$slide} {
  background: radial-gradient(#88BD2B, #6BB42C);
  text-align: center;
  
  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  h3{
    font-size: 1.95em;
  }

  .pagina{
    position: absolute;
    top: 23%;
    left: 0%;
    width: 100%;
    height: 48%;
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    .contenedor{
      margin-left: 5%;
      width: 90%;
      height: 100%;

      .caja{
        float: left;
        background: radial-gradient(#FFF, #C0CAD0);
        border-radius: 25px;
        width: 30%;
        height: 95%;
        margin-left: 3%;
        padding: 1.5%;

        .escena{
          background-image: url(../img/5/escena1.png);
          width: 100%;
          height: 60%;

          &[data-n="2"]{background-image: url(../img/5/escena2.png);}
          &[data-n="3"]{background-image: url(../img/5/escena3.png);}
          &[data-n="4"]{background-image: url(../img/5/escena4.png);}
          &[data-n="5"]{background-image: url(../img/5/escena5.png);}
          &[data-n="6"]{background-image: url(../img/5/escena6.png);}
          &[data-n="7"]{background-image: url(../img/5/escena7.png);}
          &[data-n="8"]{background-image: url(../img/5/escena8.png);}
          &[data-n="9"]{background-image: url(../img/5/escena9.png);}
        }

        .texto{
          width: 100%;
          height: 40%;
          padding: 1%;
          display: inline-table;
          text-align: center;
          transition: all 0.7s linear;
          -webkit-transition: all 0.7s linear;
          -moz-transition: all 0.7s linear;
          -ms-transition: all 0.7s linear;
          -o-transition: all 0.7s linear;

          span{
            font-family: FFLight;
            font-size: 1.3em;
            color: #006633;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
    }
  }

  .cajaRespuestas{
    position: absolute;
    left: 0;
    top: 71%;
    width: 100%;
    height: 22%;
    background-color: white;
    -webkit-box-shadow: 5px 5px 14px 15px rgba(151,172,166,0.75);
    -moz-box-shadow: 5px 5px 14px 15px rgba(151,172,166,0.75);
    box-shadow: 5px 5px 14px 15px rgba(151,172,166,0.75);
    transition: all 0.7s linear;
    -webkit-transition: all 0.7s linear;
    -moz-transition: all 0.7s linear;
    -ms-transition: all 0.7s linear;
    -o-transition: all 0.7s linear;

    .respuesta{
        float: left;
        width: 28%;
        height: 20%;
        margin-top: 0.5%;
        margin-left: 4%;
        border-radius: 50px;
        background: radial-gradient(#FFF, #C0CAD0);
        display: inline-table;
        text-align: center;

        span{
          font-family: FFBold;
          font-size: 1.2em;
          color: #006633;
          display: table-cell;
          vertical-align: middle;
        }

        &:hover{
          background: rgba(#006633, 0.7);

          span{
            color: #FFF;
          }
        }

        &.correcta{
          background: radial-gradient(#88BD2B, #6BB42C);

          span{
            color: #FFF;
          }
        }
    }
  }
}