@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="6"]';
body[data-current-slide-class="slide6"] #wrapper {
  background: radial-gradient(#88BD2B, #6BB42C);
  background-image: url('../img/6/background.png');
}
#{$slide} {
  background: radial-gradient(#88BD2B, #6BB42C);
  background-image: url('../img/6/background.png');
  text-align: center;

  h2{
  	font-size: 2.2em;
  }

  h3{
    font-size: 1.84em;
  }
  
  .escondido{
    display: none;
    transition: all 0.3s ease-out;
  }

  	.title-slide{
  		background-color: #6BB42C;
  		z-index: 6;
        margin-left: 2%;
        width: 100%;
        position: absolute;
  	}

  	.main-content{
        position:absolute;
        left:0;
        top:-305%;
        width:100%;
        height:400%;
        transition:all 0.75s ease;

        .building{
            position: absolute;
            left: 10%;
            width: 80%;
            height: 55%;
            bottom: 0;
            background-image: url(../img/6/edificio.png);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &[data-step="2"]{
        .main-content{
            top:-226%;
        }

        .buildings{
            top:44%;
        }
    }

    &[data-step="3"]{
        .main-content{
            top:-169%;
        }

        .buildings{
            top:47%;
        }
    }

    &.translating{
        filter:blur(1px);
        -webkit-filter: blur(1px);
    }

    .buttons{
        > *{
            width:90px;
            height:90px;
            border-radius:100%;
            box-shadow:0px 0px 10px rgba(0, 0, 0, 0.3);
            position:absolute;
            background-color:$base;
            transition: all 0.35s ease;
            display:flex;
            align-items: center;
            justify-content: center;

            &:hover{
                background-color:lighten($base, 5%);
                cursor:pointer;
                transform:scale(1.1);
            }

            i{
                color:#FFFFFF;
                font-size: 3em;
            }
        }

        .next{
            left: 90%;
            top: 21%;
        }

        .prev{
            left: 6%;
            top: 78%;
        }
    }

    &[data-step="1"]{
        .buttons{
            .prev{
                display:none;
            }
        }
    }

    &[data-step="3"]{
        .buttons{
            .next{
                display:none;
            }
        }
    }

	.opcion{
		background-image: url(../img/6/1.png);
		top: 45%;
		left: 25%;
		width: 3%;
		height: 4%;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        &[data-n="1"]{
            background-image: url(../img/6/1.png);  
            top: 47.706%;
            left: 59.706%;
        }

        &[data-n="2"]{
            background-image: url(../img/6/2.png);  
            top: 54.406%;
            left: 29.706%;
            width: 4%;
        }

        &[data-n="3"]{
            background-image: url(../img/6/3.png);  
            top: 55%;
            left: 73.506%;
            height: 3.2%;
        }

        &[data-n="4"]{
            background-image: url(../img/6/4.png);  
            top: 58.306%;
            left: 72.506%;
            width: 4%;
        }

        &[data-n="5"]{
            background-image: url(../img/6/5.png);  
            top: 60.906%;
            left: 15.506%;
            width: 20%;
            height: 8%;
        }

        &[data-n="6"]{
            background-image: url(../img/6/6.png);  
            top: 69.906%;
            left: 49.506%;
        }
            
        &[data-n="7"]{
            background-image: url(../img/6/7.png);  
            top: 75.706%;
            left: 27.306%;
            width: 3.5%;
        }

        &[data-n="8"]{
            background-image: url(../img/6/9.png);  
            top: 75.806%;
            left: 60.006%;
            width: 4%;
        }

		&[data-n="9"]{
			background-image: url(../img/6/2.png);	
			top: 85.406%;
			left: 34.306%;
		}

		&[data-n="10"]{
			background-image: url(../img/6/8.png);	
			top: 93%;
			left: 33%;
			width: 8%;
		}

		&[data-n="11"]{
			background-image: url(../img/6/4.png);	
			top: 84.706%;
			left: 61%;
			width: 3%;
			height: 3%;
		}
	}

    .info{
        position: absolute;
        top: 48%;
        left: 74%;
        width: 25%;
        height: 5%;
        border-radius: 25px;
        padding: 1%;
        background-color: rgba(#DBDBDB, 1);
        border: solid #D60B52 5px;
        -webkit-box-shadow: 5px 5px 5px -3px rgba(151,172,166,0.75);
        -moz-box-shadow: 5px 5px 5px -3px rgba(151,172,166,0.75);
        box-shadow: 5px 5px 5px -3px rgba(151,172,166,0.75);
        display: inline-table;
        text-align: center;
        transition: all 0.7s linear;
        -webkit-transition: all 0.7s linear;
        -moz-transition: all 0.7s linear;
        -ms-transition: all 0.7s linear;
        -o-transition: all 0.7s linear;

        span{
            font-family: FFLight;
            font-size: 1.5em;
            color: rgba(#D60B52, 0.7);
            display: table-cell;
            vertical-align: middle;

            b{
                color: #D60B52;
            }
        }

        &[data-n="2"]{
            top: 48%;
            left: 13%;
        }

        &[data-n="3"]{
            top: 51%;
            left: 46%;
        }

        &[data-n="4"]{
            top: 61%;
            left: 56%;
        }

        &[data-n="5"]{
            top: 66.506%;
            left: 13%;
        }

        &[data-n="6"]{
            top: 66.506%;
            left: 62%;
        }

        &[data-n="7"]{
            top: 72%;
            left: 74%;
        }

        &[data-n="8"]{
            top: 72%;
            left: 33%;
        }

        &[data-n="9"]{
            top: 89.506%;
            left: 4%;
        }

        &[data-n="10"]{
            top: 87.506%;
            left: 53%;
        }

        &[data-n="11"]{
            top: 93.506%;
            left: 53%;
        }
    }

    .button-continuar{
        z-index: 6;
        top: 10.506%;
    }
}