@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2"]';

body[data-current-slide-class="slide2"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2"] #wrapper {
    background-color: rgba(108, 14, 167, 0.24);

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;

            span{
                font-family: FFBold;
                font-size: 2.6em;
                color: #90133C;
                margin-top: 5px;
            }
        }
    }

    [data-id-in-slide="xl1nms"]{
        position:absolute;
        width:28.335965594244193%;
        height:74.45024000042058%;
        left:71.6625%;
        top:17.820222222222224%;
        z-index:4;
        background-image:url('../img/2/34.png');
    }
    
    [data-id-in-slide="n103js"]{
        position:absolute;
        width:26.315933987398%;
        height:39.15556013022586%;
        left:18.459693804529124%;
        top:32.12098879194823%;
        z-index:8;
        background-image:url('../img/2/28.png');
    }
    
    [data-id-in-slide="wip2p"]{
        position:absolute;
        width:22.701401537231607%;
        height:47.681764831132234%;
        left:40.564753994147196%;
        top:27.920555555555556%;
        z-index:14;
        background-image:url('../img/2/29.png');
    }
    
    [data-id-in-slide="o3awkc"]{
        position:absolute;
        width:26.653388371217297%;
        height:44.24336614390562%;
        left:58.947000626616656%;
        top:29.234222222222222%;
        z-index:16;
        background-image:url('../img/2/30.png');
    }    

    .link{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.35s ease;
        -webkit-filter: drop-shadow(13px 18px 0px rgba(0, 0, 0, 0.4));

        &:hover{
            filter:saturate(1.2);
        }
        span{
            font-family: FFBold;
            font-size: 8.5em;
            text-align: center;
        }
    }
    
}
