@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="2-1"]';

body[data-current-slide-class="slide2-1"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide2-1"] #wrapper {
    background-color: rgba(121, 39, 39, 0.24);

    .navigation-buttons{
        > *{
            display:none;
        }
    }
}

#{$slide} {

    [data-id-in-slide="xl1nms"]{
        position:absolute;
        width:28.335965594244193%;
        height:74.45024000042058%;
        left:71.6625%;
        top:17.820222222222224%;
        z-index:4;
        background-image:url('../img/2/34.png');
    }
    
    ol{
        margin-top: 16px;
        li{
            font-family: FFLight;
            margin-bottom:15px;
            font-size:2.3em;
            text-align: left;
            margin-left:45px;
        }
    }

    .content{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 490px;
        position: relative;
        z-index: 20;
        box-shadow: -15px 19px 0px rgba(0, 0, 0, 0.3);

        .point{
            width: 40%;
            background-color: #AF3896;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            flex-direction:column;

            p{
                font-size:2.5em;
                text-align: center;
                padding:15px;
                color:#FFFFFF;
                font-family:FFLight;
            }

            .droppable-zone{
                width: 40%;
                min-height: 80px;
                border: solid 5px #B20053;
                margin-top: 15px;
                background-color: #FFFFFF;
                transition: all 0.35s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: -10px 10px rgba(0, 0, 0, 0.3);

                span{
                    font-family:FFBold;
                    color:$base;
                    font-size:2em;
                    text-align:center;
                }

                &.highlight{
                    background-color:$base;
                }

                &.over{
                    transform:scale(1.2);
                    background-color:lighten($base, 20%);
                }
            }
        }

        .draggable-elements{
            width: 60%;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: row;
            padding: 30px;
            background-color: rgba(255, 255, 255, 0.65);

            .draggable-element{
                padding:12px;
                background-color:#002E82;
                cursor:pointer;
                width:45%;
                margin-bottom:15px;
                transition:all 0.35s ease;

                &:hover{
                    background-color:$base;
                    transform:scale(1.1);
                }

                &.is-dragging{
                    transition:none;
                }

                span{
                    font-family:FFBold;
                    font-size:1.9em;
                    text-align:center;
                    display:table;
                    margin:0 auto;
                }
            }
        }
    }


    .buttons{
        margin-top: 20px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        position:relative;
        z-index:20;

        > .button{
            position:static;
        }
    }
}
