@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="9"]';

body[data-current-slide-class="slide9"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide9"] #wrapper {
    background-color:rgba(114, 64, 141, 0.5);

    .navigation-buttons{
        .prev{
            display:none;
        }

        .next{
            top:22%;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #374D59;
            color: #FFFFFF;
            border:solid 3px #86C3D6;
        }
    }
   
}

.swal2-modal{
    
}