@import "../_variables";
@import "./variables";
$slide: '.slide[data-slide="8"]';

body[data-current-slide-class="slide8"]{
    background-image:url(../img/2/1.png);
    background-color:transparent;
    background-size:cover;
}

body[data-current-slide-class="slide8"] #wrapper {
    background-color:#009BDB;

    .navigation-buttons{
        .prev,
        .next{
            display:none;
        }
    }
}

#{$slide} {
    .activity-icon{
        .icon{
            background-color: #E3C44B;
            color: #90133C;
  
            span{
              font-family: FFBold;
              font-size: 2.6em;
              color: #90133C;
              margin-top: 5px;
            }
          }
    }
    
    
}

