
<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 1" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 1">
    <i class="fa fa-download"></i>
  </div>
</a>

<a _href="dynamicPdf/pdf.php" target="_blank" data-activity="Actividad 3" class="disabled">
  <div class="icon" title="Descargar nuevamente las respuestas de la Actividad 3">
    <i class="fa fa-download"></i>
  </div>
</a>

<div data-id-in-slide="rtpoek" class="fs-bg pointer hover-me">
  <div class="circle"></div>
  <div class="number">1</div>
  <div class="triangle"></div>

  <div class="experience-menu" data-id="0">
    <h2 class="title">Experiencia 1</h2>
    <div class="black-square" data-id="0" data-switch-to-slide="2">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 1</h2>
    </div>
    <div class="black-square disabled" data-id="1">
      <div class="icon">
        <i class="fa fa-video-camera" aria-hidden="true"></i>
      </div>
      <span>Mecanismos para la protección y restitución de los derechos humanos - Acción de tutela - Habeas corpus</span>
    </div>
  </div>
</div>
<div data-id-in-slide="rzsdt" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">2</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="1">
    <h2 class="title">Experiencia 2</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="6">
      <div class="icon">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <span>Mecanismos para la protección y restitución de los derechos humanos - Derecho de petición - Acciones populares y de grupo</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="7">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 2</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="js94t" class="fs-bg pointer disabled">
  <div class="circle"></div>
  <div class="number">3</div>
  <div class="triangle"></div>
  <div class="experience-menu" data-id="2">
    <h2 class="title">Experiencia 3</h2>
    <div class="black-square disabled" data-id="0" data-switch-to-slide="15">
      <div class="icon">
        <i class="fa fa-info" aria-hidden="true"></i>
      </div>
      <span>Mecanismos para la protección y restitución de los derechos humanos - Acción de cumplimiento</span>
    </div>
    <div class="black-square disabled" data-id="1" data-switch-to-slide="18" title="Esta actividad prueba su proceso de aprendizaje, antes de realizarla le recomendamos explorar todos los recursos.">
      <div class="icon">
        <span>A</span>
      </div>
      <h2>Actividad 3</h2>
    </div>
  </div>
</div>
<div data-id-in-slide="119pr6vb6kshfa3ba9k9"></div>
<div data-id-in-slide="q9q53ubyxd5jv0553ik9"></div>
<div data-id-in-slide="qvj56d8l1taxyfuvj9k9"></div>
<div data-id-in-slide="lls2bns7sld5gagiudi"></div>
<div data-id-in-slide="8da0sahyn7one6q8y3nmi"></div>
<div data-id-in-slide="w2yp2wccb3wteu3qbbj4i"></div>
<div data-id-in-slide="le38s3dd15g7zmfmkj4i"></div>
<div data-id-in-slide="yiaflbuujxd14zcpd5cdi"></div>
<div data-id-in-slide="wnbm2gopm69in8us1yvi"></div>