<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 3</h2>
</div>
<div data-id-in-slide="x3eaj6s8uzb7okh2gldi" class="character"></div>
<div data-id-in-slide="n0tsaks2b2640ksxlxr" class="description">
    Responda las pregunta de acuerdo a sus conocimientos. Seleccione el nivel en que considera están sus conocimientos del tema. 
</div>
<div data-id-in-slide="h84hhejpq0wqwo1j1yvi" class="question">
    ¿DIFERENCIO EL MARCO LEGAL DE CADA UNO DE LOS MECANISMOS DE PROTECCION DE DERECHOS HUMANOS?
</div>
<div data-id-in-slide="101cjg5ofgrsoabblz0k9"></div>
<div data-id-in-slide="wcp5awyz0e4iy4l323xr" class="range-selector">
    <div class="reflection"></div>
    <div class="liquid">
        <div class="top"></div>
        <div class="fill"></div>
    </div>
    <div class="ranges">
        <div class="range">
            <span>DEFINO Y APLICO</span>
        </div>
        <div class="range">
            <span>DEFINO TODOS</span>
        </div>
        <div class="range">
            <span>DEFINO AL MENOS DOS</span>
        </div>
        <div class="range">
            <span>NO DEFINO</span>
        </div>
    </div>
</div>
<div class="button finish hoverable">
    <span>Finalizar</span>
</div>