<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <span>A</span>
    </div>
  </div>
  <h2>Actividad de aprendizaje 2</h2>
</div>
<div data-id-in-slide="x3eaj6s8uzb7okh2gldi" class="character"></div>
<div data-id-in-slide="101cjg5ofgrsoabblz0k9"></div>
<div class="cards">
  <a href="img/PDF2.pdf" target="_blank">
    <div class="card">
      <h2>EL DERECHO A LA SALUD ES EL MÁS VULNERADO”: PERSONERO DE VALLEDUPAR</h2>
      <span>Tomado de El Pilón (11 de diciembre de 2016). “El derecho a la salud es el más vulnerado”: personero de Valledupar. Recuperado de https://elpilon.com.co/derecho-la-salud-mas-vulnerado-personero-valledupar/ /span>
    </div>
  </a>
  <a href="img/PDF3.pdf" target="_blank">
    <div class="card">
      <h2>MARIANA, LA PEQUEÑA A LA QUE LE NIEGAN LA EDUCACIÓN POR SU DISCAPACIDAD VISUAL. </h2>
      <span>Tomado de El Universal (20 de abril de 2015). Mariana, la pequeña a la que le niegan la educación por su discapacidad visual. Recuperado de http://www.eluniversal.com.co/cartagena/mariana-la-pequena-la-que-le-niegan-la-educacion-por-su-discapacidad-visual-191138-GCEU290521</span>
    </div>
  </a>
  <a href="img/PDF4.pdf" target="_blank">
    <div class="card">
      <h2>EL PANORAMA DE LAS AGRESIONES A LA COMUNIDAD LGBT EN COLOMBIA.</h2>
      <span>Nota 3: Tomado de ELTIEMPO.COM (27 de junio de 2018). El panorama de las agresiones a la comunidad LGBT en Colombia. Recuperado de https://www.eltiempo.com/colombia/otras-ciudades/agresiones-contra-comunidad-lgbt-en-colombia-218668</span>
    </div>
  </a>
</div>
<div data-id-in-slide="ems1olqc4kr5mjf9a4i"></div>
<div data-id-in-slide="w5vy37q5sxfx7eo5stt9"></div>
<div data-id-in-slide="hi45q122idaufxx647vi" class=" text">
  ¿Qué noticia atrajo más su atención? Selecciónela y acceda al link que corresponda para leerla completa
</div>
