<div class="title-slide fs-bg" data-ani-class="bounceInRight">
  <div class="activity-icon">
    <div class="icon">
      <i class="fa fa-info"></i>
    </div>
  </div>
  <h2>Acción de cumplimiento</h2>
</div>
<div data-id-in-slide="czbfulrdu585i885mi"></div>
<div data-id-in-slide="sdguvjexss7t2fn7b9"></div>

<div class="content">
    <div class="title">
        <div class="icon">
            <i class="fa fa-book" aria-hidden="true"></i>
        </div>
        <div class="text">¿QUÉ ES UNA ACCIÓN DE CUMPLIMIENTO?</div>
    </div>
    <div class="description">
        <p>Es la garantía constitucional que pueden ejercer todas las personas para que la autoridad judicial competente ordene el cumplimiento de una norma con fuerza material de ley o de un acto administrativo. El ejercicio de la acción de cumplimiento se encuentra reglamentado en la (Ley 393 de 1997).</p>
    </div>
</div>