<h1>SELECCIONE UN AVATAR</h1>
<hr>
<div class="characters">
    <div class="character-selector" data-id="1">
        <div class="face"></div>
    </div>
    <div class="character-selector" data-id="2">
        <div class="face"></div>
    </div>
    <div class="character-selector" data-id="3">
        <div class="face"></div>
    </div>
    <div class="character-selector" data-id="4">
        <div class="face"></div>
    </div>
</div>