<div data-id-in-slide="x3eaj6s8uzb7okh2gldi" class="character"></div>
<div data-id-in-slide="101cjg5ofgrsoabblz0k9"></div>
<div data-id-in-slide="ems1olqc4kr5mjf9a4i"></div>
<div data-id-in-slide="w5vy37q5sxfx7eo5stt9"></div>
<div data-id-in-slide="hi45q122idaufxx647vi" class="text">
Hemos finalizado, ¿Considera que define claramente los mecanismos de protección de Derechos Humanos en Colombia? Continúe y suba su documento a la plataforma virtual en el foro.
</div>
<div class="button hoverable finish">
    <span>Guardar</span>
</div>