<h2>Usted acaba de concluir sus experiencias de aprendizaje de la unidad Mecanismos Nacionales de protección de derechos humanos.
</h2>
<br>
<h2>Si considera que debe realizar modificaciones o mejoras a la
actividad 2. Lo puede hacer en este momento.</h2>