<div class="ova-content-header">
    <div class="secondary-info">
        <div class="pdf disabled" title="PDF de la unidad">
            <a _href="img/PDF.pdf" target="_blank">
                <div class="icon">
                    <i class="fa fa-file-pdf-o"></i>
                </div>
            </a>
        </div>
        <div class="learned-concepts" title="Conceptos obtenidos">
            <div class="star animated flip"></div>
        </div>
        <div class="glossary hoverable" title="Ver conceptos"></div>

        <div class="fullscreen" title="Ver en pantalla completa">
            <i class="fa fa-arrows fa-rotate-90 hoverable"></i>
        </div>
    </div>
</div>
