<div class="title-slide" data-ani-class="bounceInRight">
  <h2>Cultura organizacional y Comités de Convivencia laboral y <br> Seguridad y Salud en el trabajo</h2>
</div>
<div class="button hoverable button-continuar btn_cont_S3" data-ani-class="bounceInLeft"><span>Continuar Explorando</span></div>

<iframe src="https://www.youtube.com/embed/{{media.AV.mediaid}}?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> 
<!-- <iframe src="https://www.youtube.com/embed/npc8ctnS6wo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
